Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

[MIRROR] Bumps BYOND to 514.1572 (#4567)
  Dockerfile
  code/_compile_options.dm
  code/modules/client/client_procs.dm
  dependencies.sh
Owners: none

Automatic changelog generation for PR #4567 [ci skip]
  html/changelogs/AutoChangeLog-pr-4567.yml
Owners: none

Automatic changelog generation for PR #4558 [ci skip]
  html/changelogs/AutoChangeLog-pr-4558.yml
Owners: none

[MIRROR] Fix update_light() Runtime in disco light (#4569)
  code/game/objects/items/devices/flashlight.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4558.yml
  html/changelogs/AutoChangeLog-pr-4559.yml
  html/changelogs/AutoChangeLog-pr-4564.yml
  html/changelogs/AutoChangeLog-pr-4565.yml
  html/changelogs/AutoChangeLog-pr-4567.yml
Owners: none

[MIRROR] Fix inserting prisoner IDs into prisoner consoles (#4570)
  code/game/machinery/computer/prisoner/_prisoner.dm
Owners: none

Automatic changelog generation for PR #4570 [ci skip]
  html/changelogs/AutoChangeLog-pr-4570.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4570.yml
Owners: none

one more time
  auxtools/auxmos.dll
Owners: none

dock
  Dockerfile
Owners: none

some fixes (#6022)
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Owners: none

Adds more crayons and pens to the HoP office
  _maps/map_files/Austation/Austation.dmm
Owners: none

stuff
  austation/code/game/turfs/open/floor.dm
  code/game/turfs/open/floor.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Adds Colorizers, a way to reskin your items (#5822)
  beestation.dme
  code/game/objects/items/colorizers/clothing.dm
  code/game/objects/items/colorizers/colorizer.dm
  code/game/objects/items/colorizers/mobs.dm
  code/modules/client/loadout/loadout_colorizers.dm
  icons/mob/neck.dmi
  icons/obj/clothing/cloaks.dmi
Owners: @ike709

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

web tgui input lists
  austation.dme
  austation/code/game/objects/items/devices/floor_painter.dm
  austation/code/modules/tgui/tgui_input_list.dm
  code/__HELPERS/files.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/ai.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/scrolls.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/transform_procs.dm
  code/modules/shuttle/assault_pod.dm
  code/modules/surgery/helpers.dm
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/styles/interfaces/ListInput.scss
  tgui/packages/tgui/styles/main.scss
Owners: none

[MIRROR] Fix disposals deleting contents in rare cases (#4572)
  code/modules/recycling/disposal/pipe.dm
Owners: none

Automatic changelog generation for PR #4572 [ci skip]
  html/changelogs/AutoChangeLog-pr-4572.yml
Owners: none

[MIRROR] Admiral outfit gets a megaphone (#4573)
  code/modules/clothing/outfits/standard.dm
Owners: none

Automatic changelog generation for PR #4573 [ci skip]
  html/changelogs/AutoChangeLog-pr-4573.yml
Owners: none

Give EVA and External airlock access to the CMO (#5908)
  code/modules/jobs/job_types/chief_medical_officer.dm
Owners: none

[MIRROR] Adding some circuit boards to existing machines (#4574)
  beestation.dme
  code/__DEFINES/wires.dm
  code/datums/wires/mass_driver.dm
  code/game/machinery/igniter.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/loot/research_disks.dm
  code/modules/shuttle/super_cruise/shuttle_components/plasma_refiner.dm
  icons/obj/atmospherics/components/unary_devices.dmi
  icons/obj/stationobjs.dmi
Owners: @powerfulbacon

Automatic changelog generation for PR #4574 [ci skip]
  html/changelogs/AutoChangeLog-pr-4574.yml
Owners: none

modularization
  code/modules/mob/living/simple_animal/hostile/cat_butcher.dm
Owners: none

sussy
  code/modules/mob/living/simple_animal/hostile/cat_butcher.dm
Owners: none

[MIRROR] ERTs now have a minimum living time requirement (#4577)
  code/__HELPERS/game.dm
  code/modules/admin/verbs/one_click_antag.dm
Owners: none

Automatic changelog generation for PR #4577 [ci skip]
  html/changelogs/AutoChangeLog-pr-4577.yml
Owners: none

[MIRROR] pneumatic cannon nerf (#4578)
  code/game/objects/items/pneumaticCannon.dm
Owners: none

Automatic changelog generation for PR #4578 [ci skip]
  html/changelogs/AutoChangeLog-pr-4578.yml
Owners: none

[MIRROR] fixes ai beeing able to see overhead chat trough static (#4579)
  code/datums/chatmessage.dm
Owners: none

Automatic changelog generation for PR #4579 [ci skip]
  html/changelogs/AutoChangeLog-pr-4579.yml
Owners: none

[MIRROR] Extrapolator tweaks (#4581)
  code/game/objects/items/devices/scanners.dm
Owners: none

Automatic changelog generation for PR #4581 [ci skip]
  html/changelogs/AutoChangeLog-pr-4581.yml
Owners: none

[MIRROR] cat butcher's revenge! (#4575)
  _maps/RandomRooms/5x4/sk_rdm075_kilosurgery.dmm
  code/modules/mob/living/simple_animal/hostile/cat_butcher.dm
Owners: none

Automatic changelog generation for PR #4575 [ci skip]
  html/changelogs/AutoChangeLog-pr-4575.yml
Owners: none

[MIRROR] Fixes bad taste description logic for fruit wine (#4582)
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Owners: none

Automatic changelog generation for PR #4582 [ci skip]
  html/changelogs/AutoChangeLog-pr-4582.yml
Owners: none

Discovery Scanner Inhands (#5934)
  code/modules/exploration_crew/discovery_research/discovery_scanner.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4572.yml
  html/changelogs/AutoChangeLog-pr-4573.yml
  html/changelogs/AutoChangeLog-pr-4574.yml
  html/changelogs/AutoChangeLog-pr-4575.yml
  html/changelogs/AutoChangeLog-pr-4577.yml
  html/changelogs/AutoChangeLog-pr-4578.yml
  html/changelogs/AutoChangeLog-pr-4579.yml
  html/changelogs/AutoChangeLog-pr-4581.yml
  html/changelogs/AutoChangeLog-pr-4582.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
