Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @crossedfall, @TheFakeElon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

<<<<<<< HEAD

# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10
=======
# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
>>>>>>> ca9bc0b87d... Update CODEOWNERS (#5067)

# thefakeelon
/austation/code/modules/coilgun @TheFakeElon

[MIRROR] Corgstation fix #2 (#4088)
  _maps/map_files/CorgStation/CorgStation.dmm
Owners: none

Automatic changelog generation for PR #4088 [ci skip]
  html/changelogs/AutoChangeLog-pr-4088.yml
Owners: none

[MIRROR] Budget cards are indestructible (#4083)
  code/game/objects/items/cards_ids.dm
Owners: none

Automatic changelog generation for PR #4083 [ci skip]
  html/changelogs/AutoChangeLog-pr-4083.yml
Owners: none

[MIRROR] Fixes custom shuttle docking (#4089)
  code/modules/shuttle/custom_shuttle.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_console.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_docking.dm
Owners: none

Automatic changelog generation for PR #4089 [ci skip]
  html/changelogs/AutoChangeLog-pr-4089.yml
Owners: none

[MIRROR] fixes instruments not beeing hearable by mobs in content lists etc. (#4095)
  code/game/objects/structures/musician.dm
Owners: none

Automatic changelog generation for PR #4095 [ci skip]
  html/changelogs/AutoChangeLog-pr-4095.yml
Owners: none

Fixes Instruments t2 (#5289)
  code/game/objects/structures/musician.dm
Owners: none

Runechat fixes (#5295)
  code/modules/mob/living/say.dm
Owners: none

yes (#5292)
  strings/names/last.txt
Owners: none

meta and pubby (#5293)
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: none

Asteroid mining improvements (#5257)
  code/game/objects/structures/flora.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/asteroid_generator.dm
Owners: none

Update law.dm (#5230)
  code/game/machinery/computer/law.dm
Owners: none

Update allinone.dm (#5285)
  code/game/machinery/telecomms/machines/allinone.dm
Owners: none

Adds pets to a variety of places (#5249)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/capsule_traitor.dmm
  _maps/shuttles/exploration_corg.dmm
  _maps/shuttles/exploration_delta.dmm
  _maps/shuttles/exploration_shuttle.dmm
Owners: none

Adds Debtor and Assistant traitor item, Bottle of Mystery Pills (#5221)
  code/modules/uplink/uplink_items.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4083.yml
  html/changelogs/AutoChangeLog-pr-4088.yml
  html/changelogs/AutoChangeLog-pr-4089.yml
  html/changelogs/AutoChangeLog-pr-4095.yml
  html/changelogs/AutoChangeLog-pr-4097.yml
Owners: none

big brain
  austation/code/game/machinery/doors/firedoor.dm
  auxtools/auxmos.dll
  code/controllers/subsystem/air.dm
  code/modules/mapping/map_template.dm
  tools/build/build.js
Owners: @crossedfall

no longer valid
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Owners: none

twitch plays goose (#5299)
  beestation.dme
  code/__DEFINES/dcs/signals.dm
  code/datums/components/deadchat_control.dm
  code/datums/components/orbiter.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/mob/say.dm
  code/modules/power/singularity/singularity.dm
Owners: none

Ports the Requests Manager (#5300)
  beestation.dme
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/requests.dm
  code/modules/client/client_procs.dm
  code/modules/requests/request.dm
  code/modules/requests/request_manager.dm
  tgui/packages/tgui/interfaces/RequestManager.js
  tgui/packages/tgui/styles/interfaces/RequestManager.scss
  tgui/packages/tgui/styles/main.scss
Owners: none

Port fixes and refactors for adminhelp and TGS/IRC/Discord communication (#4979)
  code/__HELPERS/roundend.dm
  code/_onclick/ai.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/who.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/shuttle/emergency.dm
Owners: none

Update magicarp.dm (#5091)
  code/modules/events/wizard/magicarp.dm
Owners: none

Minor radio/intercom fixes and improvements (#5111)
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
Owners: none

a (#5148)
  icons/mob/human_parts.dmi
  icons/mob/human_parts_greyscale.dmi
Owners: none

Refactor to syndie boxes/kits (#5241)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/admin/battle_royale.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Nuclear detonation countdown music (#5302)
  code/game/sound.dm
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  sound/soundtrack/countdown.ogg
Owners: none

X-ray flash protection changes (#4685)
  code/game/objects/items/grenades/flashbang.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/eyes.dm
Owners: none

Bluespace bag of holdings now require line of site to dump contents at range. (#4772)
  code/datums/components/storage/concrete/bluespace.dm
Owners: none

Remote Material Connections may not cross Z-levels (#4790)
  code/datums/components/remote_materials.dm
Owners: none

Fireman carry qol from /tg/ (#4665)
  code/datums/components/riding.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/tables_racks.dm
Owners: none

Supermatter Surge (#4969)
  beestation.dme
  code/modules/events/supermatter_surge.dm
Owners: none

Port a bunch of small things from the project (#4986)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/shuttles.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/garbage.dm
  code/datums/cinematic.dm
  code/datums/components/crafting/recipes.dm
  code/datums/components/material_container.dm
  code/game/atoms.dm
  code/game/objects/items/spear.dm
  code/game/objects/structures/transit_tubes/transit_tube_construction.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/floor.dm
  code/modules/admin/verbs/SDQL2/SDQL_2.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/mint.dm
  code/modules/modular_computers/file_system/programs/alarm.dm
  code/modules/projectiles/gun.dm
Owners: none

Tgui bounty console and NTOS bounty program (#4987)
  beestation.dme
  code/modules/cargo/bounty_console.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/cargobounty.dm
  code/modules/modular_computers/hardware/printer.dm
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_tablet.dmi
  tgui/packages/tgui/interfaces/CargoBountyConsole.js
  tgui/packages/tgui/interfaces/NtosBountyConsole.js
Owners: none

boom (#5055)
  code/game/objects/items/storage/boxes.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/medical_designs.dm
Owners: none

Moves the ash walkers malf AI module to the syndicate vault. (#5123)
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
Owners: none

removes seperated chemicals (#5306)
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/plant_genes.dm
Owners: none

beep boop (#4956)
  config/game_options.txt
Owners: @MCterra10

Adds a living time config to the panic bunker (#4984)
  code/controllers/configuration/entries/general.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/client/client_procs.dm
  config/config.txt
Owners: @MCterra10
