Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Simplifies the pull request template (#6479)
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

nab teegee code and sprites (#6464)
  code/modules/power/lighting.dm
  icons/obj/lighting_overlay.dmi
Owners: none

Reduce radius for oil extract's plasma reaction (#6457)
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Owners: none

Adds greater visibility to Cryopod Admin Messages (#6443)
  code/game/machinery/cryopod.dm
Owners: none

Fixed typo in Dr. Gibb description (#6471)
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Owners: none

Fixes ai Cntrl click on atmos machinary and some qol changes (#6414)
  code/_onclick/ai.dm
Owners: none

fixes disposal pipe icon (#6484)
  code/modules/recycling/disposal/construction.dm
Owners: none

Ports an important DNA console fix (#6486)
  code/game/machinery/computer/dna_console.dm
Owners: none

Fixes typo in exploration room (#6489)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
Owners: none

Change brig timer to use real time instead of server time (#6485)
  code/game/machinery/doors/brigdoors.dm
Owners: none

[MIRROR] Ports an important DNA console fix (#4853)
  code/game/machinery/computer/dna_console.dm
Owners: none

Automatic changelog generation for PR #4853 [ci skip]
  html/changelogs/AutoChangeLog-pr-4853.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4853.yml
Owners: none

Xenoartifact Labeler & Label (Part 1)
  austation.dme
  austation/code/modules/popes-xenoarchaeology/xenoartifact.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_label.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_labeler.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_structure.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_traits.dm
  austation/icons/obj/xenoartifact.dmi
  tgui/docs/tutorial-and-examples.md
  tgui/packages/tgui/interfaces/XenoartifactLabeler.js
Owners: none

DME
  austation.dme
  austation/code/modules/popes-xenoarchaeology/xenoartifact_label.dm
Owners: none

Bump the client version to 1582 (#6498)
  code/modules/client/client_procs.dm
Owners: none

shame
  auxtools/auxmos.dll
  code/controllers/subsystem/air.dm
  code/game/turfs/open/floor.dm
Owners: none

bump that bitch
  auxtools/auxmos.dll
  dependencies.sh
Owners: none

New Medical Implant, Surgery minor fix (#6097)
  code/__DEFINES/DNA.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/loot/research_disks.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/surgery.dm
Owners: @powerfulbacon

Xenoartifact Labeler & Label (Part 2) & Friends
  austation/code/modules/popes-xenoarchaeology/xenoartifact.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_label.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_labeler.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_structure.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_traits.dm
  austation/icons/obj/xenoartifact.dmi
  austation/icons/obj/xenoartifact/xenoartifact_sticker.dmi
  tgui/packages/tgui/interfaces/XenoartifactLabeler.js
Owners: none

Turn off microwave on powerloss (#6499)
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
Owners: none

Notifies silicon users when their TGUI window pool is exhausted (#6505)
  code/controllers/subsystem/tgui.dm
Owners: none

Adds mentor chat to the TGUI chat filter and improves MSAY window. (#6503)
  code/__DEFINES/chat.dm
  code/modules/mentor/mentorsay.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Owners: none

Stops current sounds when you go deaf (#6504)
  code/datums/mutations/body.dm
  code/modules/surgery/organs/ears.dm
Owners: none

Fixes the atmosbot control panel (#6511)
  code/modules/mob/living/simple_animal/bot/atmosbot.dm
Owners: none

Makes automatic conveyors actually start processing (#6514)
  code/modules/recycling/conveyor2.dm
Owners: none

Fixes magic SMES charge display trying to divide by infinity (#6513)
  code/modules/power/smes.dm
Owners: none

Fixes defibrillator overlay not appearing on the pre-loaded wallmount (#6519)
  code/game/machinery/defibrillator_mount.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Fixes issue with pixel perfect 1.5x not saving properly (#6522)
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences_savefile.dm
Owners: none

Space vines fix (#6500)
  code/modules/events/spacevine.dm
Owners: none

Repipes Kilo to be less cancer. (#6447)
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: none

No More Crewsimov (#6461)
  code/datums/ai_laws.dm
  config/game_options.txt
Owners: @MCterra10

New ID sprites (#6474)
  code/game/machinery/PDApainter.dm
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_types/brigphys.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/deputy.dm
  code/modules/jobs/job_types/emt.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/virologist.dm
  icons/obj/card.dmi
Owners: none

Fixes global bitflag list (#6524)
  code/__DEFINES/flags.dm
Owners: none

Fixed a typo (#6533)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Owners: none

pause correctly
  code/controllers/subsystem/air.dm
Owners: none

update
  auxtools/auxmos.dll
  code/controllers/subsystem/air.dm
  dependencies.sh
Owners: none

Github is telling me to make my commit titles shorter. Why should I do that?
  _maps/map_files/Austation/Austation.dmm
  austation.dme
  austation/code/modules/popes-xenoarchaeology/xenoartifact.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_console.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_defines.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_label.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_labeler.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_seller.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_structure.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_traits.dm
  austation/icons/obj/xenoartifact/xenartifact.dmi
  tgui/packages/tgui/interfaces/XenoartifactConsole.js
  tgui/packages/tgui/interfaces/XenoartifactLabeler.js
Owners: none

fix exploit (#6540)
  code/game/world.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
