Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Automatic changelog generation for PR #4189 [ci skip]
  html/changelogs/AutoChangeLog-pr-4189.yml
Owners: none

[MIRROR] Tgui bounty console and NTOS bounty program (#4128)
  beestation.dme
  code/modules/cargo/bounty_console.dm
  code/modules/modular_computers/computers/item/tablet_presets.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/cargobounty.dm
  code/modules/modular_computers/hardware/printer.dm
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_tablet.dmi
  tgui/packages/tgui/interfaces/CargoBountyConsole.js
  tgui/packages/tgui/interfaces/NtosBountyConsole.js
Owners: none

Automatic changelog generation for PR #4128 [ci skip]
  html/changelogs/AutoChangeLog-pr-4128.yml
Owners: none

[MIRROR] Cryo syringes now freeze their reagents rather than just stopping them from reacting. (#4130)
  code/game/objects/items/storage/boxes.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/medical_designs.dm
Owners: none

Automatic changelog generation for PR #4130 [ci skip]
  html/changelogs/AutoChangeLog-pr-4130.yml
Owners: none

Automatic TGUI Rebuild [ci skip]
  tgui/public/tgui.bundle.js
Owners: none

[MIRROR] Moves the ash walkers malf AI module to the syndicate vault. (#4131)
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
Owners: none

Automatic changelog generation for PR #4131 [ci skip]
  html/changelogs/AutoChangeLog-pr-4131.yml
Owners: none

[MIRROR] Removes adminheal and instant death bolts from xenobiology magicarps (Chaos + regular). (#4117)
  austation.dme
  austation/code/modules/events/wizard/magicarp.dm
  code/modules/events/wizard/magicarp.dm
Owners: none

Automatic changelog generation for PR #4117 [ci skip]
  html/changelogs/AutoChangeLog-pr-4117.yml
Owners: none

Fixes cult failing to setup, Fixes pre_setup not being run at the correct time and place. (#4916)
  code/controllers/subsystem/ticker.dm
  code/game/gamemodes/clock_cult/clockcult.dm
  code/game/gamemodes/cult/cult.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/clock_cult/helpers/reebe_loader.dm
Owners: none

[MIRROR] Fixes cult failing to setup, Fixes pre_setup not being run at the correct time and place. (#4132)
  code/controllers/subsystem/ticker.dm
  code/game/gamemodes/clock_cult/clockcult.dm
  code/game/gamemodes/cult/cult.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/clock_cult/helpers/reebe_loader.dm
Owners: none

Automatic changelog generation for PR #4132 [ci skip]
  html/changelogs/AutoChangeLog-pr-4132.yml
Owners: none

modularize changes
  austation.dme
  austation/code/modules/hydroponics/grown/berries.dm
  austation/code/modules/hydroponics/plant_genes.dm
Owners: none

conflict
  config/game_options.txt
Owners: @MCterra10

[MIRROR] Removes separated chemicals from botany (#4133)
  austation.dme
  austation/code/modules/hydroponics/grown/berries.dm
  austation/code/modules/hydroponics/plant_genes.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/berries.dm
  code/modules/hydroponics/plant_genes.dm
Owners: none

Automatic changelog generation for PR #4133 [ci skip]
  html/changelogs/AutoChangeLog-pr-4133.yml
Owners: none

[MIRROR] Enables Random Laws for AI (#4135)
  config/game_options.txt
Owners: @MCterra10

Automatic changelog generation for PR #4135 [ci skip]
  html/changelogs/AutoChangeLog-pr-4135.yml
Owners: none

[MIRROR] Adds a living time config to the panic bunker (#4136)
  code/controllers/configuration/entries/general.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/client/client_procs.dm
  config/config.txt
Owners: @MCterra10

Automatic changelog generation for PR #4136 [ci skip]
  html/changelogs/AutoChangeLog-pr-4136.yml
Owners: none

[MIRROR] Adds the AI lab ruin room. (#4140)
  _maps/RuinGeneration/13x13_ai-lab.dmm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_part_types.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4140 [ci skip]
  html/changelogs/AutoChangeLog-pr-4140.yml
Owners: none

[MIRROR] Reduce unnecessary tgui updates (#4141)
  code/modules/tgui/tgui.dm
Owners: none

Automatic changelog generation for PR #4141 [ci skip]
  html/changelogs/AutoChangeLog-pr-4141.yml
Owners: none

Refactors / Rebalances some gun stuff (#5047)
  code/__DEFINES/inventory.dm
  code/datums/components/twohanded.dm
  code/modules/antagonists/clock_cult/mobs/cogscarab.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Owners: none

[MIRROR] Meteor storm inbound (#4143)
  beestation.dme
  code/__DEFINES/layers.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/events/meteor_wave.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/meteor.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4143 [ci skip]
  html/changelogs/AutoChangeLog-pr-4143.yml
Owners: none

[MIRROR] Removes blocking from batongs (#4148)
  code/game/objects/items/stunbaton.dm
Owners: none

Automatic changelog generation for PR #4148 [ci skip]
  html/changelogs/AutoChangeLog-pr-4148.yml
Owners: none

[MIRROR] Chap's soulstone can no longer shard dead bodies with souls. (#4150)
  code/modules/antagonists/wizard/equipment/soulstone.dm
Owners: none

Automatic changelog generation for PR #4150 [ci skip]
  html/changelogs/AutoChangeLog-pr-4150.yml
Owners: none

[MIRROR] More math related components for Wiremod (#4151)
  beestation.dme
  code/__DEFINES/wiremod.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/abstract/arbitrary_input_amount.dm
  code/modules/wiremod/components/math/arithmetic.dm
  code/modules/wiremod/components/math/bitflag.dm
  code/modules/wiremod/components/math/bitwise.dm
  code/modules/wiremod/components/math/round.dm
  code/modules/wiremod/components/math/trig.dm
Owners: none

Automatic changelog generation for PR #4151 [ci skip]
  html/changelogs/AutoChangeLog-pr-4151.yml
Owners: none

[MIRROR] fixes mech radios acting funny (#4152)
  code/game/mecha/mecha.dm
Owners: none

Automatic changelog generation for PR #4152 [ci skip]
  html/changelogs/AutoChangeLog-pr-4152.yml
Owners: none

[MIRROR] More lavaland cave generation fixes (#4153)
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_swarmer_crash.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  code/__DEFINES/maps.dm
  code/controllers/subsystem/mapping.dm
  code/datums/mapgen/CaveGenerator.dm
  code/datums/mapgen/Cavegens/LavalandGenerator.dm
  code/datums/mapgen/JungleGenerator.dm
  code/game/area/areas.dm
  code/modules/mapping/preloader.dm
  code/modules/mapping/reader.dm
  icons/turf/floors.dmi
Owners: none

Automatic changelog generation for PR #4153 [ci skip]
  html/changelogs/AutoChangeLog-pr-4153.yml
Owners: none

[MIRROR] Makes abandoned crates explode on being EMPed (#4154)
  code/modules/mining/abandoned_crates.dm
Owners: none

Automatic changelog generation for PR #4154 [ci skip]
  html/changelogs/AutoChangeLog-pr-4154.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
