Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

Petty badge update (#5722)
  config/badges.json
  icons/badges.dmi
Owners: @MCterra10

Fixes maps again (#5724)
  beestation.dme
  code/__DEFINES/config_defines.dm
  code/__DEFINES/text.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
Owners: none

Disables Fly & Squid characters (#5690)
  config/game_options.txt
Owners: @MCterra10

Janitorial Rebalance (#5719)
  code/game/objects/items/holosign_creator.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/wardrobes.dm
Owners: none

fixes lowmemory mode (#5733)
  code/_compile_options.dm
  code/controllers/subsystem/mapping.dm
Owners: none

Fixes another runtime with TGUI and null clients (#5723)
  code/modules/tgui/tgui.dm
Owners: none

lmao (#5635)
  code/controllers/subsystem/mapping.dm
Owners: none

Moves mindcrawler play time (#5693)
  code/controllers/subsystem/shuttle.dm
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Owners: none

Ima do a fixer
  austation/code/modules/research/designs/biogenerator_designs.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/reagents/chemistry/recipes/toxins.dm
  code/modules/research/designs/biogenerator_designs.dm
Owners: none

one liner to fix silicon windoor access (#5738)
  code/game/machinery/doors/windowdoor.dm
Owners: none

spelling
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/designs/biogenerator_designs.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

ssmokin
  austation.dme
  austation/code/__DEFINES/atmospherics.dm
  austation/code/controllers/subsystem/fire_burning.dm
  austation/code/modules/atmospherics/auxgm/gas_types.dm
  austation/code/modules/atmospherics/gasmixtures/auxgm.dm
  austation/code/modules/atmospherics/gasmixtures/reactions.dm
  austation/icons/effects/96x96.dmi
  code/modules/atmospherics/gasmixtures/auxgm.dm
  code/modules/mob/living/carbon/life.dm
Owners: none

look better darn you
  austation/code/modules/atmospherics/auxgm/gas_types.dm
  austation/code/modules/atmospherics/gasmixtures/auxgm.dm
  code/modules/atmospherics/gasmixtures/auxgm.dm
Owners: none

delete garbage
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Owners: none

mehn
  code/modules/mob/living/carbon/life.dm
  tgui/public/tgui.bundle.css
Owners: none

delete garbage (#4409)
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Owners: none

virology gameplay tweaks and rebalances (again) (#5567)
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/presets.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/viral.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/brigphys.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/emt.dm
  code/modules/jobs/job_types/exploration_team.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/gimmick.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/reagent_containers/syringes.dm
Owners: none

removes flash protection (#5681)
  code/modules/shuttle/emergency.dm
Owners: none

Fixes silicons teleporting intellicards and ID cards using modular consoles (#5716)
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/hardware/ai_slot.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/modular_computers/hardware/card_slot.dm
Owners: none

Code for roundstart_no_hard_check config option (#5730)
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species.dm
  config/game_options.txt
Owners: @MCterra10

fuck (#5752)
  code/game/machinery/cryopod.dm
Owners: none

smile (#5754)
  code/_globalvars/regexes.dm
Owners: none

[MIRROR] protects the filename regex global (#4415)
  code/_globalvars/regexes.dm
Owners: none

Automatic changelog generation for PR #4415 [ci skip]
  html/changelogs/AutoChangeLog-pr-4415.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4415.yml
Owners: none

Medibot Fix (#5760)
  code/modules/mob/living/simple_animal/bot/medbot.dm
Owners: none

Your mother is attracted to the opposite gender
  code/modules/hydroponics/hydroponics.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

Discovery Scanner and DNA probe now check if the mob is holographic (#5741)
  code/modules/exploration_crew/discovery_research/discoverable_component.dm
  code/modules/station_goals/dna_vault.dm
Owners: none

Xenomorph queen only triggers hostile environment if it's on the station Z level (#5697)
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Owners: none

Fixes Vortex Talisman (#5748)
  code/modules/mining/equipment/kinetic_crusher.dm
Owners: none

TGUI protolathe, techfab, circuit imprinter (#4841)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/material_container.dm
  code/datums/components/remote_materials.dm
  code/modules/research/machinery/_production.dm
  tgui/packages/tgui/interfaces/TechFab.js
  tgui/packages/tgui/styles/interfaces/TechFab.scss
  tgui/packages/tgui/styles/main.scss
Owners: none

Logs grenade priming in combat logs (#5756)
  code/game/objects/items/grenades/grenade.dm
Owners: none

code should be done now :)
  austation/code/game/materialization.dm
Owners: none

Fix research tier calculation (#5751)
  code/modules/research/techweb/_techweb.dm
Owners: none

Gun Wielding Refactor (#5762)
  code/datums/components/twohanded.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Owners: none

Expands the Ethereal colour list (#5545)
  code/_globalvars/lists/flavor_misc.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Owners: none

Fix armory spelling (#5758)
  _maps/RuinGeneration/13x13_corgarmory.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/mapping.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_part_types.dm
Owners: @powerfulbacon

Fixes chatmessage runtime (#5713)
  code/datums/chatmessage.dm
Owners: none

Port from Citadel Station for the Ore Redemption machine and vendor icons. (#5655)
  icons/obj/machines/mining_machines.dmi
Owners: none
