Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)

Fix a bunch of issues (#1713)
  _maps/map_files/MetaStation/MetaStation.dmm
  code/datums/traits/negative.dm
  code/game/gamemodes/gangs/gang_pen.dm
  code/game/objects/effects/countdown.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/swarmer/swarmer.dm
  code/modules/cargo/packs.dm
  code/modules/keybindings/bindings_client.dm
Owners: @ShizCalev

[MIRROR] Some viro QoL stuff (#1637)
  code/__DEFINES/diseases.dm
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/lubefeet.dm
  code/datums/diseases/advance/symptoms/spiked.dm
  code/modules/mob/living/blood.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/vending/medical.dm
Owners: @zeskorion

Automatic changelog generation for PR #1637 [ci skip]
  html/changelogs/AutoChangeLog-pr-1637.yml
Owners: none

resolved conflicts
  beestation.dme
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Owners: none

line endings
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Owners: none

conflict
  code/modules/admin/sql_ban_system.dm
Owners: none

demodularize woo!
  code/game/mecha/combat/gygax.dm
  code/game/mecha/mecha_actions.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

conflict
  code/controllers/subsystem/job.dm
Owners: none

okay okay
  code/controllers/subsystem/job.dm
Owners: none

Automatic changelog generation for PR #1616 [ci skip]
  html/changelogs/AutoChangeLog-pr-1616.yml
Owners: none

[MIRROR] Differentiates mech punches between durand and gygax + removes auto punch from leg acurator (#1626)
  code/game/mecha/combat/gygax.dm
  code/game/mecha/mecha_actions.dm
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

Automatic changelog generation for PR #1626 [ci skip]
  html/changelogs/AutoChangeLog-pr-1626.yml
Owners: none

[MIRROR] Ports like 4 fix PRs from /tg/ [code for sprites] (#1629)
  beestation.dme
  code/_onclick/hud/parallax.dm
  code/controllers/subsystem/job.dm
  code/game/objects/effects/effect_system/effect_system.dm
  code/game/objects/obj_defense.dm
  code/game/objects/structures/guillotine.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/cargo/supplypod.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/mob/living/simple_animal/friendly/dog.dm
  code/modules/mob/living/simple_animal/guardian/types/protector.dm
  code/modules/modular_computers/computers/item/computer_damage.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/recycling/conveyor2.dm
  code/modules/research/experimentor.dm
Owners: none

[MIRROR] Fix a bunch of issues (#1642)
  _maps/map_files/MetaStation/MetaStation.dmm
  code/datums/traits/negative.dm
  code/game/gamemodes/gangs/gang_pen.dm
  code/game/objects/effects/countdown.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/swarmer/swarmer.dm
  code/modules/cargo/packs.dm
  code/modules/keybindings/bindings_client.dm
Owners: @ShizCalev

Automatic changelog generation for PR #1642 [ci skip]
  html/changelogs/AutoChangeLog-pr-1642.yml
Owners: none

[MIRROR] Adds in support for additional roundstart special roles (#1621)
  beestation.dme
  code/__DEFINES/antagonists.dm
  code/__DEFINES/role_preferences.dm
  code/__HELPERS/mobs.dm
  code/datums/mind.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/gangs/gangtool.dm
  code/game/gamemodes/objective.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/roundstart_special/special_antagonist.dm
  code/modules/antagonists/roundstart_special/undercover/undercover.dm
  code/modules/events/special_antag_event.dm
  code/modules/mob/dead/new_player/new_player.dm
Owners: @Qustinnus

Automatic changelog generation for PR #1621 [ci skip]
  html/changelogs/AutoChangeLog-pr-1621.yml
Owners: none

Skateboard Overhaul (#45657) (#1676)
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/datums/mutations/body.dm
  code/game/objects/items/weaponry.dm
  code/modules/vehicles/scooter.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/vending/games.dm
  icons/mob/actions/actions_vehicle.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/vehicles.dmi
  sound/vehicles/skateboard_ollie.ogg
  sound/vehicles/skateboard_roll.ogg
Owners: @ShizCalev

mfw forget to initialize a list (#1720)
  code/modules/recycling/conveyor2.dm
Owners: none

[MIRROR] mfw forget to initialize a list (#1644)
  code/modules/recycling/conveyor2.dm
Owners: none

Automatic changelog generation for PR #1644 [ci skip]
  html/changelogs/AutoChangeLog-pr-1644.yml
Owners: none

Automatic changelog generation for PR #1643 [ci skip]
  html/changelogs/AutoChangeLog-pr-1643.yml
Owners: none

[MIRROR] Skateboard Overhaul (#45657) (#1640)
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/datums/mutations/body.dm
  code/game/objects/items/weaponry.dm
  code/modules/vehicles/scooter.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/vending/games.dm
  icons/mob/actions/actions_vehicle.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/vehicles.dmi
  sound/vehicles/skateboard_ollie.ogg
  sound/vehicles/skateboard_roll.ogg
Owners: @ShizCalev

Automatic changelog generation for PR #1640 [ci skip]
  html/changelogs/AutoChangeLog-pr-1640.yml
Owners: none

Fixes radio implant preventing your headset from sending messages (#1687)
  code/modules/mob/living/say.dm
Owners: none

[MIRROR] Fixes radio implant preventing your headset from sending messages (#1646)
  code/modules/mob/living/say.dm
Owners: none

Automatic changelog generation for PR #1646 [ci skip]
  html/changelogs/AutoChangeLog-pr-1646.yml
Owners: none

flashbang changes (#1705)
  code/game/objects/items/grenades/flashbang.dm
  code/modules/surgery/organs/ears.dm
Owners: none

Update ears.dm
  code/modules/surgery/organs/ears.dm
Owners: none

Only run if it's in the upstream's repository (#1731)
  .github/workflows/compile_changelogs.yml
  .github/workflows/docker.yml
  .github/workflows/stale_issues.yml
  .github/workflows/stale_prs.yml
Owners: @crossedfall

remove old unused metacoin code (#1726)
  beestation.dme
  code/modules/client/client_procs.dm
  code/modules/metacoin/metacoin.dm
  code/modules/metacoin/metacoin_items.dm
  code/modules/metacoin/metacoin_shop.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
Owners: @qwertyquerty

[MIRROR] remove old unused metacoin code (#1650)
  beestation.dme
  code/modules/client/client_procs.dm
  code/modules/metacoin/metacoin.dm
  code/modules/metacoin/metacoin_items.dm
  code/modules/metacoin/metacoin_shop.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
Owners: @qwertyquerty

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1616.yml
  html/changelogs/AutoChangeLog-pr-1621.yml
  html/changelogs/AutoChangeLog-pr-1626.yml
  html/changelogs/AutoChangeLog-pr-1637.yml
  html/changelogs/AutoChangeLog-pr-1640.yml
  html/changelogs/AutoChangeLog-pr-1642.yml
  html/changelogs/AutoChangeLog-pr-1643.yml
  html/changelogs/AutoChangeLog-pr-1644.yml
  html/changelogs/AutoChangeLog-pr-1646.yml
Owners: none

[MIRROR] flashbang changes (#1647)
  code/game/objects/items/grenades/flashbang.dm
  code/modules/surgery/organs/ears.dm
Owners: none

Automatic changelog generation for PR #1647 [ci skip]
  html/changelogs/AutoChangeLog-pr-1647.yml
Owners: none

TGUI Tutorial fix and BYOND cache locator ports (#1739)
  tgui/docs/tutorial-and-examples.md
  tgui/packages/tgui-dev-server/reloader.js
  tgui/packages/tgui-dev-server/winreg.js
Owners: @stylemistake

[MIRROR] TGUI Tutorial fix and BYOND cache locator ports (#1651)
  tgui/docs/tutorial-and-examples.md
  tgui/packages/tgui-dev-server/reloader.js
  tgui/packages/tgui-dev-server/winreg.js
Owners: @stylemistake

Cult stun protected against by mindshields instead, and it only offers partial immunity (#1592)
  code/modules/antagonists/cult/blood_magic.dm
Owners: none

Removes the "To Kill" wish option from the wishgranter (#47084) (#1680)
  code/modules/awaymissions/mission_code/wildwest.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1647.yml
Owners: none
