Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

[MIRROR] Allows the patreon list to be used as a whitelist (#4483)
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/config.txt
Owners: @MCterra10

Automatic changelog generation for PR #4483 [ci skip]
  html/changelogs/AutoChangeLog-pr-4483.yml
Owners: none

update austation map
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] Flashes get EMPed properly (#4486)
  code/modules/assembly/flash.dm
Owners: none

Automatic changelog generation for PR #4486 [ci skip]
  html/changelogs/AutoChangeLog-pr-4486.yml
Owners: none

Fixes setting up whitelist (#5866)
  code/game/world.dm
  code/modules/admin/whitelist.dm
Owners: none

Automatic changelog generation for PR #4488 [ci skip]
  html/changelogs/AutoChangeLog-pr-4488.yml
Owners: none

[MIRROR] Adds engineering imprinter (#4484)
  _maps/map_files/Austation/Austation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/machinery/departmental_circuit_imprinter.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4484 [ci skip]
  html/changelogs/AutoChangeLog-pr-4484.yml
Owners: none

[MIRROR] Fixes setting up whitelist (#4485)
  code/game/world.dm
  code/modules/admin/whitelist.dm
Owners: none

Automatic changelog generation for PR #4485 [ci skip]
  html/changelogs/AutoChangeLog-pr-4485.yml
Owners: none

seems a key was outta order
  _maps/map_files/generic/CentCom.dmm
Owners: none

[MIRROR] More pod docks (#4489)
  _maps/map_files/generic/CentCom.dmm
Owners: none

Automatic changelog generation for PR #4489 [ci skip]
  html/changelogs/AutoChangeLog-pr-4489.yml
Owners: none

[MIRROR] Notes and messages will not automatically expire (#4490)
  code/controllers/configuration/entries/general.dm
  code/modules/admin/sql_message_system.dm
  config/config.txt
Owners: @MCterra10

Automatic changelog generation for PR #4490 [ci skip]
  html/changelogs/AutoChangeLog-pr-4490.yml
Owners: none

[MIRROR] Syndicate uniform supplies (#4491)
  code/modules/cargo/packs.dm
Owners: none

Automatic changelog generation for PR #4491 [ci skip]
  html/changelogs/AutoChangeLog-pr-4491.yml
Owners: none

[MIRROR] Lets Atmos Techs use Firedoors (#4492)
  code/game/machinery/doors/firedoor.dm
Owners: none

Automatic changelog generation for PR #4492 [ci skip]
  html/changelogs/AutoChangeLog-pr-4492.yml
Owners: none

[MIRROR] Ninja allegiance logging (#4493)
  code/modules/ninja/ninja_event.dm
Owners: none

Automatic changelog generation for PR #4493 [ci skip]
  html/changelogs/AutoChangeLog-pr-4493.yml
Owners: none

[MIRROR] Fixes runtimes when dropping assemblies (#4494)
  code/modules/assembly/holder.dm
Owners: none

Automatic changelog generation for PR #4494 [ci skip]
  html/changelogs/AutoChangeLog-pr-4494.yml
Owners: none

[MIRROR] Preperation to Preparation (#4495)
  code/game/area/Space_Station_13_areas.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Owners: none

Automatic changelog generation for PR #4495 [ci skip]
  html/changelogs/AutoChangeLog-pr-4495.yml
Owners: none

[MIRROR] Fixes runtime in CI, part 2 (#4496)
  _maps/RandomRooms/3x5/sk_rdm116_oreboxes.dmm
Owners: none

Automatic changelog generation for PR #4496 [ci skip]
  html/changelogs/AutoChangeLog-pr-4496.yml
Owners: none

[MIRROR] Fixes equiping cult or heretics failing (#4497)
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
Owners: none

Automatic changelog generation for PR #4497 [ci skip]
  html/changelogs/AutoChangeLog-pr-4497.yml
Owners: none

[MIRROR] Mutations now use a signal for on_move instead of being placed directly in human/Move() (#4499)
  code/datums/mutations.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Owners: none

Automatic changelog generation for PR #4499 [ci skip]
  html/changelogs/AutoChangeLog-pr-4499.yml
Owners: none

[MIRROR] Adds message_admins to AI Vox (#4502)
  code/modules/mob/living/silicon/ai/say.dm
Owners: none

Automatic changelog generation for PR #4502 [ci skip]
  html/changelogs/AutoChangeLog-pr-4502.yml
Owners: none

[MIRROR] Restores the pride of the Wizard Federation (#4503)
  code/modules/admin/verbs/one_click_antag.dm
Owners: none

Automatic changelog generation for PR #4503 [ci skip]
  html/changelogs/AutoChangeLog-pr-4503.yml
Owners: none

[MIRROR] Removes an exploit capable of crashing the server. (#4513)
  code/modules/research/nanites/nanite_programmer.dm
Owners: none

Automatic changelog generation for PR #4513 [ci skip]
  html/changelogs/AutoChangeLog-pr-4513.yml
Owners: none

[MIRROR] Bumps byond support to 1571 (#4504)
  Dockerfile
  code/_compile_options.dm
  code/modules/client/client_procs.dm
  dependencies.sh
Owners: none

Automatic changelog generation for PR #4504 [ci skip]
  html/changelogs/AutoChangeLog-pr-4504.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
