Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

fix hvp projectiles
  austation/code/modules/coilgun/projectile.dm
Owners: @TheFakeElon

[MIRROR] Removes Squidpeople from the codebase (#4406)
  austation/strings/names/squid_female.txt
  austation/strings/names/squid_male.txt
  beestation.dme
  code/__DEFINES/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/datums/components/caltrop.dm
  code/game/objects/effects/decals/cleanable/food.dm
  code/modules/language/language_holder.dm
  code/modules/language/rlyehian.dm
  code/modules/mob/living/carbon/human/species_types/squidpeople.dm
  code/modules/mob/living/living.dm
  code/modules/pool/components/swimming_squid.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/surgery/organs/tongue.dm
  config/game_options.txt
  icons/mob/human_parts.dmi
  icons/mob/human_parts_greyscale.dmi
  strings/names/squid_female.txt
  strings/names/squid_male.txt
Owners: @MCterra10

Automatic changelog generation for PR #4406 [ci skip]
  html/changelogs/AutoChangeLog-pr-4406.yml
Owners: none

who knew this would make so many conflicts
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Owners: none

[MIRROR] virology gameplay tweaks and rebalances (again) (#4410)
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/presets.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/viral.dm
  code/game/objects/effects/decals/cleanable/humans.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/brigphys.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/emt.dm
  code/modules/jobs/job_types/exploration_team.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/gimmick.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/reagent_containers/syringes.dm
Owners: none

Automatic changelog generation for PR #4410 [ci skip]
  html/changelogs/AutoChangeLog-pr-4410.yml
Owners: none

this should fix it
  code/game/machinery/doors/firedoor.dm
Owners: none

[MIRROR] Removes flash protection from emergency pod helmets. (#4411)
  code/modules/shuttle/emergency.dm
Owners: none

Automatic changelog generation for PR #4411 [ci skip]
  html/changelogs/AutoChangeLog-pr-4411.yml
Owners: none

[MIRROR] Fixes silicons teleporting intellicards and ID cards using modular consoles (#4412)
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/hardware/ai_slot.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/modular_computers/hardware/card_slot.dm
Owners: none

Automatic changelog generation for PR #4412 [ci skip]
  html/changelogs/AutoChangeLog-pr-4412.yml
Owners: none

[MIRROR] Code for roundstart_no_hard_check config option (#4413)
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species.dm
  config/game_options.txt
Owners: @MCterra10

Automatic changelog generation for PR #4413 [ci skip]
  html/changelogs/AutoChangeLog-pr-4413.yml
Owners: none

[MIRROR] Fixes mindless mobs updating objectives on cryo (#4414)
  code/game/machinery/cryopod.dm
Owners: none

Automatic changelog generation for PR #4414 [ci skip]
  html/changelogs/AutoChangeLog-pr-4414.yml
Owners: none

[MIRROR] Medibot Fix (#4416)
  code/modules/mob/living/simple_animal/bot/medbot.dm
Owners: none

Automatic changelog generation for PR #4416 [ci skip]
  html/changelogs/AutoChangeLog-pr-4416.yml
Owners: none

[MIRROR] Discovery Scanner and DNA probe now check if the mob is holographic (#4417)
  code/modules/exploration_crew/discovery_research/discoverable_component.dm
  code/modules/station_goals/dna_vault.dm
Owners: none

Automatic changelog generation for PR #4417 [ci skip]
  html/changelogs/AutoChangeLog-pr-4417.yml
Owners: none

[MIRROR] Xenomorph queen only triggers hostile environment if it's on the station Z level (#4418)
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Owners: none

Automatic changelog generation for PR #4418 [ci skip]
  html/changelogs/AutoChangeLog-pr-4418.yml
Owners: none

[MIRROR] Fixes Vortex Talisman (#4419)
  code/modules/mining/equipment/kinetic_crusher.dm
Owners: none

Automatic changelog generation for PR #4419 [ci skip]
  html/changelogs/AutoChangeLog-pr-4419.yml
Owners: none

[MIRROR] Logs grenade priming in combat logs (#4421)
  code/game/objects/items/grenades/grenade.dm
Owners: none

Automatic changelog generation for PR #4421 [ci skip]
  html/changelogs/AutoChangeLog-pr-4421.yml
Owners: none

[MIRROR] Fix research tier calculation (#4422)
  code/modules/research/techweb/_techweb.dm
Owners: none

Automatic changelog generation for PR #4422 [ci skip]
  html/changelogs/AutoChangeLog-pr-4422.yml
Owners: none

fix hvps properly
  austation/code/modules/coilgun/projectile.dm
Owners: @TheFakeElon

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4405.yml
  html/changelogs/AutoChangeLog-pr-4406.yml
  html/changelogs/AutoChangeLog-pr-4410.yml
  html/changelogs/AutoChangeLog-pr-4411.yml
  html/changelogs/AutoChangeLog-pr-4412.yml
  html/changelogs/AutoChangeLog-pr-4413.yml
  html/changelogs/AutoChangeLog-pr-4414.yml
  html/changelogs/AutoChangeLog-pr-4416.yml
  html/changelogs/AutoChangeLog-pr-4417.yml
  html/changelogs/AutoChangeLog-pr-4418.yml
  html/changelogs/AutoChangeLog-pr-4419.yml
  html/changelogs/AutoChangeLog-pr-4421.yml
  html/changelogs/AutoChangeLog-pr-4422.yml
Owners: none

[MIRROR] TGUI protolathe, techfab, circuit imprinter (#4420)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/material_container.dm
  code/datums/components/remote_materials.dm
  code/modules/research/machinery/_production.dm
  tgui/packages/tgui/interfaces/TechFab.js
  tgui/packages/tgui/styles/interfaces/TechFab.scss
  tgui/packages/tgui/styles/main.scss
Owners: none

Automatic changelog generation for PR #4420 [ci skip]
  html/changelogs/AutoChangeLog-pr-4420.yml
Owners: none

[MIRROR] Expands the Ethereal colour list (#4424)
  code/_globalvars/lists/flavor_misc.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Owners: none

Automatic changelog generation for PR #4424 [ci skip]
  html/changelogs/AutoChangeLog-pr-4424.yml
Owners: none

[MIRROR] Fix armory spelling (#4425)
  _maps/RuinGeneration/13x13_corgarmory.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/mapping.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_part_types.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4425 [ci skip]
  html/changelogs/AutoChangeLog-pr-4425.yml
Owners: none

[MIRROR] Fixes chatmessage runtime (#4426)
  code/datums/chatmessage.dm
Owners: none

Automatic changelog generation for PR #4426 [ci skip]
  html/changelogs/AutoChangeLog-pr-4426.yml
Owners: none

[MIRROR] Port from Citadel Station for the Ore Redemption machine and vendor icons. (#4427)
  icons/obj/machines/mining_machines.dmi
Owners: none

Automatic changelog generation for PR #4427 [ci skip]
  html/changelogs/AutoChangeLog-pr-4427.yml
Owners: none

[MIRROR] Bans Eris sprites (#4429)
  .github/CONTRIBUTING.md
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
