Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @crossedfall, @TheFakeElon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

<<<<<<< HEAD

# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10
=======
# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
>>>>>>> ca9bc0b87d... Update CODEOWNERS (#5067)

# thefakeelon
/austation/code/modules/coilgun @TheFakeElon

Automatic changelog generation for PR #4052 [ci skip]
  html/changelogs/AutoChangeLog-pr-4052.yml
Owners: none

Fix broken computer overlays glowing in the dark and having redundant opaque shadows (#5228)
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/modules/antagonists/clock_cult/structure/clockwork_camera.dm
  code/modules/library/lib_machines.dm
Owners: none

adds the extremely fake nuke disk as an arcade prize (#5213)
  code/game/machinery/computer/arcade.dm
Owners: none

discord round report now includes dynamic summary (#5232)
  code/__HELPERS/roundend.dm
Owners: none

fix crashing
  auxtools/auxmos.dll
  code/game/machinery/doors/firedoor.dm
Owners: none

bump
  dependencies.sh
Owners: @crossedfall

rbmk fixed
  austation/code/modules/power/reactor/rbmk.dm
Owners: none

rbmk fixed (#4067)
  austation/code/modules/power/reactor/rbmk.dm
Owners: none

Automatic changelog generation for PR #4067 [ci skip]
  html/changelogs/AutoChangeLog-pr-4067.yml
Owners: none

too fast
  code/controllers/subsystem/air.dm
Owners: none

Finger gun no longer moves you in space. (#5233)
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
Owners: none

Ai multi-z cam jump (#5231)
  beestation.dme
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/ai.dm
  icons/mob/screen_ai.dmi
Owners: none

Bans now properly register notes (#5225)
  code/modules/admin/sql_ban_system.dm
Owners: none

Clothing armor value tag on examine from /tg/ (#4806)
  code/modules/clothing/clothing.dm
Owners: none

Tgui botany (#4859)
  code/modules/hydroponics/gene_modder.dm
  code/modules/hydroponics/seed_extractor.dm
  tgui/packages/tgui/interfaces/PlantDNAManipulator.js
  tgui/packages/tgui/interfaces/SeedExtractor.js
Owners: none

Multi z sounds and bombs (#4925)
  beestation.dme
  code/__DEFINES/multi_z.dm
  code/controllers/subsystem/explosion.dm
  code/game/sound.dm
  code/modules/mapping/space_management/multiz_helpers.dm
Owners: none

Removes the under (#5110)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Owners: none

Moves incinerator
  _maps/map_files/Austation/Austation.dmm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4035.yml
  html/changelogs/AutoChangeLog-pr-4052.yml
  html/changelogs/AutoChangeLog-pr-4067.yml
Owners: none

makes vents clode, magboots work against wind
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Owners: none

gaming
  _maps/map_files/Austation/Austation.dmm
Owners: none

does this really need to be a separate PR
  austation/code/modules/mining/machine_vending.dm
Owners: none

missed a spot
  _maps/map_files/Austation/Austation.dmm
Owners: none

Power monitors now report 100% power on cogged APCs (#5242)
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/power/monitor.dm
Owners: none

Update IPC.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Owners: none

[PORT] Removes rad immunity from IPCs and gives them NSV's radiation interaction (#4040)
  austation.dme
  austation/code/__DEFINES/traits.dm
  austation/code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  austation/code/modules/reagents/chemistry/recipes/medicine.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
Owners: none

Automatic changelog generation for PR #4040 [ci skip]
  html/changelogs/AutoChangeLog-pr-4040.yml
Owners: none

Update encryptionkey.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
Owners: none

lol
  auxtools/auxmos.dll
  code/modules/mapping/map_template.dm
  dependencies.sh
Owners: @crossedfall

stuffe
  code/controllers/subsystem/air.dm
Owners: none

Update encryptionkey.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
Owners: none

update austation map
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] [PORT] Popper Tooltips 2 (they don't crash this time) (#4023)
  tgui/docs/component-reference.md
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/Tooltip.js
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/Canister.js
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
  tgui/packages/tgui/interfaces/ComputerFabricator.js
  tgui/packages/tgui/interfaces/Guardian.js
  tgui/packages/tgui/interfaces/NtosRoboControl.js
  tgui/packages/tgui/interfaces/manually-routed/KitchenSink.js
  tgui/packages/tgui/layouts/NtosWindow.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.js
  tgui/packages/tgui/stories/Tooltip.stories.js
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui.html
  tgui/yarn.lock
Owners: none

Automatic changelog generation for PR #4023 [ci skip]
  html/changelogs/AutoChangeLog-pr-4023.yml
Owners: none

Automatic TGUI Rebuild [ci skip]
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Owners: none

[MIRROR] SSmetrics (#4034)
  beestation.dme
  code/__DEFINES/MC.dm
  code/__HELPERS/time.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/acid.dm
  code/controllers/subsystem/fire_burning.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/lighting.dm
  code/controllers/subsystem/machines.dm
  code/controllers/subsystem/metrics.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/processing/processing.dm
  code/controllers/subsystem/spacedrift.dm
  code/controllers/subsystem/tgui.dm
  code/controllers/subsystem/throwing.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/weather.dm
  code/game/world.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/subsystem_metric_sanity.dm
  config/config.txt
Owners: @MCterra10

Automatic changelog generation for PR #4034 [ci skip]
  html/changelogs/AutoChangeLog-pr-4034.yml
Owners: none

[MIRROR] Converts the component printer to modular fabricator. (#4019)
  _maps/map_files/Austation/Austation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/debug/runtimestation.dmm
  code/__DEFINES/wiremod.dm
  code/game/machinery/fabricators/modular_fabricator.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/wiremod/component_printer.dm
  tgui/packages/tgui/interfaces/ComponentPrinter.tsx
Owners: none

Automatic changelog generation for PR #4019 [ci skip]
  html/changelogs/AutoChangeLog-pr-4019.yml
Owners: none

[MIRROR] Fixes gibtonite (#4036)
  code/game/turfs/closed/minerals.dm
Owners: none
