Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @crossedfall, @TheFakeElon

no more bsminers (#5071)
  beestation.dme
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/mining/machine_bluespaceminer.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/game_options.txt
Owners: @MCterra10

stuff
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/public/tgui.bundle.js
Owners: none

fuck
  tgui/packages/tgui/interfaces/ListInput.js
Owners: none

Increases the rate at which welders burn fuel (#5038)
  code/game/objects/items/tools/weldingtool.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Reinstate bad squidnames (#3948)
  austation/strings/names/squid_female.txt
  austation/strings/names/squid_male.txt
  code/_globalvars/lists/names.dm
Owners: none

Automatic changelog generation for PR #3948 [ci skip]
  html/changelogs/AutoChangeLog-pr-3948.yml
Owners: none

Automatic changelog generation for PR #3966 [ci skip]
  html/changelogs/AutoChangeLog-pr-3966.yml
Owners: none

[MIRROR] Fixes the medical skirt sprites. (#3975)
  icons/mob/uniform.dmi
Owners: none

Automatic changelog generation for PR #3975 [ci skip]
  html/changelogs/AutoChangeLog-pr-3975.yml
Owners: none

EVEN MORE HARDDEL FIXES (#60228) (#4958)
  code/_onclick/observer.dm
  code/controllers/subsystem/throwing.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/components/chasm.dm
  code/datums/holocall.dm
  code/datums/mutations/antenna.dm
  code/datums/status_effects/status_effect.dm
  code/game/atoms_movable.dm
  code/game/communications.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/hologram.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/devices/camera_bug.dm
  code/game/objects/items/implants/implant_misc.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/items/teleportation.dm
  code/game/objects/objs.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/atmospherics/machinery/components/unary_devices/heat_exchanger.dm
  code/modules/buildmode/buildmode.dm
  code/modules/detectivework/detective_work.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/plumbing/ducts.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/station_goals/bsa.dm
  code/modules/tgui/tgui.dm
Owners: none

[MIRROR] Fix precompile.bat for TGS (#3976)
  tools/tgs4_scripts/PreCompile.bat
Owners: @crossedfall

Automatic changelog generation for PR #3976 [ci skip]
  html/changelogs/AutoChangeLog-pr-3976.yml
Owners: none

Lighting Quickfixes, Seclights and Swarmers (#5060)
  code/datums/components/overlay_lighting.dm
  code/modules/antagonists/swarmer/swarmer.dm
Owners: none

[MIRROR] Lighting Quickfixes, Seclights and Swarmers (#3980)
  code/datums/components/overlay_lighting.dm
  code/modules/antagonists/swarmer/swarmer.dm
Owners: none

Automatic changelog generation for PR #3980 [ci skip]
  html/changelogs/AutoChangeLog-pr-3980.yml
Owners: none

e (#5068)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/storage/storage.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/research/xenobiology/crossbreeding/reproductive.dm
Owners: none

Cheap lighter no one costs more than Zippo (#5081)
  code/game/objects/items/cigs_lighters.dm
Owners: none

Update credits.txt (#5085)
  sound/voice/lizard/credits.txt
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-3948.yml
  html/changelogs/AutoChangeLog-pr-3966.yml
  html/changelogs/AutoChangeLog-pr-3975.yml
  html/changelogs/AutoChangeLog-pr-3976.yml
  html/changelogs/AutoChangeLog-pr-3980.yml
Owners: none

gas tank
  austation/code/game/objects/items/tanks/tank_types.dm
Owners: none

Removes heretics gamemode, they can only spawn on dynamic now. (#4720)
  config/game_options.txt
Owners: @MCterra10

Laptop no longer drops a battery when destroyed (#5087)
  code/modules/modular_computers/hardware/battery_module.dm
Owners: none

Fixes midround spawning (#5102)
  code/modules/events/_event.dm
Owners: none

Update negative.dm (#5099)
  code/datums/traits/negative.dm
Owners: none

First 5 changes
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] [PORT] EVEN MORE HARDDEL FIXES (#3969)
  code/_onclick/observer.dm
  code/controllers/subsystem/throwing.dm
  code/datums/brain_damage/split_personality.dm
  code/datums/components/chasm.dm
  code/datums/holocall.dm
  code/datums/mutations/antenna.dm
  code/datums/status_effects/status_effect.dm
  code/game/atoms_movable.dm
  code/game/communications.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/motion.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/hologram.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items/devices/camera_bug.dm
  code/game/objects/items/implants/implant_misc.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/tanks/tanks.dm
  code/game/objects/items/teleportation.dm
  code/game/objects/objs.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/atmospherics/machinery/components/unary_devices/heat_exchanger.dm
  code/modules/buildmode/buildmode.dm
  code/modules/detectivework/detective_work.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/plumbing/ducts.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/station_goals/bsa.dm
  code/modules/tgui/tgui.dm
Owners: none

Automatic changelog generation for PR #3969 [ci skip]
  html/changelogs/AutoChangeLog-pr-3969.yml
Owners: none

tgui inputlist now locks your keyboard for ease of search (#3979)
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/public/tgui.bundle.js
Owners: none

Automatic changelog generation for PR #3979 [ci skip]
  html/changelogs/AutoChangeLog-pr-3979.yml
Owners: none

[MIRROR] Increases the rate at which welders burn fuel (#3981)
  code/game/objects/items/tools/weldingtool.dm
Owners: none

Automatic changelog generation for PR #3981 [ci skip]
  html/changelogs/AutoChangeLog-pr-3981.yml
Owners: none

[MIRROR] Removes non static typecacheof uses in storage component (#3982)
  code/__DEFINES/dcs/signals.dm
  code/datums/components/storage/storage.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/research/xenobiology/crossbreeding/reproductive.dm
Owners: none

Automatic changelog generation for PR #3982 [ci skip]
  html/changelogs/AutoChangeLog-pr-3982.yml
Owners: none

[MIRROR] Cheap lighter no longer costs more than Zippo (#3983)
  code/game/objects/items/cigs_lighters.dm
Owners: none

Automatic changelog generation for PR #3983 [ci skip]
  html/changelogs/AutoChangeLog-pr-3983.yml
Owners: none

[MIRROR] Shameless self-insert (#3984)
  sound/voice/lizard/credits.txt
Owners: none

gas tank (#3985)
  austation/code/game/objects/items/tanks/tank_types.dm
Owners: none

Automatic changelog generation for PR #3985 [ci skip]
  html/changelogs/AutoChangeLog-pr-3985.yml
Owners: none

[MIRROR] Laptops and tablets no longer drop a battery when destroyed (#3990)
  code/modules/modular_computers/hardware/battery_module.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

<<<<<<< HEAD

# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10
=======
# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
>>>>>>> ca9bc0b87d... Update CODEOWNERS (#5067)

# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
