Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @crossedfall, @TheFakeElon

Automatic changelog generation for PR #3990 [ci skip]
  html/changelogs/AutoChangeLog-pr-3990.yml
Owners: none

Automatic changelog generation for PR #3991 [ci skip]
  html/changelogs/AutoChangeLog-pr-3991.yml
Owners: none

fuck
  _maps/boxstation.json
  _maps/multiz_debug.json
  _maps/runtimestation.json
  code/datums/components/README.md
Owners: none

emotes
  austation/code/modules/mob/living/carbon/human/emote.dm
  austation/sound/misc/impressiveverynice.ogg
  austation/sound/misc/whatinthegoddamn.ogg
Owners: none

AIs can no longer strip people (#5084)
  code/modules/mob/mob.dm
Owners: none

Topic System Overhaul (#3801)
  beestation.dme
  code/__DEFINES/subsystems.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/misc.dm
  code/controllers/configuration/entries/comms.dm
  code/controllers/subsystem/fail2topic.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/topic.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/discord/discord.dm
  code/modules/discord/from_discord.dm
  code/modules/mob/dead/dead.dm
  config/README.md
  config/comms.txt
  tools/WebhookProcessor/github_webhook_processor.php
Owners: @MCterra10, @crossedfall

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-3969.yml
  html/changelogs/AutoChangeLog-pr-3979.yml
  html/changelogs/AutoChangeLog-pr-3981.yml
  html/changelogs/AutoChangeLog-pr-3982.yml
  html/changelogs/AutoChangeLog-pr-3983.yml
  html/changelogs/AutoChangeLog-pr-3985.yml
  html/changelogs/AutoChangeLog-pr-3990.yml
  html/changelogs/AutoChangeLog-pr-3991.yml
Owners: none

Game mode config change time (#5112)
  config/game_options.txt
Owners: @MCterra10

Bags and backpacks can now be emptied into disposal bins
  austation.dme
  austation/code/modules/recycling/disposal/bin.dm
Owners: none

added RPEDs
  austation/code/modules/recycling/disposal/bin.dm
Owners: none

adds a 1 second action bar
  austation/code/modules/recycling/disposal/bin.dm
Owners: none

Makes the handheld crew pinpointer display who it's pinpointing. (#5061)
  code/game/objects/items/pinpointer.dm
Owners: none

makes it actually work (#5109)
  code/modules/surgery/advanced/bioware/muscled_veins.dm
Owners: none

TG Stasis Bed Sprite Port (#5113)
  icons/obj/machines/stasis.dmi
Owners: none

The Incredible Fusion of Medical HUD and Prescription Glasses (#5094)
  code/modules/clothing/glasses/hud.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Owners: none

Update beams.dm (#5105)
  code/modules/projectiles/projectile/beams.dm
Owners: none

Adjusts requirements to unlock jobs (Take two) (#5004)
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/brigphys.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/emt.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

turtle_nerf (#5124)
  code/modules/mob/living/simple_animal/friendly/turtle.dm
Owners: none

Hides mentor badge if admin badge shows (#5125)
  code/modules/badges/badges.dm
Owners: none

[MIRROR] AIs can no longer strip people (#3997)
  code/modules/mob/mob.dm
Owners: none

Automatic changelog generation for PR #3997 [ci skip]
  html/changelogs/AutoChangeLog-pr-3997.yml
Owners: none

fix cult (#5126)
  code/modules/antagonists/cult/cult.dm
Owners: none

EMP damage holosigns and holobarriers (#5107)
  code/game/objects/structures/holosign.dm
Owners: none

[MIRROR] fix roundstart cultists not getting objectives (#4010)
  code/modules/antagonists/cult/cult.dm
Owners: none

Automatic changelog generation for PR #4010 [ci skip]
  html/changelogs/AutoChangeLog-pr-4010.yml
Owners: none

lights, cameras, sci dock, service lathe
  _maps/map_files/Austation/Austation.dmm
Owners: none

Prison wing maintenance, perma toilet
  _maps/map_files/Austation/Austation.dmm
Owners: none

Engineering maints
  _maps/map_files/Austation/Austation.dmm
Owners: none

Cargo maints
  _maps/map_files/Austation/Austation.dmm
Owners: none

moves cargo maints apc
  _maps/map_files/Austation/Austation.dmm
Owners: none

missed a bulb
  _maps/map_files/Austation/Austation.dmm
Owners: none

EORG Arena Prototype [MDB IGNORE] (#5000)
  _maps/map_files/generic/CentCom.dmm
  code/__HELPERS/roundend.dm
  code/_globalvars/misc.dm
  code/game/area/areas/centcom.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/barsigns.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/preferences_toggles.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-3997.yml
  html/changelogs/AutoChangeLog-pr-4010.yml
Owners: none

Revert "EORG Arena Prototype [MDB IGNORE] (#5000)" (#5135)
  _maps/map_files/generic/CentCom.dmm
  code/_globalvars/misc.dm
  code/modules/client/preferences_savefile.dm
Owners: none

Adds bulk discount (#5012)
  code/modules/uplink/uplink_items.dm
Owners: none

juggernauts cant be pulled (#5121)
  code/modules/mob/living/simple_animal/constructs.dm
Owners: none

intercomms are above windows (#5119)
  code/game/objects/items/devices/radio/intercom.dm
Owners: none

fixes turrets not working after it's turned off and on again (#4870)
  code/game/machinery/porta_turret/portable_turret.dm
Owners: none

keep the funny religions
  code/modules/jobs/job_types/chaplain.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

<<<<<<< HEAD

# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10
=======
# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
>>>>>>> ca9bc0b87d... Update CODEOWNERS (#5067)

# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
