Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

Automatic changelog generation for PR #1665 [ci skip]
  html/changelogs/AutoChangeLog-pr-1665.yml
Owners: none

[MIRROR] A few radiation optimizations (#1666)
  code/__DEFINES/radiation.dm
  code/__HELPERS/radiation.dm
  code/datums/components/radioactive.dm
  code/datums/radiation_wave.dm
Owners: @Cyberboss, @ninjanomnom

Automatic changelog generation for PR #1666 [ci skip]
  html/changelogs/AutoChangeLog-pr-1666.yml
Owners: none

Automatic changelog generation for PR #1667 [ci skip]
  html/changelogs/AutoChangeLog-pr-1667.yml
Owners: none

[MIRROR] Stop 'special additional role' from being spawned as an event. (#1668)
  code/controllers/subsystem/events.dm
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/roundstart_special/special_antagonist.dm
  code/modules/events/_event.dm
  code/modules/events/special_antag_event.dm
Owners: none

Automatic changelog generation for PR #1668 [ci skip]
  html/changelogs/AutoChangeLog-pr-1668.yml
Owners: none

[MIRROR] Revert "More Crates And Some Changes To Other Crates" (#1671)
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/cargo/packs.dm
Owners: none

[MIRROR] Antagonists can now be set to not prevent round end (#1672)
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/roundstart_special/special_antagonist.dm
  code/modules/awaymissions/corpse.dm
Owners: none

Automatic changelog generation for PR #1672 [ci skip]
  html/changelogs/AutoChangeLog-pr-1672.yml
Owners: none

[MIRROR] Fixes conveyors and probably makes them faster. (#1673)
  code/game/atoms_movable.dm
  code/game/objects/effects/effects.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/living.dm
  code/modules/recycling/conveyor2.dm
Owners: none

Automatic changelog generation for PR #1673 [ci skip]
  html/changelogs/AutoChangeLog-pr-1673.yml
Owners: none

[MIRROR] Plasmamen flash/welding protection is now a toggleable visor (#1675)
  code/datums/action.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1675 [ci skip]
  html/changelogs/AutoChangeLog-pr-1675.yml
Owners: none

[MIRROR] Paperlimiter (#1676)
  code/modules/paperwork/paper.dm
Owners: none

Removes references to role_special (#1742)
  code/__DEFINES/role_preferences.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/roundstart_special/special_antagonist.dm
  code/modules/events/special_antag_event.dm
Owners: none

[MIRROR] Apids (Bee People) Approved™ Pectoral Edition (#1641)
  beestation.dme
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/_globalvars/lists/names.dm
  code/datums/action.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/language/apidite.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/apid.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/tongue.dm
  config/Sage/game_options.txt
  config/game_options.txt
  icons/misc/language.dmi
  icons/mob/feet.dmi
  icons/mob/human_parts.dmi
  icons/mob/neck.dmi
  icons/mob/wings.dmi
  icons/obj/food/food.dmi
  strings/names/apid_first_female.txt
  strings/names/apid_first_male.txt
  strings/names/apid_last.txt
Owners: @crossedfall, @ShizCalev

Automatic changelog generation for PR #1641 [ci skip]
  html/changelogs/AutoChangeLog-pr-1641.yml
Owners: none

Apid Fixes (#1733)
  code/modules/surgery/organs/tongue.dm
Owners: none

Automatic changelog generation for PR #1669 [ci skip]
  html/changelogs/AutoChangeLog-pr-1669.yml
Owners: none

Actions: CL Generator script - Adds documentation to the script and improves the push method (#1779)
  .github/workflows/make_changelogs.yml
  tools/changelog/generate_cl.py
Owners: @crossedfall

Researchable Smartmines + Exploding Rubber Duck traitor item (#1735)
  code/game/objects/effects/mines.dm
  code/modules/cargo/packs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Automatic changelog generation for PR #1670 [ci skip]
  html/changelogs/AutoChangeLog-pr-1670.yml
Owners: none

[MIRROR] Apid Fixes (#1648)
  code/modules/surgery/organs/tongue.dm
Owners: none

Automatic changelog generation for PR #1648 [ci skip]
  html/changelogs/AutoChangeLog-pr-1648.yml
Owners: none

First Commit (#1755)
  code/modules/mob/living/carbon/human/species_types/apid.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1641.yml
  html/changelogs/AutoChangeLog-pr-1648.yml
  html/changelogs/AutoChangeLog-pr-1652.yml
  html/changelogs/AutoChangeLog-pr-1654.yml
  html/changelogs/AutoChangeLog-pr-1659.yml
  html/changelogs/AutoChangeLog-pr-1661.yml
  html/changelogs/AutoChangeLog-pr-1663.yml
  html/changelogs/AutoChangeLog-pr-1665.yml
  html/changelogs/AutoChangeLog-pr-1666.yml
  html/changelogs/AutoChangeLog-pr-1667.yml
  html/changelogs/AutoChangeLog-pr-1668.yml
  html/changelogs/AutoChangeLog-pr-1669.yml
  html/changelogs/AutoChangeLog-pr-1670.yml
  html/changelogs/AutoChangeLog-pr-1672.yml
  html/changelogs/AutoChangeLog-pr-1673.yml
  html/changelogs/AutoChangeLog-pr-1675.yml
Owners: none

Revert "Cult stun protected against by mindshields instead, and it only offers partial immunity (#1592)" (#1780)
  code/modules/antagonists/cult/blood_magic.dm
Owners: none

adds upgrade wand, magicman balance changes (#1744)
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/miscellaneous.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Exosuit refactors - /tg/ #46579 and 49299 (#1655)
  code/__DEFINES/mecha.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_topic.dm
Owners: none

Better gauze + medical patch crafting (#1700)
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/medical.dm
Owners: @Cyberboss, @ninjanomnom

various small tweaks to #1642 (#1781)
  code/__DEFINES/traits.dm
  code/game/objects/items.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/powerfist.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Owners: none

Lavaland shuttle fix + Some other fix (#1729)
  code/game/objects/items/shuttle_creator.dm
Owners: none

[READY] [PORT] Making the RD Servers do something than take up space from /tg/ (#1724)
  code/controllers/subsystem/research.dm
  code/modules/research/server.dm
  tgui/packages/tgui/interfaces/RDConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Owners: @stylemistake

[MIRROR] [READY] [PORT] Making the RD Servers do something than take up space from /tg/ (#1685)
  code/controllers/subsystem/research.dm
  code/modules/research/server.dm
  tgui/packages/tgui/interfaces/RDConsole.js
  tgui/packages/tgui/public/tgui.bundle.js
Owners: @stylemistake

Automatic changelog generation for PR #1685 [ci skip]
  html/changelogs/AutoChangeLog-pr-1685.yml
Owners: none

[MIRROR] various small tweaks to #1642 (#1683)
  code/__DEFINES/traits.dm
  code/game/objects/items.dm
  code/game/objects/items/melee/energy.dm
  code/game/objects/items/powerfist.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Owners: none

Automatic changelog generation for PR #1683 [ci skip]
  html/changelogs/AutoChangeLog-pr-1683.yml
Owners: none

[MIRROR] Exosuit refactors - /tg/ #46579 and 49299 (#1681)
  code/__DEFINES/mecha.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_construction_paths.dm
  code/game/mecha/mecha_defense.dm
  code/game/mecha/mecha_topic.dm
Owners: none

Automatic changelog generation for PR #1681 [ci skip]
  html/changelogs/AutoChangeLog-pr-1681.yml
Owners: none

[MIRROR] Apids now friendly with bee faction (#1655)
  code/modules/mob/living/carbon/human/species_types/apid.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)
