Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Update grown.dm
  code/modules/hydroponics/grown.dm
Owners: none

Ports updates to the cameranet (#6314)
  code/__DEFINES/sight.dm
  code/game/machinery/computer/camera_advanced.dm
  code/game/objects/items/devices/multitool.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/freelook/cameranet.dm
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
  code/modules/shuttle/shuttle_creation/shuttle_creator_console.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_docking.dm
Owners: @powerfulbacon

Adds suspenders to Autodrobe (#6337)
  code/modules/vending/autodrobe.dm
Owners: none

Updates lung code (#6298)
  code/modules/atmospherics/auxgm/breathing_classes.dm
  code/modules/surgery/organs/lungs.dm
Owners: none

Ports making SSrunechat be a timer subsystem (#6357)
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/runechat.dm
  code/controllers/subsystem/timer.dm
  code/datums/chatmessage.dm
  code/datums/datum.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Ports soft panic bunker from TG (#6275)
  beestation.dme
  code/controllers/configuration/config_entry.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/configuration/entries/interview.dm
  code/controllers/subsystem/job.dm
  code/datums/world_topic.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/panicbunker.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/interview/interview.dm
  code/modules/interview/interview_manager.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_stat.dm
  code/modules/tgui/states/new_player.dm
  code/modules/tgui_panel/stat.dm
  config/config.txt
  config/interviews.txt
  tgui/packages/tgui/components/TextArea.js
  tgui/packages/tgui/interfaces/Interview.js
  tgui/packages/tgui/interfaces/InterviewManager.js
Owners: @MCterra10

Ports MC deletion recovery (#6254)
  beestation.dme
  code/__DEFINES/spaceman_dmm.dm
  code/_debugger.dm
  code/controllers/failsafe.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/assets.dm
  code/controllers/subsystem/economy.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/processing/orbits.dm
  code/controllers/subsystem/shuttle.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/timer.dm
  code/controllers/subsystem/zclear.dm
  code/game/world.dm
  code/modules/tgchat/to_chat.dm
Owners: none

Updates Kilo Station and re-adds it to rotation (#5755)
  _maps/RandomRooms/10x10/sk_rdm159_kilosnakepit.dmm
  _maps/RandomRooms/10x5/sk_rdm161_kilovault.dmm
  _maps/RandomRooms/3x5/sk_rdm158_kilochapelstorage.dmm
  _maps/RandomRooms/3x5/sk_rdm160_kilomaintbar.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/exploration_kilo.dmm
  _maps/shuttles/mining_kilo.dmm
  code/datums/shuttles.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/modules/mapping/random_rooms.dm
  config/maps.txt
Owners: @MCterra10

Flandstation Urgent fix (FlandStation Sp4.1) (#6366)
  _maps/map_files/FlandStation/FlandStation.dmm
Owners: none

Energetic Chromosome Fix (#6359)
  code/datums/mutations.dm
  code/datums/mutations/actions.dm
Owners: none

Makes the SMES in pubby AI chamber actually function (#6348)
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

fixes infinite iron dublicaiton with riggit toolboxes (#6367)
  code/game/machinery/fabricators/modular_fabricator.dm
Owners: none

Update Austation.dmm
  _maps/map_files/Austation/Austation.dmm
Owners: none

Ports the quick qdel queue (#6360)
  code/__DEFINES/qdel.dm
  code/controllers/subsystem/garbage.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Sets ajv's resolution to use the minimally safe version (#6379)
  tgui/package.json
  tgui/yarn.lock
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Show server name in round end report (#6385)
  code/__HELPERS/roundend.dm
Owners: none

Bumps the client version of BYOND (#6388)
  code/modules/client/client_procs.dm
Owners: none

Xenobiology golem nerf (#6293)
  code/game/objects/items/stacks/sheets/mineral.dm
Owners: none

Does stuff properly (#6227)
  code/datums/brain_damage/phobia.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Revert "incomprehensibly buffs AI (#4610)"
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Owners: none

Cat (#6147)
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Owners: none

[MIRROR] Bumps python to 3.9.10 (#4722)
  .github/workflows/compile_changelogs.yml
  .github/workflows/continuous_integration.yml
  .github/workflows/make_changelogs.yml
  dependencies.sh
  tools/bootstrap/python39._pth
  tools/bootstrap/python_.ps1
  tools/changelog/generate_cl.py
  tools/changelog/requirements.txt
  tools/changelog/ss13_genchangelog.py
  tools/requirements.txt
Owners: none

Automatic changelog generation for PR #4722 [ci skip]
  html/changelogs/AutoChangeLog-pr-4722.yml
Owners: none

[MIRROR] [Port] Cat AI Core (#4662)
  code/_globalvars/lists/flavor_misc.dm
  icons/mob/ai.dmi
Owners: none

Automatic changelog generation for PR #4662 [ci skip]
  html/changelogs/AutoChangeLog-pr-4662.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4662.yml
  html/changelogs/AutoChangeLog-pr-4722.yml
Owners: none

Automatic changelog generation for PR #4724 [ci skip]
  html/changelogs/AutoChangeLog-pr-4724.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4724.yml
Owners: none

[MIRROR] Port improved reference tracking and harddel testing from tg. (#4736)
  .vscode/tasks.json
  _maps/templates/unit_tests.dmm
  bin/temp-fast-test.cmd
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/qdel.dm
  code/__DEFINES/vv.dm
  code/__HELPERS/_logging.dm
  code/_compile_options.dm
  code/_globalvars/logging.dm
  code/controllers/subsystem/atoms.dm
  code/controllers/subsystem/garbage.dm
  code/datums/datum.dm
  code/datums/datumvars.dm
  code/game/objects/effects/landmarks.dm
  code/game/world.dm
  code/modules/admin/view_variables/reference_tracking.dm
  code/modules/admin/view_variables/topic_basic.dm
  code/modules/admin/view_variables/view_variables.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/connect_loc.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/find_reference_sanity.dm
  code/modules/unit_tests/spawn_humans.dm
  code/modules/unit_tests/unit_test.dm
Owners: none

Automatic changelog generation for PR #4736 [ci skip]
  html/changelogs/AutoChangeLog-pr-4736.yml
Owners: none

[MIRROR] Exploration Expansion Pack: New Targets, New Rooms, And Revisited Old Favorites (#4743)
  _maps/RuinGeneration/11x11_2_room_cafeteria.dmm
  _maps/RuinGeneration/13x13_ai-lab.dmm
  _maps/RuinGeneration/13x13_cafe.dmm
  _maps/RuinGeneration/13x13_corgarmory.dmm
  _maps/RuinGeneration/13x13_corgrobotics.dmm
  _maps/RuinGeneration/13x13_donutroom.dmm
  _maps/RuinGeneration/13x13_shotelroom.dmm
  _maps/RuinGeneration/13x13_supermatter_containment.dmm
  _maps/RuinGeneration/13x17_chapel.dmm
  _maps/RuinGeneration/13x17_permabrig.dmm
  _maps/RuinGeneration/13x17_shuttledock.dmm
  _maps/RuinGeneration/13x9_josito.dmm
  _maps/RuinGeneration/13x9_medical.dmm
  _maps/RuinGeneration/13x9_researchlab.dmm
  _maps/RuinGeneration/17x11_2_room_corgbar.dmm
  _maps/RuinGeneration/17x17_charliecrew.dmm
  _maps/RuinGeneration/17x9_pubbybridgehall.dmm
  _maps/RuinGeneration/21x17_shuttledock.dmm
  _maps/RuinGeneration/21x21_singularity.dmm
  _maps/RuinGeneration/21x29_solars.dmm
  _maps/RuinGeneration/25x21_shuttleconstructionbay.dmm
  _maps/RuinGeneration/41x41_corgasteroid.dmm
  _maps/RuinGeneration/5x5_hern.dmm
  _maps/RuinGeneration/5x5_roomcross.dmm
  _maps/RuinGeneration/5x9_lounge.dmm
  _maps/RuinGeneration/69x45_charliestation.dmm
  _maps/RuinGeneration/9x13_vault.dmm
  _maps/RuinGeneration/9x5_cloning.dmm
  _maps/RuinGeneration/9x9_checkpoint.dmm
  _maps/RuinGeneration/9x9_chemlab.dmm
  _maps/RuinGeneration/9x9_toxinstorage.dmm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/assassination.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/vip_extraction.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_part_types.dm
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @powerfulbacon

Automatic changelog generation for PR #4743 [ci skip]
  html/changelogs/AutoChangeLog-pr-4743.yml
Owners: none

Fixes round duration API (#6309)
  code/datums/world_topic.dm
Owners: none

[MIRROR] Ling headspider needs an open turf to transform. (#4747)
  code/modules/antagonists/changeling/powers/headcrab.dm
Owners: none

Automatic changelog generation for PR #4747 [ci skip]
  html/changelogs/AutoChangeLog-pr-4747.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
