Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

Automatic changelog generation for PR #1739 [ci skip]
  html/changelogs/AutoChangeLog-pr-1739.yml
Owners: none

Update split_personality.dm
  code/datums/brain_damage/split_personality.dm
Owners: none

Update imaginary_friend.dm
  code/datums/brain_damage/imaginary_friend.dm
Owners: none

BeeCoin shop & Loadout additions (#1575)
  beestation.dme
  code/modules/client/loadout/loadout.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_cosmestics.dm
  code/modules/client/loadout/loadout_footwear.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_ooc.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/client/preferences.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/security.dm
Owners: @ike709

[MIRROR] BeeCoin shop & Loadout additions (#1749)
  beestation.dme
  code/modules/client/loadout/loadout.dm
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_cosmestics.dm
  code/modules/client/loadout/loadout_footwear.dm
  code/modules/client/loadout/loadout_general.dm
  code/modules/client/loadout/loadout_hat.dm
  code/modules/client/loadout/loadout_ooc.dm
  code/modules/client/loadout/loadout_suit.dm
  code/modules/client/loadout/loadout_uniform.dm
  code/modules/client/preferences.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/security.dm
Owners: @ike709

Automatic changelog generation for PR #1749 [ci skip]
  html/changelogs/AutoChangeLog-pr-1749.yml
Owners: none

[MIRROR] Ports trauma ghostrole fix from au (#1740)
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
Owners: none

Automatic changelog generation for PR #1740 [ci skip]
  html/changelogs/AutoChangeLog-pr-1740.yml
Owners: none

[MIRROR] Imagine intentionally fucking with TGS interop (#1742)
  code/game/world.dm
Owners: none

Update ooc.dm
  code/modules/client/verbs/ooc.dm
Owners: none

[MIRROR] Stops HTML injection in ahelps (#1745)
  code/modules/admin/verbs/adminpm.dm
Owners: none

[MIRROR] Fix PDA double messages (#1746)
  code/game/objects/items/devices/PDA/PDA.dm
Owners: none

Automatic changelog generation for PR #1746 [ci skip]
  html/changelogs/AutoChangeLog-pr-1746.yml
Owners: none

conflict
  code/game/gamemodes/devil/devil_game_mode.dm
Owners: none

Update devil_game_mode.dm
  code/game/gamemodes/devil/devil_game_mode.dm
Owners: none

Update dynamic_rulesets_roundstart.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Automatic changelog generation for PR #1741 [ci skip]
  html/changelogs/AutoChangeLog-pr-1741.yml
Owners: none

demodularize
  austation/code/controllers/configuration/entries/general.dm
  austation/code/controllers/subsystem/autotransfer.dm
  austation/includes.dm
  config/austation.txt
Owners: @MCterra10, @crossedfall

conflicts
  code/controllers/subsystem/vote.dm
Owners: none

[MIRROR] Fixes devil gamemode (#1747)
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Automatic changelog generation for PR #1747 [ci skip]
  html/changelogs/AutoChangeLog-pr-1747.yml
Owners: none

[MIRROR] Removes clickable links from OOC (#1744)
  code/modules/client/verbs/ooc.dm
Owners: none

Automatic changelog generation for PR #1744 [ci skip]
  html/changelogs/AutoChangeLog-pr-1744.yml
Owners: none

fixes bracket
  austation/code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Owners: @MCterra10

changes m to c
  austation/code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Owners: @MCterra10

FIXES MORE
  austation/code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Owners: @MCterra10

Disables Midround OOC for Sage (#1860)
  config/Sage/game_options.txt
Owners: @crossedfall

[MIRROR] Disables Midround OOC for Sage (#1750)
  config/Sage/game_options.txt
Owners: @crossedfall

Automatic changelog generation for PR #1750 [ci skip]
  html/changelogs/AutoChangeLog-pr-1750.yml
Owners: none

Fixes shooting while in softcrit (#1863)
  code/modules/projectiles/autofire.dm
Owners: none

Radios in both barber shops are now actual radios instead of implants (#1861)
  _maps/RandomRooms/10x5/sk_rdm011_barbershop.dmm
  _maps/RandomRooms/5x4/sk_rdm090_tinybarbershop.dmm
Owners: @ShizCalev

Couple tiny fixes (#1864)
  code/controllers/subsystem/title.dm
  code/game/objects/items/devices/compressionkit.dm
  code/modules/paperwork/paper.dm
  code/modules/research/server.dm
Owners: none

i dunno what to title this (#1815)
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

Fixes LOOC on Sage (#1866)
  code/controllers/configuration/entries/game_options.dm
  code/modules/client/verbs/looc.dm
  config/Sage/game_options.txt
  config/game_options.txt
Owners: @crossedfall

[MIRROR] Fixes shooting while in softcrit (#1751)
  code/modules/projectiles/autofire.dm
Owners: none

Automatic changelog generation for PR #1751 [ci skip]
  html/changelogs/AutoChangeLog-pr-1751.yml
Owners: none

[s] Autofire magdump fix (#1868)
  code/modules/projectiles/autofire.dm
  code/modules/projectiles/gun.dm
Owners: none

[MIRROR] [s] Autofire magdump fix (#1756)
  code/modules/projectiles/autofire.dm
  code/modules/projectiles/gun.dm
Owners: none

Automatic changelog generation for PR #1756 [ci skip]
  html/changelogs/AutoChangeLog-pr-1756.yml
Owners: none

[MIRROR] i dunno what to title this (#1754)
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)
