Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

Adds prescription HUDs (plus tweaks) (#5528)
  code/__DEFINES/construction.dm
  code/datums/components/crafting/tailoring.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Owners: none

Ports Decal Painter (#5557)
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/items/airlock_painter.dm
  code/modules/cargo/packs.dm
  code/modules/paperwork/photocopier.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/objects.dmi
  tgui/packages/tgui/interfaces/DecalPainter.js
Owners: none

Adds some useful stuff to the debug outfit (#5519)
  code/game/machinery/cloning.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/jobs/access.dm
  code/modules/research/stock_parts.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Kills Synths (This is so sad) (#5623)
  beestation.dme
  code/controllers/subsystem/traumas.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/awaymissions/capture_the_flag.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/mob/living/simple_animal/corpse.dm
Owners: none

IPC Blood Trails are black for now. (#5627)
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/living.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Makes ash heretic immune to fire (#5594)
  code/modules/antagonists/eldritch_cult/knowledge/ash_lore.dm
Owners: none

Update recipes.dm (#5518)
  code/datums/components/crafting/recipes.dm
Owners: none

Fix boxstation incinerator and toxins airlocks (#5511)
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: none

More list related components for WireMod (#5439)
  beestation.dme
  code/__DEFINES/wiremod.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/wiremod/components/abstract/arbitrary_input_amount.dm
  code/modules/wiremod/components/abstract/indexer.dm
  code/modules/wiremod/components/list/append.dm
  code/modules/wiremod/components/list/index.dm
  code/modules/wiremod/components/list/list_constructor.dm
  code/modules/wiremod/components/list/list_length_constructor.dm
  code/modules/wiremod/components/list/pop.dm
  code/modules/wiremod/components/list/write.dm
  code/modules/wiremod/components/math/arithmetic.dm
  code/modules/wiremod/components/math/bitwise.dm
Owners: none

Listening base (#5260)
  _maps/RuinGeneration/13x13_listening_base.dmm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_part_types.dm
Owners: @powerfulbacon

Hides syndie implants from health scans (#5507)
  code/game/objects/items/melee/energy.dm
  code/modules/surgery/organs/augments_arms.dm
  code/modules/surgery/organs/augments_chest.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autosurgeon.dm
Owners: none

fixes a typo in teslacode (#5634)
  code/modules/power/tesla/energy_ball.dm
Owners: none

Minor Config reorganization, Brig Door Timer Config (#5631)
  beestation.dme
  code/controllers/configuration/entries/game_options.dm
  code/controllers/configuration/entries/game_tweaks.dm
  code/game/machinery/doors/brigdoors.dm
  config/config.txt
  config/game_options.txt
  config/gameplay_tweaks.txt
Owners: @MCterra10

makes body only records clearer and persists after cloning (#4664)
  code/game/machinery/computer/cloning.dm
  tgui/packages/tgui/interfaces/CloningConsole.js
Owners: none

The Captain's antique laser gun has a small tribute to golden in its description (#5633)
  code/modules/projectiles/guns/energy/laser.dm
Owners: none

Fixes fairygrass I hope (#5640)
  code/game/turfs/turf.dm
Owners: none

[MIRROR] delays air initialization to after the entire spaceruin has loaded (#4298)
  code/controllers/subsystem/adjacent_air.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/zclear.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/mapping/map_template.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/asteroid_generator.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/exoplanets/exoplanet_generator.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_generator.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4298 [ci skip]
  html/changelogs/AutoChangeLog-pr-4298.yml
Owners: none

Automatic changelog generation for PR #4299 [ci skip]
  html/changelogs/AutoChangeLog-pr-4299.yml
Owners: none

[MIRROR] Ports an action speed modifier system (#4302)
  beestation.dme
  code/__DEFINES/actionspeed_modification.dm
  code/__HELPERS/mobs.dm
  code/datums/components/mood.dm
  code/modules/actionspeed/_actionspeed_modifier.dm
  code/modules/actionspeed/modifiers/base.dm
  code/modules/actionspeed/modifiers/mood.dm
  code/modules/actionspeed/modifiers/race.dm
  code/modules/actionspeed/modifiers/status_effects.dm
  code/modules/antagonists/clock_cult/mobs/cogscarab.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/physiology.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Owners: none

Automatic changelog generation for PR #4302 [ci skip]
  html/changelogs/AutoChangeLog-pr-4302.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4298.yml
  html/changelogs/AutoChangeLog-pr-4299.yml
  html/changelogs/AutoChangeLog-pr-4302.yml
Owners: none

Fixes gympie harvest sprite issue (#4310)
  icons/obj/hydroponics/harvest.dmi
Owners: none

suffer
  austation.dme
  austation/code/game/machinery/doors/firedoor.dm
  austation/code/modules/atmospherics/machinery/pipes/layermanifold.dm
  code/modules/mapping/map_template.dm
Owners: none

frick
  code/controllers/subsystem/adjacent_air.dm
Owners: none

Fixing a minor typo (#5647)
  code/modules/client/preferences_toggles.dm
Owners: none

better borg mesons (#5520)
  code/_onclick/hud/robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
Owners: none

Fixes objectives disappearing on cryo (#5526)
  code/game/machinery/cryopod.dm
  code/modules/antagonists/incursion/incursion.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

smart firelocks
  _maps/austation.json
  austation.dme
  austation/code/game/machinery/doors/airlock_types.dm
  austation/code/game/objects/effects/spawners/structure.dm
  auxtools/auxmos.dll
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
Owners: none

smarty firelocks
  code/controllers/subsystem/shuttle.dm
Owners: none

removes the modularity comment from copypasted code
  austation/code/modules/mob/living/simple_animal/hostile/regalrat.dm
Owners: none

[MIRROR] Slight refactor to diseases + fix to the necroseed (#4303)
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/mob/living/death.dm
Owners: none

Automatic changelog generation for PR #4303 [ci skip]
  html/changelogs/AutoChangeLog-pr-4303.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4303.yml
Owners: none

austation map change
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] Super soldiers have hair now (#4309)
  code/modules/mob/living/carbon/human/species_types/supersoldier.dm
Owners: none

Automatic changelog generation for PR #4309 [ci skip]
  html/changelogs/AutoChangeLog-pr-4309.yml
Owners: none
