Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

hhhh
  austation/code/modules/surgery/organs/tongue.dm
  austation/icons/obj/austation_surgery.dmi
  beestation.dme
  icons/obj/surgery.dmi
Owners: @MCterra10, @ShizCalev

byond automatically ticks austation's define_includes.dm and fucks me over
  beestation.dme
Owners: none

beestation.dme is going to be the death of me
  beestation.dme
Owners: none

Fix holoparas not working (#1838)
  code/modules/guardian/guardianbuilder.dm
  code/modules/guardian/standarrow.dm
Owners: none

[MIRROR] Fix holoparas not working (#1732)
  code/modules/guardian/guardianbuilder.dm
  code/modules/guardian/standarrow.dm
Owners: none

Title Screens (#1837)
  config/Sage/title_screens/images/bee_wars.dmi
  config/Sage/title_screens/images/delaminating_issues.dmi
  config/Sage/title_screens/images/extended.dmi
  config/Sage/title_screens/images/how_can_i_help_you.dmi
  config/Sage/title_screens/images/janitor.dmi
  config/Sage/title_screens/images/singuloose.dmi
  config/Sage/title_screens/images/title2.dmi
  config/Sage/title_screens/images/title4.dmi
  config/Sage/title_screens/images/title5.dmi
  config/Sage/title_screens/images/vaporwave.dmi
  config/title_screens/images/delaminating_issues.dmi
  config/title_screens/images/extended.dmi
  config/title_screens/images/greytide_worldwide.dmi
  config/title_screens/images/janitor.dmi
  config/title_screens/images/meta_boiz.dmi
  config/title_screens/images/singuloose.dmi
  config/title_screens/images/title2.dmi
  config/title_screens/images/title4.dmi
  config/title_screens/images/title5.dmi
  config/title_screens/images/vaporwave.dmi
Owners: @crossedfall

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1727.yml
  html/changelogs/AutoChangeLog-pr-1729.yml
  html/changelogs/AutoChangeLog-pr-1730.yml
  html/changelogs/AutoChangeLog-pr-1731.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

ports citadel's attack animations
  code/game/atoms_movable.dm
  code/modules/mob/living/carbon/carbon.dm
Owners: none

radiation storm sound
  code/datums/looping_sounds/weather.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/sun_burst.dm
  code/modules/events/sun_burst.dm
  sound/weather/radstorm/radstorm1.ogg
  sound/weather/radstorm/radstorm_end.ogg
  sound/weather/radstorm/radstorm_start.ogg
Owners: @ShizCalev

oops
  code/datums/weather/weather_types/sun_burst.dm
  code/modules/events/sun_burst.dm
Owners: none

[MIRROR] Title Screens (#1733)
  config/Sage/title_screens/images/bee_wars.dmi
  config/Sage/title_screens/images/delaminating_issues.dmi
  config/Sage/title_screens/images/extended.dmi
  config/Sage/title_screens/images/how_can_i_help_you.dmi
  config/Sage/title_screens/images/janitor.dmi
  config/Sage/title_screens/images/singuloose.dmi
  config/Sage/title_screens/images/title2.dmi
  config/Sage/title_screens/images/title4.dmi
  config/Sage/title_screens/images/title5.dmi
  config/Sage/title_screens/images/vaporwave.dmi
  config/title_screens/images/delaminating_issues.dmi
  config/title_screens/images/extended.dmi
  config/title_screens/images/greytide_worldwide.dmi
  config/title_screens/images/janitor.dmi
  config/title_screens/images/meta_boiz.dmi
  config/title_screens/images/singuloose.dmi
  config/title_screens/images/title2.dmi
  config/title_screens/images/title4.dmi
  config/title_screens/images/title5.dmi
  config/title_screens/images/vaporwave.dmi
Owners: @crossedfall

Automatic changelog generation for PR #1733 [ci skip]
  html/changelogs/AutoChangeLog-pr-1733.yml
Owners: none

satisfies terra's paranoia
  sound/weather/radstorm/radstorm1.ogg
Owners: @ShizCalev

Sarin wrap
  austation/code/game/objects/items/storage/uplink_kits.dm
  austation/code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  austation/code/modules/reagents/chemistry/recipes/toxins.dm
  austation/code/modules/reagents/reagent_containers/bottle.dm
  code/game/objects/items/storage/uplink_kits.dm
Owners: @MCterra10

updates includes
  austation/includes.dm
Owners: @MCterra10

bag of holding fix (#1840)
  code/datums/components/storage/concrete/bag_of_holding.dm
Owners: @Cyberboss, @ninjanomnom

Removes game and server crashing stand power (#1842)
  _maps/templates/pocket_dimension.dmm
  beestation.dme
  code/modules/guardian/abilities/special/pocket.dm
Owners: @ShizCalev

[MIRROR] Removes game and server crashing stand power (#1737)
  _maps/templates/pocket_dimension.dmm
  beestation.dme
  code/modules/guardian/abilities/special/pocket.dm
Owners: @ShizCalev

Automatic changelog generation for PR #1737 [ci skip]
  html/changelogs/AutoChangeLog-pr-1737.yml
Owners: none

[MIRROR] bag of holding fix (#1736)
  code/datums/components/storage/concrete/bag_of_holding.dm
Owners: @Cyberboss, @ninjanomnom

Automatic changelog generation for PR #1736 [ci skip]
  html/changelogs/AutoChangeLog-pr-1736.yml
Owners: none

Reduces the space ruin budget (#1843)
  config/Sage/game_options.txt
  config/game_options.txt
Owners: @crossedfall

DMAPI 5.2 (#1839)
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undef.dm
Owners: @crossedfall

ports trauma ghost fix from au (#1844)
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
Owners: none

Imagine intentionally fucking with TGS interop (#1847)
  code/game/world.dm
Owners: none

[PORT] Racial languages from TG (#1712)
  austation/code/_DEFINES/language.dm
  austation/code/modules/language/buzzwords.dm
  austation/code/modules/language/calcic.dm
  austation/code/modules/language/language_holder.dm
  austation/code/modules/language/moffic.dm
  austation/code/modules/language/shadowtongue.dm
  austation/code/modules/language/sylvan.dm
  austation/code/modules/language/terrum.dm
  austation/code/modules/language/voltaic.dm
  austation/code/modules/mob/living/carbon/human/species.dm
  austation/code/modules/mob/living/carbon/human/species_type/apid.dm
  austation/code/modules/mob/living/carbon/human/species_type/ethereal.dm
  austation/code/modules/mob/living/carbon/human/species_type/flypeople.dm
  austation/code/modules/mob/living/carbon/human/species_type/golems.dm
  austation/code/modules/mob/living/carbon/human/species_type/mothmen.dm
  austation/code/modules/mob/living/carbon/human/species_type/plasmamen.dm
  austation/code/modules/mob/living/carbon/human/species_type/podpeople.dm
  austation/code/modules/mob/living/carbon/human/species_type/shadowpeople.dm
  austation/code/modules/mob/living/carbon/human/species_type/skeletons.dm
  austation/code/modules/surgery/organs/tongue.dm
  austation/define_includes.dm
  austation/icons/misc/austation_language.dmi
  austation/icons/obj/austation_surgery.dmi
  austation/includes.dm
  code/modules/language/language_holder.dm
  code/modules/surgery/organs/tongue.dm
Owners: @MCterra10

Automatic changelog generation for PR #1712 [ci skip]
  html/changelogs/AutoChangeLog-pr-1712.yml
Owners: none

[MIRROR] Reduces the space ruin budget (#1738)
  config/Sage/game_options.txt
  config/game_options.txt
Owners: @crossedfall

Automatic changelog generation for PR #1738 [ci skip]
  html/changelogs/AutoChangeLog-pr-1738.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1712.yml
  html/changelogs/AutoChangeLog-pr-1733.yml
  html/changelogs/AutoChangeLog-pr-1736.yml
  html/changelogs/AutoChangeLog-pr-1737.yml
  html/changelogs/AutoChangeLog-pr-1738.yml
Owners: none

Right to be hidden (#1852)
  SQL/beestation_schema.sql
  SQL/database_changelog.txt
  code/__DEFINES/subsystems.dm
  code/modules/admin/sql_ban_system.dm
Owners: @crossedfall

[MIRROR] Right to be hidden (#1743)
  SQL/beestation_schema.sql
  SQL/database_changelog.txt
  code/__DEFINES/subsystems.dm
  code/modules/admin/sql_ban_system.dm
Owners: @crossedfall

Removes clickable links from OOC (#1853)
  code/modules/client/verbs/ooc.dm
Owners: none

Stops HTML injection in ahelps (#1854)
  code/modules/admin/verbs/adminpm.dm
Owners: none

Fix PDA double messages (#1851)
  code/game/objects/items/devices/PDA/PDA.dm
Owners: none

Fixes devil gamemode (#1858)
  code/game/gamemodes/devil/devil_game_mode.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
Owners: none

Ports Crew Transfer Vote from AuStation (#1855)
  beestation.dme
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/autotransfer.dm
  code/controllers/subsystem/vote.dm
  config/Sage/config.txt
  config/config.txt
Owners: @crossedfall

[MIRROR] DMAPI 5.2 (#1739)
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/undef.dm
Owners: @crossedfall

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)
