Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Janitor ERT gets a Janicart (#5991)
  code/game/objects/items/miscellaneous.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/vehicles/pimpin_ride.dm
Owners: none

tesla_zap refactor (#5833)
  code/modules/power/tesla/energy_ball.dm
Owners: none

fixes blob spore pathing and adds the ability to ignore mobs for JPS pathing (#5967)
  code/__HELPERS/path.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Owners: none

Adds Antag Hud to Hypnoflash (#5982)
  code/datums/brain_damage/hypnosis.dm
Owners: none

Nerfs payout for Exploration missions (#5943)
  code/modules/shuttle/super_cruise/orbital_poi_generator/_orbital_objective.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/alien_artifact.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/nuke_ruin.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/recover_blackbox.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/vip_extraction.dm
Owners: @powerfulbacon

[MIRROR] adds some comments for crates and fixes finally golden spawn mimic crate (#4531)
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
Owners: none

Automatic changelog generation for PR #4531 [ci skip]
  html/changelogs/AutoChangeLog-pr-4531.yml
Owners: none

austation changes
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] Splitting the RD's Office access and Server Access (also removes the Unused Apothecary access) (#4526)
  _maps/map_files/Austation/Austation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/access.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/research/server.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4526 [ci skip]
  html/changelogs/AutoChangeLog-pr-4526.yml
Owners: none

conflict
  code/modules/client/preferences_savefile.dm
Owners: none

Fixed Server room access (#5927)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: @powerfulbacon

[MIRROR] Tracks hours played as pAI (#4555)
  code/modules/jobs/jobs.dm
  code/modules/mob/living/silicon/pai/pai.dm
Owners: none

Automatic changelog generation for PR #4555 [ci skip]
  html/changelogs/AutoChangeLog-pr-4555.yml
Owners: none

[MIRROR] Fixes some bugs with balloon alerts (#3625)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
Owners: none

Automatic changelog generation for PR #3625 [ci skip]
  html/changelogs/AutoChangeLog-pr-3625.yml
Owners: none

fixes pais (#5939)
  code/modules/mob/living/silicon/pai/pai.dm
Owners: none

[MIRROR] Fixed Server room access (#4533)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: @powerfulbacon

Automatic changelog generation for PR #4533 [ci skip]
  html/changelogs/AutoChangeLog-pr-4533.yml
Owners: none

Delete bouncy.json
  config/coilgun/bouncy.json
Owners: @MCterra10

Automatic changelog generation for PR #4520 [ci skip]
  html/changelogs/AutoChangeLog-pr-4520.yml
Owners: none

modularization
  austation.dme
  austation/code/__DEFINES/metacoin.dm
  austation/code/modules/metacoin/metacoin.dm
Owners: none

[MIRROR] Fixes pAIs (#4557)
  code/modules/mob/living/silicon/pai/pai.dm
Owners: none

Automatic changelog generation for PR #4557 [ci skip]
  html/changelogs/AutoChangeLog-pr-4557.yml
Owners: none

Fixes Bugs with overlay lighting Part 1 (#5924)
  code/game/machinery/computer/camera.dm
  code/game/mecha/mecha.dm
Owners: none

[MIRROR] Removes beecoin reward for greentexting. (#4563)
  austation.dme
  austation/code/__DEFINES/metacoin.dm
  austation/code/modules/metacoin/metacoin.dm
  code/__DEFINES/metacoin.dm
  code/modules/metacoin/metacoin.dm
Owners: none

Automatic changelog generation for PR #4563 [ci skip]
  html/changelogs/AutoChangeLog-pr-4563.yml
Owners: none

[MIRROR] Fixes Bugs with overlay lighting Part 1 (#4534)
  code/game/machinery/computer/camera.dm
  code/game/mecha/mecha.dm
Owners: none

Automatic changelog generation for PR #4534 [ci skip]
  html/changelogs/AutoChangeLog-pr-4534.yml
Owners: none

conflict
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-3625.yml
  html/changelogs/AutoChangeLog-pr-4520.yml
  html/changelogs/AutoChangeLog-pr-4526.yml
  html/changelogs/AutoChangeLog-pr-4531.yml
  html/changelogs/AutoChangeLog-pr-4533.yml
  html/changelogs/AutoChangeLog-pr-4534.yml
  html/changelogs/AutoChangeLog-pr-4555.yml
  html/changelogs/AutoChangeLog-pr-4557.yml
  html/changelogs/AutoChangeLog-pr-4563.yml
Owners: none

add the missing newlines
  austation/code/datums/mutations/body.dm
  austation/code/datums/mutations/speech.dm
  austation/code/datums/mutations/telekinesis.dm
  austation/code/game/mecha/equipment/tools/other_tools.dm
  austation/code/game/mecha/equipment/tools/work_tools.dm
  austation/code/game/mecha/equipment/weapons/weapons.dm
  austation/code/game/objects/structures/femur_breaker.dm
  austation/code/modules/atmospherics/machinery/atmosmachinery.dm
  austation/code/modules/food_and_drinks/food/snacks_other.dm
  austation/code/modules/food_and_drinks/recipes/recipes_misc.dm
  austation/code/modules/hydroponics/grown/towercap.dm
  austation/code/modules/research/designs/mecha_designs.dm
  austation/code/modules/surgery/organs/eyes.dm
Owners: none

[MIRROR] Ports SecurEye a camera app for modular pcs from /tg/ (#4559)
  beestation.dme
  code/modules/modular_computers/file_system/programs/secureye.dm
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/packages/tgui/interfaces/NtosSecurEye.js
Owners: none

Automatic changelog generation for PR #4559 [ci skip]
  html/changelogs/AutoChangeLog-pr-4559.yml
Owners: none

[MIRROR] IPCs can now charge off of Ethereals (#4564)
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Owners: none

Automatic changelog generation for PR #4564 [ci skip]
  html/changelogs/AutoChangeLog-pr-4564.yml
Owners: none

[MIRROR] fixes excessive disease mutation (#4565)
  code/datums/diseases/advance/advance.dm
Owners: none

Automatic changelog generation for PR #4565 [ci skip]
  html/changelogs/AutoChangeLog-pr-4565.yml
Owners: none

fix newlines
  _maps/RandomRooms/3x3/sk_rdm212_cheese.dmm
  austation/strings/coilgun/bluespace.txt
  austation/strings/coilgun/bouncy.txt
  austation/strings/coilgun/sticky.txt
  austation/strings/coilgun/void.txt
  austation/tools/dmemerger.py
  goon/README.md
  strings/names/last.txt
Owners: @MCterra10

Fix update_light() Runtime in disco light (#5986)
  code/game/objects/items/devices/flashlight.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
