Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Address Xenoartifact Hard Del
  austation/code/modules/xenoarchaeology/xenoartifact.dm
  austation/code/modules/xenoarchaeology/xenoartifact_structure.dm
Owners: none

Update austation.dme
  austation.dme
Owners: none

m
  austation/code/controllers/subsystem/siege.dm
  austation/code/game/gamemodes/siege/siege_active.dm
  austation/code/modules/shuttle/syndicate.dm
  config/game_options.txt
Owners: @MCterra10

done
  austation.dme
  austation/code/controllers/subsystem/siege.dm
  austation/code/game/gamemodes/siege/outfits.dm
  austation/code/game/gamemodes/siege/siege_active.dm
  austation/code/modules/projectiles/guns/energy/energy_gun.dm
  austation/code/modules/shuttle/syndicate.dm
Owners: none

donee
  austation/code/game/gamemodes/siege/outfits.dm
  austation/code/game/gamemodes/siege/siege_active.dm
Owners: none

config
  austation/code/game/gamemodes/siege/siege.dm
  config/game_options.txt
Owners: @MCterra10

Update austation.dme
  austation.dme
Owners: none

Convert Traits to Lists & Actions to Signals
  austation/code/__DEFINES/xenoartifact_defines.dm
  austation/code/modules/xenoarchaeology/xenoartifact.dm
  austation/code/modules/xenoarchaeology/xenoartifact_console.dm
  austation/code/modules/xenoarchaeology/xenoartifact_labeler.dm
  austation/code/modules/xenoarchaeology/xenoartifact_structure.dm
  austation/code/modules/xenoarchaeology/xenoartifact_traits.dm
Owners: none

Ports the ability to disable harddels (#6317)
  code/__DEFINES/qdel.dm
  code/__DEFINES/time.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/garbage.dm
  code/modules/admin/verbs/debug.dm
  config/config.txt
Owners: @MCterra10

New sounds (#6576)
  sound/machines/closet_close.ogg
  sound/machines/closet_open.ogg
Owners: none

Converts ai tracking towards using signals (#6491)
  code/_onclick/ai.dm
  code/game/machinery/camera/tracking.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Owners: none

update bin
  auxtools/auxmos.dll
Owners: none

wrong
  auxtools/auxmos.dll
Owners: none

whoops
  auxtools/auxmos.dll
Owners: none

just to be sure
  auxtools/auxmos.dll
Owners: none

fix (#6741)
  code/controllers/subsystem/stickyban.dm
Owners: none

bumps min client version (#6726)
  code/_compile_options.dm
  config/config.txt
Owners: @MCterra10

Fixes attachment overlays on guns (#6755)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
Owners: none

what (#6760)
  code/modules/mob/living/carbon/monkey/punpun.dm
Owners: none

CTF species whitelist (#6454)
  code/modules/awaymissions/capture_the_flag.dm
Owners: none

Vend-a-tray shards fix + new breaking sound. (#6729)
  code/game/objects/structures/displaycase.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

fix flamethrower runtime (#6774)
  code/game/objects/items/flamethrower.dm
Owners: none

fix (#6773)
  code/datums/components/twohanded.dm
Owners: none

Removes try catch (#6763)
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/asteroid_generator.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/exoplanets/exoplanet_generator.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_generator.dm
Owners: @powerfulbacon

acid fix (#6649)
  code/game/objects/effects/alien_acid.dm
  code/game/objects/obj_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
Owners: none

Fixes being able to eat thru gas masks if you're on harm intent (#6781)
  code/modules/reagents/reagent_containers.dm
Owners: none

Sentinel's Compromise tweaks (#6782)
  code/modules/antagonists/clock_cult/scriptures/sentinels_compromise.dm
Owners: none

argh
  auxtools/auxmos.dll
Owners: none

[MIRROR] Adds config ability to disable cross server bans (#4922)
  code/controllers/configuration/entries/general.dm
  code/modules/admin/sql_ban_system.dm
  config/game_options.txt
Owners: @MCterra10

Automatic changelog generation for PR #4922 [ci skip]
  html/changelogs/AutoChangeLog-pr-4922.yml
Owners: none

[MIRROR] Fix: Fixes xenobiology camera checking area for flags instead of area.area_flags (#4929)
  code/modules/research/xenobiology/xenobio_camera.dm
Owners: none

Automatic changelog generation for PR #4929 [ci skip]
  html/changelogs/AutoChangeLog-pr-4929.yml
Owners: none

[MIRROR] Fixes a potential runtime in zclear (#4930)
  code/controllers/subsystem/zclear.dm
Owners: none

Automatic changelog generation for PR #4930 [ci skip]
  html/changelogs/AutoChangeLog-pr-4930.yml
Owners: none

[MIRROR] Fixes Hellbound (#4931)
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/datums/mind.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/game/objects/items/defib.dm
  code/game/objects/structures/morgue.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/transform_procs.dm
  code/modules/paperwork/contract.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/bodyparts/bodyparts.dm
Owners: none

Automatic changelog generation for PR #4931 [ci skip]
  html/changelogs/AutoChangeLog-pr-4931.yml
Owners: none

[MIRROR] Removes the backsurge event, but keeps the beer nuke (#4932)
  beestation.dme
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/events/beer_clog.dm
  code/modules/events/vent_clog.dm
Owners: none

Automatic changelog generation for PR #4932 [ci skip]
  html/changelogs/AutoChangeLog-pr-4932.yml
Owners: none

reset all the icon files to bee master
  icons/effects/aiming.dmi
  icons/effects/landmarks_spawners.dmi
  icons/effects/landmarks_static.dmi
  icons/effects/rust_overlay.dmi
  icons/emoji.dmi
  icons/mob/accessories.dmi
  icons/mob/actions/actions_changeling.dmi
  icons/mob/actions/actions_shuttle.dmi
  icons/mob/clothing/head.dmi
  icons/mob/screen_alert.dmi
  icons/obj/atmos.dmi
  icons/obj/atmospherics/components/binary_devices.dmi
  icons/obj/atmospherics/components/trinary_devices.dmi
  icons/obj/atmospherics/components/unary_devices.dmi
  icons/obj/atmospherics/pipes/he-junction.dmi
  icons/obj/atmospherics/pipes/he-manifold.dmi
  icons/obj/atmospherics/pipes/he-simple.dmi
  icons/obj/atmospherics/pipes/manifold.dmi
  icons/obj/atmospherics/pipes/multiz.dmi
  icons/obj/atmospherics/pipes/pipe_item.dmi
  icons/obj/atmospherics/pipes/simple.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/computer.dmi
  icons/obj/food/containers.dmi
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/structures.dmi
  icons/obj/tools.dmi
  icons/turf/areas.dmi
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
