Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

[MIRROR] autodoc sprite change (#1693)
  code/game/machinery/autodoc.dm
  icons/obj/machines/autodoc.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1693 [ci skip]
  html/changelogs/AutoChangeLog-pr-1693.yml
Owners: none

[MIRROR] adds plasmaman chameleon envirosuit, some blasmasuit refactors (#1694)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Automatic changelog generation for PR #1694 [ci skip]
  html/changelogs/AutoChangeLog-pr-1694.yml
Owners: none

[MIRROR] Upgrading DMAPI to TGS4 (#1699)
  code/__DEFINES/tgs.config.dm
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/undef.dm
Owners: @crossedfall

Automatic changelog generation for PR #1699 [ci skip]
  html/changelogs/AutoChangeLog-pr-1699.yml
Owners: none

[MIRROR] My take on northstar gloves (#1701)
  code/modules/clothing/gloves/miscellaneous.dm
Owners: none

Automatic changelog generation for PR #1701 [ci skip]
  html/changelogs/AutoChangeLog-pr-1701.yml
Owners: none

Adds random maint to pubby, new gimmick job (#1797)
  _maps/RandomRooms/10x5/sk_rdm091_skidrow.dmm
  _maps/RandomRooms/3x3/sk_rdm092_hobohut.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/traits.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/gimmick.dm
  code/modules/mapping/random_rooms.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/reagents/reagent_containers/pill.dm
Owners: @ShizCalev

Update sql_ban_system.dm
  code/modules/admin/sql_ban_system.dm
Owners: none

[MIRROR] Adds random maint to pubby, new gimmick job (#1700)
  _maps/RandomRooms/10x5/sk_rdm091_skidrow.dmm
  _maps/RandomRooms/3x3/sk_rdm092_hobohut.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/traits.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/jobs/job_types/gimmick.dm
  code/modules/mapping/random_rooms.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/reagents/reagent_containers/pill.dm
Owners: @ShizCalev

Automatic changelog generation for PR #1700 [ci skip]
  html/changelogs/AutoChangeLog-pr-1700.yml
Owners: none

[MIRROR] Citations (#44853) (#1703)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  beestation.dme
  code/datums/datacore.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/warrant.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/devices/PDA/PDA.dm
Owners: @ShizCalev

Automatic changelog generation for PR #1703 [ci skip]
  html/changelogs/AutoChangeLog-pr-1703.yml
Owners: none

[MIRROR] Fixes some guardian bugs (#1704)
  code/modules/guardian/guardian.dm
Owners: none

Automatic changelog generation for PR #1704 [ci skip]
  html/changelogs/AutoChangeLog-pr-1704.yml
Owners: none

[MIRROR] Mob Faction refactor + Lizard wings (#1706)
  beestation.dme
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/angel.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  icons/mob/moth_wings.dmi
  icons/mob/wings.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1706 [ci skip]
  html/changelogs/AutoChangeLog-pr-1706.yml
Owners: none

[MIRROR] Fixes spammy comms consoles destroying the ears of the playerbase (#1707)
  code/game/machinery/computer/communications.dm
Owners: none

Automatic changelog generation for PR #1707 [ci skip]
  html/changelogs/AutoChangeLog-pr-1707.yml
Owners: none

fixes, parry removal, etc (#1803)
  code/__DEFINES/traits.dm
  code/game/objects/items.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/toys.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/autofire.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Owners: none

[MIRROR] my name really be spelled wrong in da changelog doe (#1709)
  html/templates/header.html
Owners: none

Automatic changelog generation for PR #1709 [ci skip]
  html/changelogs/AutoChangeLog-pr-1709.yml
Owners: none

[MIRROR] fixes, parry removal, etc (#1708)
  code/__DEFINES/traits.dm
  code/game/objects/items.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/toys.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/autofire.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
Owners: none

Automatic changelog generation for PR #1708 [ci skip]
  html/changelogs/AutoChangeLog-pr-1708.yml
Owners: none

Emergency combat fix (#1814)
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

[MIRROR] Emergency combat fix (#1711)
  code/modules/mob/living/carbon/human/human_defense.dm
Owners: none

changes good i hope
  austation/code/datums/emotes.dm
  austation/code/modules/mob/living/carbon/emote.dm
  austation/code/modules/mob/living/carbon/human/emote.dm
  austation/code/modules/mob/living/carbon/human/species_type/felinid.dm
  austation/code/modules/mob/living/emote.dm
  austation/code/modules/mob/living/human/emote.dm
  austation/code/modules/mob/living/silicon/robot/emote.dm
  austation/code/modules/mob/mob_defines.dm
  austation/includes.dm
  code/datums/emotes.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
Owners: @MCterra10

i fucked mob_defines lol
  austation/code/modules/mob/mob_defines.dm
Owners: @MCterra10

should work now hopefully
  code/modules/mob/mob_defines.dm
Owners: none

ports racial languages from /tg/
  austation/code/_DEFINES/language.dm
  austation/code/modules/language/buzzwords.dm
  austation/code/modules/language/calcic.dm
  austation/code/modules/language/language_holder.dm
  austation/code/modules/language/moffic.dm
  austation/code/modules/language/shadowtongue.dm
  austation/code/modules/language/sylvan.dm
  austation/code/modules/language/terrum.dm
  austation/code/modules/language/voltaic.dm
  austation/code/modules/mob/living/human/species.dm
  austation/code/modules/mob/living/human/species_type/ethereal.dm
  austation/code/modules/mob/living/human/species_type/flypeople.dm
  austation/code/modules/mob/living/human/species_type/golems.dm
  austation/code/modules/mob/living/human/species_type/mothmen.dm
  austation/code/modules/mob/living/human/species_type/plasmamen.dm
  austation/code/modules/mob/living/human/species_type/podpeople.dm
  austation/code/modules/mob/living/human/species_type/shadowpeople.dm
  austation/code/modules/mob/living/human/species_type/skeletons.dm
  austation/code/modules/surgery/organs/tongue.dm
  austation/includes.dm
  code/modules/surgery/organs/tongue.dm
  icons/misc/language.dmi
  icons/obj/surgery.dmi
Owners: @MCterra10, @ShizCalev

Makes secret extended actually exist. (#1804)
  code/game/gamemodes/extended/extended.dm
Owners: none

i was drunk when making changes last night
  code/modules/mob/living/emote.dm
Owners: none

travis ci failed bc of atmos runtimes
  code/datums/emotes.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1682.yml
  html/changelogs/AutoChangeLog-pr-1684.yml
  html/changelogs/AutoChangeLog-pr-1686.yml
  html/changelogs/AutoChangeLog-pr-1687.yml
  html/changelogs/AutoChangeLog-pr-1688.yml
  html/changelogs/AutoChangeLog-pr-1689.yml
  html/changelogs/AutoChangeLog-pr-1691.yml
  html/changelogs/AutoChangeLog-pr-1692.yml
  html/changelogs/AutoChangeLog-pr-1693.yml
  html/changelogs/AutoChangeLog-pr-1694.yml
  html/changelogs/AutoChangeLog-pr-1696.yml
  html/changelogs/AutoChangeLog-pr-1697.yml
  html/changelogs/AutoChangeLog-pr-1698.yml
  html/changelogs/AutoChangeLog-pr-1699.yml
  html/changelogs/AutoChangeLog-pr-1700.yml
  html/changelogs/AutoChangeLog-pr-1701.yml
  html/changelogs/AutoChangeLog-pr-1703.yml
  html/changelogs/AutoChangeLog-pr-1704.yml
  html/changelogs/AutoChangeLog-pr-1706.yml
  html/changelogs/AutoChangeLog-pr-1707.yml
  html/changelogs/AutoChangeLog-pr-1708.yml
  html/changelogs/AutoChangeLog-pr-1709.yml
  html/changelogs/AutoChangeLog-pr-1710.yml
Owners: none

aaaaa i got it working fuck eah
  austation/code/modules/language/language_holder.dm
  austation/code/modules/mob/living/human/species_type/apid.dm
  austation/code/modules/mob/living/human/species_type/ethereal.dm
  austation/code/modules/mob/living/human/species_type/flypeople.dm
  austation/code/modules/mob/living/human/species_type/golems.dm
  austation/code/modules/mob/living/human/species_type/mothmen.dm
  austation/code/modules/mob/living/human/species_type/plasmamen.dm
  austation/code/modules/mob/living/human/species_type/podpeople.dm
  austation/code/modules/mob/living/human/species_type/shadowpeople.dm
  austation/code/modules/mob/living/human/species_type/skeletons.dm
  austation/define_includes.dm
  austation/includes.dm
Owners: @MCterra10

fix logic issues (#1819)
  code/game/machinery/_machinery.dm
Owners: none

insect species now all have buzzwords
  austation/code/modules/mob/living/human/species_type/mothmen.dm
Owners: @MCterra10

[MIRROR] EMERGENCY FIX can_interact logic issues (#1714)
  code/game/machinery/_machinery.dm
Owners: none

Automatic changelog generation for PR #1714 [ci skip]
  html/changelogs/AutoChangeLog-pr-1714.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)
