Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @crossedfall, @TheFakeElon

[MIRROR] Gives the Captain a tablet (#4046)
  code/modules/jobs/job_types/captain.dm
Owners: none

Automatic changelog generation for PR #4046 [ci skip]
  html/changelogs/AutoChangeLog-pr-4046.yml
Owners: none

Removes murderbone items from surplus crates (#5207)
  code/modules/uplink/uplink_items.dm
Owners: none

Update items.dm (#5190)
  code/game/objects/items.dm
Owners: none

New HUD icons for gimmick jobs (and exploration crew) (#5187)
  code/modules/jobs/access.dm
  icons/mob/hud.dmi
Owners: none

Fixes instant surgery in poor conditions (#5143)
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/surgery/surgery_step.dm
Owners: none

makes all wall-mounted machines/signs show up above windows (#5209)
  code/game/machinery/airlock_cycle_control.dm
  code/game/machinery/buttons.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/defibrillator_mount.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/embedded_controller/simple_vent_controller.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/flasher.dm
  code/game/machinery/igniter.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/status_display.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/structures/extinguisher.dm
  code/game/objects/structures/fireaxe.dm
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/noticeboard.dm
  code/modules/atmospherics/machinery/airalarm.dm
  code/modules/photography/photos/frame.dm
  code/modules/power/apc.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/security_levels/keycard_authentication.dm
Owners: none

Improves the Functionality of Advanced Mimery Gun (#4831)
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/spells/spell_types/mime.dm
Owners: none

Better turret judgement. (#5170)
  code/game/machinery/porta_turret/portable_turret.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4046.yml
Owners: none

Adds Coffee to BoxStation (#4902)
  _maps/map_files/BoxStation/BoxStation.dmm
Owners: none

[MIRROR] Blocking is now disabled in help intent instead of harm intent. (#4048)
  code/game/objects/items.dm
Owners: none

Automatic changelog generation for PR #4048 [ci skip]
  html/changelogs/AutoChangeLog-pr-4048.yml
Owners: none

better vomit check
  code/modules/mob/living/carbon/human/species.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4048.yml
Owners: none

Hardens admin permissions procs against abuse (#5222)
  code/modules/admin/permissionedit.dm
Owners: none

Config loaded badges (#5218)
  config/badges.json
  icons/badges.dmi
Owners: @MCterra10

[MIRROR] Hardens admin permissions procs against abuse (#4056)
  code/modules/admin/permissionedit.dm
Owners: none

Automatic changelog generation for PR #4056 [ci skip]
  html/changelogs/AutoChangeLog-pr-4056.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4056.yml
Owners: none

o7 (#5217)
  code/modules/VR/vr_human.dm
  code/modules/VR/vr_sleeper.dm
Owners: none

Changes the corporate lawset (#5089)
  code/datums/ai_laws.dm
Owners: none

[MIRROR] Topic System Overhaul (#3998)
  beestation.dme
  code/__DEFINES/subsystems.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/misc.dm
  code/controllers/configuration/entries/comms.dm
  code/controllers/subsystem/fail2topic.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/topic.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  code/game/world.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/discord/discord.dm
  code/modules/discord/from_discord.dm
  code/modules/mob/dead/dead.dm
  config/README.md
  config/comms.txt
  tools/WebhookProcessor/github_webhook_processor.php
Owners: @MCterra10, @crossedfall

Automatic changelog generation for PR #3998 [ci skip]
  html/changelogs/AutoChangeLog-pr-3998.yml
Owners: none

allow case-sensitive topic tokens (#5115)
  code/controllers/configuration/config_entry.dm
  code/controllers/configuration/entries/comms.dm
Owners: none

[MIRROR] Allow Case-Sensitive Topic Tokens (#4003)
  code/controllers/configuration/config_entry.dm
  code/controllers/configuration/entries/comms.dm
Owners: none

Automatic changelog generation for PR #4003 [ci skip]
  html/changelogs/AutoChangeLog-pr-4003.yml
Owners: none

bump
  Dockerfile
  austation/code/modules/admin/verbs/fix_air.dm
  auxtools/auxmos.dll
  code/controllers/subsystem/air.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/admin/admin_verbs.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/atmospherics/gasmixtures/reactions.dm
  code/modules/atmospherics/machinery/airalarm.dm
  dependencies.sh
  tools/tgs4_scripts/PreCompile.sh
Owners: @crossedfall

slow decomp
  auxtools/auxmos.dll
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Owners: none

yuppo
  dependencies.sh
Owners: @crossedfall

don't forget these
  Dockerfile
  tools/tgs4_scripts/PreCompile.sh
Owners: @crossedfall

lmfaoo
  tools/ci/install_auxmos.sh
Owners: @crossedfall

Fix solar control visuals (#5227)
  code/modules/power/solar.dm
  icons/obj/computer.dmi
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-3998.yml
  html/changelogs/AutoChangeLog-pr-4003.yml
Owners: none

Fix bad tooltip positions (#5235)
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
Owners: none

fast
  code/controllers/subsystem/air.dm
Owners: none

Update encryptionkey.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
Owners: none

[MIRROR] adds a way to vv edit gas mixtures (#4035)
  code/__DEFINES/vv.dm
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Owners: none

Automatic changelog generation for PR #4035 [ci skip]
  html/changelogs/AutoChangeLog-pr-4035.yml
Owners: none

[MIRROR] Improves the Functionality of Advanced Mimery Gun (#4052)
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/_cylinder.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/projectile/bullets/revolver.dm
  code/modules/spells/spell_types/mime.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

<<<<<<< HEAD

# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10
=======
# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
>>>>>>> ca9bc0b87d... Update CODEOWNERS (#5067)

# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
