Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

realised i did a stupid
  austation/code/modules/mining/lavaland/necropolis_chests.dm
Owners: none

fixes the dme that broke itself
  austation.dme
Owners: none

fun
  austation/code/modules/clothing/suits/armor.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

shiz
  austation/code/game/machinery/doors/firedoor.dm
  code/controllers/subsystem/adjacent_air.dm
Owners: none

aaaaa
  austation/code/game/machinery/doors/firedoor.dm
  code/controllers/subsystem/adjacent_air.dm
  code/controllers/subsystem/air.dm
  code/modules/mapping/map_template.dm
  code/modules/shuttle/on_move.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Adds a new lizard plushie
  austation/code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Owners: none

Adds transparent background to plushie_lizard_red
  icons/obj/plushes.dmi
Owners: none

removes fumos again
  austation/code/game/objects/items/plushes.dm
Owners: none

EZ PR (#5444)
  code/game/objects/effects/mines.dm
Owners: none

Update packs.dm (#5430)
  code/modules/cargo/packs.dm
Owners: none

shiez
  auxtools/auxmos.dll
  code/modules/shuttle/on_move.dm
Owners: none

binareee
  auxtools/auxmos.dll
Owners: none

bump
  dependencies.sh
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Changes points economy for Sentient Diseases
  austation/code/modules/antagonists/disease/disease_abilities.dm
Owners: none

increase title length limit (#5440)
  code/modules/library/lib_items.dm
Owners: none

catgirls and lizards get no disease from rats
  austation.dme
  austation/code/__DEFINES/diseases.dm
  austation/code/__DEFINES/traits.dm
  austation/code/modules/mob/living/carbon/human/species_type/felinid.dm
  austation/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

need to reorder these or it will poop
  austation/code/modules/mob/living/carbon/human/species_type/felinid.dm
  austation/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
Owners: none

Apply suggestions from code review
  austation/code/modules/mob/living/carbon/human/species_type/felinid.dm
  austation/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
Owners: none

rename define
  austation/code/__DEFINES/diseases.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

[MIRROR] Warping runes now correctly pass in the slime color (#4223)
  code/modules/research/xenobiology/crossbreeding/warping.dm
Owners: none

Automatic changelog generation for PR #4223 [ci skip]
  html/changelogs/AutoChangeLog-pr-4223.yml
Owners: none

terra moment
  code/modules/mob/living/simple_animal/friendly/mouse.dm
Owners: none

catgirls and lizards get no disease from rats (#4231)
  austation.dme
  austation/code/__DEFINES/diseases.dm
  austation/code/__DEFINES/traits.dm
  austation/code/modules/mob/living/carbon/human/species_type/felinid.dm
  austation/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

Automatic changelog generation for PR #4231 [ci skip]
  html/changelogs/AutoChangeLog-pr-4231.yml
Owners: none

meh
  auxtools/auxmos.dll
Owners: none

Change areas around airlock (#5450)
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: none

eeeee
  code/controllers/subsystem/air.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4223.yml
  html/changelogs/AutoChangeLog-pr-4231.yml
Owners: none

removes clown access requirement from the rear stage maint door
  _maps/map_files/Austation/Austation.dmm
Owners: none

stuffe
  auxtools/auxmos.dll
  code/__DEFINES/shuttles.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_docking.dm
Owners: @powerfulbacon

Remove redundant var (#5452)
  code/modules/power/supermatter/supermatter.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

r (#5453)
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/job.dm
Owners: none

Bumps everything to 514.1568 (#5459)
  Dockerfile
  code/_compile_options.dm
  code/modules/client/client_procs.dm
  config/config.txt
  dependencies.sh
Owners: @MCterra10

[MIRROR] Fixes rare case of join via pod sending you to hyperspace (#4235)
  code/__HELPERS/unsorted.dm
  code/controllers/subsystem/job.dm
Owners: none

Automatic changelog generation for PR #4235 [ci skip]
  html/changelogs/AutoChangeLog-pr-4235.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4235.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
