Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)

[MIRROR] Removes the "To Kill" wish option from the wishgranter (#47084) (#1653)
  code/modules/awaymissions/mission_code/wildwest.dm
Owners: none

Automatic changelog generation for PR #1653 [ci skip]
  html/changelogs/AutoChangeLog-pr-1653.yml
Owners: none

Create label.yml (#1757)
  .github/label.yml
Owners: @crossedfall

Actions: Generate and Compile CLs without needing a webhook!™ (#1756)
  .github/workflows/compile_changelogs.yml
  .github/workflows/make_changelogs.yml
  TGS3.json
  tools/changelog/generate_cl.py
  tools/changelog/makeChangelog.bat
  tools/changelog/ss13_genchangelog.py
  tools/changelog/tags.yml
  tools/tgs4_scripts/PreSynchronize.ps1
  tools/tgs4_scripts/PreSynchronize.sh
  tools/travis/check_changelogs.sh
Owners: @crossedfall

Update make_changelogs.yml [ci skip] (#1759)
  .github/workflows/make_changelogs.yml
Owners: @crossedfall

Safety Moth(TM) posters from your friends at Nanotrasen! (Now with artist approval) (#1747)
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Owners: @ShizCalev

Actions: CL Token Adjustment (#1761)
  .github/workflows/make_changelogs.yml
Owners: @crossedfall

Updates Travis to use the latest version (#1762)
  Dockerfile
Owners: @crossedfall

Deletes meme debug
  code/modules/admin/admin_verbs.dm
Owners: none

Actions: Another Make CL edge case fix (#1764)
  .github/workflows/make_changelogs.yml
Owners: @crossedfall

Update README.md (#1765)
  README.md
Owners: none

I'm taking a break from actions after this (#1767)
  .github/workflows/make_changelogs.yml
  tools/changelog/generate_cl.py
Owners: @crossedfall

fixes id console blacklist of gimmick jobs (#1763)
  code/game/machinery/computer/card.dm
  code/modules/jobs/job_types/gimmick.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1653.yml
Owners: none

A few radiation optimizations (#1567)
  code/__DEFINES/radiation.dm
  code/__HELPERS/radiation.dm
  code/datums/components/radioactive.dm
  code/datums/radiation_wave.dm
Owners: @Cyberboss, @ninjanomnom

Stop 'special additional role' from being spawned as an event. (#1749)
  code/controllers/subsystem/events.dm
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/roundstart_special/special_antagonist.dm
  code/modules/events/_event.dm
  code/modules/events/special_antag_event.dm
Owners: none

removes speech restriction for elites
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
Owners: none

Revert "More Crates And Some Changes To Other Crates (#1610)" (#1673)
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/cargo/packs.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Antagonists can now be set to not prevent round end (#1745)
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/roundstart_special/special_antagonist.dm
  code/modules/awaymissions/corpse.dm
Owners: none

Fixes conveyors and probably makes them faster. (#1778)
  code/game/atoms_movable.dm
  code/game/objects/effects/effects.dm
  code/modules/mob/dead/dead.dm
  code/modules/mob/living/living.dm
  code/modules/recycling/conveyor2.dm
Owners: none

Plasmamen flash/welding protection is now a toggleable visor (#1695)
  code/datums/action.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Owners: @ShizCalev

Paperlimiter (#1776)
  code/modules/paperwork/paper.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

cleans up actions, steals stale markers
  .github/workflows/compile_changelogs.yml
  .github/workflows/docker.yml
  .github/workflows/stale_issues.yml
  .github/workflows/stale_prs.yml
Owners: @crossedfall

[MIRROR] Updates actions to only run within our repository (#1649)
  .github/workflows/stale_issues.yml
  .github/workflows/stale_prs.yml
Owners: @crossedfall

[MIRROR] Cult stun protected against by mindshields instead, and it only offers partial immunity (#1652)
  code/modules/antagonists/cult/blood_magic.dm
Owners: none

Automatic changelog generation for PR #1652 [ci skip]
  html/changelogs/AutoChangeLog-pr-1652.yml
Owners: none

Automatic changelog generation for PR #1654 [ci skip]
  html/changelogs/AutoChangeLog-pr-1654.yml
Owners: none

conflict
  .github/workflows/compile_changelogs.yml
Owners: @crossedfall

updates emails and usernames
  .github/workflows/compile_changelogs.yml
  .github/workflows/make_changelogs.yml
Owners: @crossedfall

whoops
  .github/workflows/compile_changelogs.yml
Owners: @crossedfall

[MIRROR] Adds the new label config for the new label bot (#1656)
  .github/label.yml
Owners: @crossedfall

[MIRROR] Safety Moth(TM) posters from your friends at Nanotrasen! (Now with artist approval) (#1659)
  code/game/objects/effects/contraband.dm
  icons/obj/contraband.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1659 [ci skip]
  html/changelogs/AutoChangeLog-pr-1659.yml
Owners: none

[MIRROR] Updates Travis to use the latest version (#1661)
  Dockerfile
Owners: @crossedfall

Automatic changelog generation for PR #1661 [ci skip]
  html/changelogs/AutoChangeLog-pr-1661.yml
Owners: none

[MIRROR] Update README.md (#1663)
  README.md
Owners: none

Automatic changelog generation for PR #1663 [ci skip]
  html/changelogs/AutoChangeLog-pr-1663.yml
Owners: none

[MIRROR] fixes id console blacklist of gimmick jobs (#1665)
  code/game/machinery/computer/card.dm
  code/modules/jobs/job_types/gimmick.dm
Owners: none
