Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

goughdemn gucci louis, three box logo
  austation/code/modules/mob/living/human/emote.dm
  austation/sound/misc/goughdemn.ogg
  beestation.dme
Owners: @MCterra10

ok actually added cooldowns to ALL sound emotes
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
Owners: none

visual studio code keeps fucking adding austation's define_includes fuck
  beestation.dme
Owners: none

might help if i use the full filename lol
  austation/code/modules/mob/living/human/emote.dm
Owners: @MCterra10

included cooldowns for sillycons
  code/modules/mob/living/silicon/robot/emote.dm
Owners: none

i think it failed compiling bc of a simplemob
  austation/code/modules/mob/living/emote.dm
  austation/code/modules/mob/living/human/emote.dm
Owners: @MCterra10

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Mob Faction refactor + Lizard wings (#1616)
  beestation.dme
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/dead/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/angel.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/podpeople.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/mob/living/simple_animal/slime/life.dm
  icons/mob/moth_wings.dmi
  icons/mob/wings.dmi
Owners: @ShizCalev

Fixes spammy comms consoles destroying the ears of the playerbase (#1806)
  code/game/machinery/computer/communications.dm
Owners: none

my name really be spelled wrong in da changelog doe (#1811)
  html/templates/header.html
Owners: none

Removes OracleUI (#1812)
  beestation.dme
  code/modules/oracle_ui/README.md
  code/modules/oracle_ui/assets.dm
  code/modules/oracle_ui/hookup_procs.dm
  code/modules/oracle_ui/oracle_ui.dm
  code/modules/oracle_ui/themed.dm
  code/modules/paperwork/paper.dm
  code/modules/recycling/disposal/bin.dm
  html/oracle_ui/content/disposal_bin/index.html
  html/oracle_ui/editor_tool.html
  html/oracle_ui/themes/nano/index.html
  html/oracle_ui/themes/nano/sui-nano-common.css
  html/oracle_ui/themes/nano/sui-nano-common.js
  html/oracle_ui/themes/nano/sui-nano-jquery.min.js
  html/oracle_ui/themes/paper/index.html
  html/oracle_ui/themes/paper/sui-paper-common.css
  html/oracle_ui/themes/paper/sui-paper-common.js
Owners: none

[MIRROR] Removes OracleUI (#1710)
  beestation.dme
  code/modules/oracle_ui/README.md
  code/modules/oracle_ui/assets.dm
  code/modules/oracle_ui/hookup_procs.dm
  code/modules/oracle_ui/oracle_ui.dm
  code/modules/oracle_ui/themed.dm
  code/modules/paperwork/paper.dm
  code/modules/recycling/disposal/bin.dm
  html/oracle_ui/content/disposal_bin/index.html
  html/oracle_ui/editor_tool.html
  html/oracle_ui/themes/nano/index.html
  html/oracle_ui/themes/nano/sui-nano-common.css
  html/oracle_ui/themes/nano/sui-nano-common.js
  html/oracle_ui/themes/nano/sui-nano-jquery.min.js
  html/oracle_ui/themes/paper/index.html
  html/oracle_ui/themes/paper/sui-paper-common.css
  html/oracle_ui/themes/paper/sui-paper-common.js
Owners: none

Automatic changelog generation for PR #1710 [ci skip]
  html/changelogs/AutoChangeLog-pr-1710.yml
Owners: none

[MIRROR] Better gauze + medical patch crafting (#1682)
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/medical.dm
Owners: @Cyberboss, @ninjanomnom

Automatic changelog generation for PR #1682 [ci skip]
  html/changelogs/AutoChangeLog-pr-1682.yml
Owners: none

[MIRROR] Lavaland shuttle fix + Some other fix (#1684)
  code/game/objects/items/shuttle_creator.dm
Owners: none

Automatic changelog generation for PR #1684 [ci skip]
  html/changelogs/AutoChangeLog-pr-1684.yml
Owners: none

[MIRROR] Adds the Billy club, a new sec tool (#1686)
  _maps/map_files/generic/CentCom.dmm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  icons/obj/items_and_weapons.dmi
Owners: @ShizCalev, @Cyberboss, @ninjanomnom

Automatic changelog generation for PR #1686 [ci skip]
  html/changelogs/AutoChangeLog-pr-1686.yml
Owners: none

[MIRROR] tgui: Biogenerator #51022 (#1687)
  code/modules/hydroponics/biogenerator.dm
  tgui/packages/tgui/interfaces/Biogenerator.js
  tgui/packages/tgui/public/tgui.bundle.js
Owners: @stylemistake

Automatic changelog generation for PR #1687 [ci skip]
  html/changelogs/AutoChangeLog-pr-1687.yml
Owners: none

[MIRROR] Fixes felinid virus speech (#1688)
  code/datums/diseases/transformation.dm
Owners: @zeskorion

Automatic changelog generation for PR #1688 [ci skip]
  html/changelogs/AutoChangeLog-pr-1688.yml
Owners: none

[MIRROR] adds parrying (#1689)
  code/__DEFINES/traits.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items.dm
  code/game/objects/items/shields.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_movement.dm
  sound/weapons/deflect.ogg
Owners: @ShizCalev

Automatic changelog generation for PR #1689 [ci skip]
  html/changelogs/AutoChangeLog-pr-1689.yml
Owners: none

[MIRROR] buffs relic water bottle (#1692)
  code/modules/mining/lavaland/necropolis_chests.dm
Owners: none

Automatic changelog generation for PR #1692 [ci skip]
  html/changelogs/AutoChangeLog-pr-1692.yml
Owners: none

parryqol (#1795)
  code/modules/mob/living/living_defense.dm
Owners: none

adds plasmaman chameleon envirosuit, some blasmasuit refactors (#1768)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/chameleon.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/uplink/uplink_items.dm
Owners: none

autodoc sprite change (#1734)
  code/game/machinery/autodoc.dm
  icons/obj/machines/autodoc.dmi
Owners: @ShizCalev

[MIRROR] Decreased downtime and bugs (#1696)
  code/__DEFINES/mobs.dm
  code/game/machinery/rechargestation.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
Owners: @Qustinnus

Automatic changelog generation for PR #1696 [ci skip]
  html/changelogs/AutoChangeLog-pr-1696.yml
Owners: none

[MIRROR] Traitor uplink items rework (#1697)
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/shoes/taeclowndo.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Automatic changelog generation for PR #1697 [ci skip]
  html/changelogs/AutoChangeLog-pr-1697.yml
Owners: none

[MIRROR] adds a bee gun (#1698)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/projectiles/ammunition/special/syringe.dm
  code/modules/projectiles/guns/misc/chem_gun.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  icons/obj/guns/projectile.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1698 [ci skip]
  html/changelogs/AutoChangeLog-pr-1698.yml
Owners: none

[MIRROR] small qol change (#1691)
  code/modules/mob/living/living_defense.dm
Owners: none

Automatic changelog generation for PR #1691 [ci skip]
  html/changelogs/AutoChangeLog-pr-1691.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)
