Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @crossedfall, @TheFakeElon

[MIRROR] Removes the soul from chaplain.dm (Removes banbait religions) (#3961)
  code/modules/jobs/job_types/chaplain.dm
Owners: none

Automatic changelog generation for PR #3961 [ci skip]
  html/changelogs/AutoChangeLog-pr-3961.yml
Owners: none

austation modularization
  austation/strings/names/death_commando.txt
  code/_globalvars/lists/names.dm
Owners: none

[MIRROR] Changes Commando Names. (#3963)
  austation/strings/names/death_commando.txt
  code/_globalvars/lists/names.dm
  strings/names/death_commando.txt
Owners: none

Automatic changelog generation for PR #3963 [ci skip]
  html/changelogs/AutoChangeLog-pr-3963.yml
Owners: none

conflicts
  .github/workflows/continuous_integration.yml
  tgui/bin/tgui
  tools/build/build.js
  tools/ci/build.ps1
  tools/tgs4_scripts/PreCompile.bat
Owners: @crossedfall

Update tools/tgs4_scripts/PreCompile.bat
  tools/tgs4_scripts/PreCompile.bat
Owners: @crossedfall

Automatic changelog generation for PR #3967 [ci skip]
  html/changelogs/AutoChangeLog-pr-3967.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-3961.yml
  html/changelogs/AutoChangeLog-pr-3963.yml
  html/changelogs/AutoChangeLog-pr-3967.yml
Owners: none

[PORT] Popper Tooltips 2 (they don't crash this time) (#4832)
  tgui/docs/component-reference.md
  tgui/packages/tgui-panel/Panel.js
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/Popper.tsx
  tgui/packages/tgui/components/Tooltip.js
  tgui/packages/tgui/components/Tooltip.tsx
  tgui/packages/tgui/components/index.js
  tgui/packages/tgui/interfaces/Canister.js
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
  tgui/packages/tgui/interfaces/ComputerFabricator.js
  tgui/packages/tgui/interfaces/Guardian.js
  tgui/packages/tgui/interfaces/NtosRoboControl.js
  tgui/packages/tgui/interfaces/manually-routed/KitchenSink.js
  tgui/packages/tgui/layouts/NtosWindow.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/stories/Popper.stories.js
  tgui/packages/tgui/stories/Tooltip.stories.js
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui.html
  tgui/yarn.lock
Owners: none

Updates our CL header to include a few more spriters + coders (#5151)
  html/templates/header.html
Owners: none

Spiders: Prevents player-controlled spiders from reproducing without a directive. (#5134)
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

another important recursive contents fix (#5158)
  code/game/atoms_movable.dm
Owners: none

Fixes a typo (#5157)
  code/modules/surgery/organs/lungs.dm
Owners: none

Gives layer manifolds volume (#5163)
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
Owners: none

rouny (#5149)
  code/game/machinery/computer/arcade.dm
  code/game/objects/items/plushes.dm
  icons/obj/plushes.dmi
Owners: none

Update ChemPress.js (#5097)
  tgui/packages/tgui/interfaces/ChemPress.js
Owners: none

Dockerfile updates + BYOND version bump (#5063)
  Dockerfile
  dependencies.sh
Owners: @crossedfall

[MIRROR] Dockerfile updates + BYOND version bump (#3987)
  Dockerfile
  dependencies.sh
Owners: @crossedfall

Bumps auxmos to latest version (#5146)
  Dockerfile
  auxtools/auxmos.dll
  code/_compile_options.dm
  dependencies.sh
Owners: @crossedfall

[MIRROR] Bumps auxmos to latest version (#4021)
  Dockerfile
  auxtools/auxmos.dll
  code/_compile_options.dm
  dependencies.sh
Owners: @crossedfall

Automatic changelog generation for PR #4021 [ci skip]
  html/changelogs/AutoChangeLog-pr-4021.yml
Owners: none

514.1560 (#5150)
  Dockerfile
  dependencies.sh
Owners: @crossedfall

[MIRROR] 514.1560 (#4022)
  Dockerfile
  dependencies.sh
Owners: @crossedfall

austation area update
  austation/code/game/objects/items/deepbagofholding.dm
Owners: none

'Archival Tape' Announcer (#5161)
  beestation.dme
  code/datums/announcers/baystation_announcer.dm
  code/datums/station_traits/neutral_traits.dm
  sound/ai/baystation/aliens.ogg
  sound/ai/baystation/attention.ogg
  sound/ai/baystation/commandreport.ogg
  sound/ai/baystation/granomalies.ogg
  sound/ai/baystation/intercept.ogg
  sound/ai/baystation/ionstorm.ogg
  sound/ai/baystation/meteors.ogg
  sound/ai/baystation/outbreak5.ogg
  sound/ai/baystation/outbreak7.ogg
  sound/ai/baystation/poweroff.ogg
  sound/ai/baystation/poweron.ogg
  sound/ai/baystation/radiation.ogg
  sound/ai/baystation/shuttlecalled_static.ogg
  sound/ai/baystation/shuttledock.ogg
  sound/ai/baystation/shuttlerecalled.ogg
  sound/ai/baystation/spanomalies.ogg
  sound/ai/baystation/welcome.ogg
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4021.yml
Owners: none

Automatic changelog generation for PR #3968 [ci skip]
  html/changelogs/AutoChangeLog-pr-3968.yml
Owners: none

Expanded Malf Ai alert module modularised edition (#3905)
  austation.dme
  austation/code/modules/events/communications_blackout.dm
  austation/code/modules/events/disease_outbreak.dm
  austation/code/modules/events/electrical_storm.dm
  austation/code/modules/events/space_dragon.dm
Owners: none

modularize miners
  austation.dme
  austation/code/controllers/configuration/entries/game_options.dm
  austation/code/game/objects/items/circuitboards/machine_circuitboards.dm
  austation/code/modules/mining/machine_bluespaceminer.dm
  austation/code/modules/research/designs/machine_designs.dm
  austation/code/modules/research/techweb/all_nodes.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  config/austation.txt
Owners: @MCterra10

[MIRROR] Removes the bluespace miner (#3978)
  austation.dme
  austation/code/controllers/configuration/entries/game_options.dm
  austation/code/game/objects/items/circuitboards/machine_circuitboards.dm
  austation/code/modules/mining/machine_bluespaceminer.dm
  austation/code/modules/research/designs/machine_designs.dm
  austation/code/modules/research/techweb/all_nodes.dm
  beestation.dme
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/all_nodes.dm
  config/austation.txt
  config/game_options.txt
Owners: @MCterra10

Automatic changelog generation for PR #3978 [ci skip]
  html/changelogs/AutoChangeLog-pr-3978.yml
Owners: none

[MIRROR] Removes heretics gamemode, they can only spawn on dynamic now. (#3988)
  config/game_options.txt
Owners: @MCterra10

Automatic changelog generation for PR #3988 [ci skip]
  html/changelogs/AutoChangeLog-pr-3988.yml
Owners: none

A couple plumbing fixes (#5092)
  code/datums/components/plumbing/_plumbing.dm
  code/modules/plumbing/ducts.dm
Owners: none

[MIRROR] Fixes midround spawning (#3993)
  code/modules/events/_event.dm
Owners: none

Automatic changelog generation for PR #3993 [ci skip]
  html/changelogs/AutoChangeLog-pr-3993.yml
Owners: none

Has the run_all_tests job actually run tests (#5100)
  .github/workflows/continuous_integration.yml
  code/controllers/subsystem/title.dm
  icons/runtime/README.md
  icons/runtime/default_title.dmi
Owners: @crossedfall

[MIRROR] IPCs are no longer an exception from foreigner (#3994)
  code/datums/traits/negative.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

<<<<<<< HEAD

# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10
=======
# crossedfall

.dockerignore @crossedfall
.github @crossedfall
/code/_compile_options.dm @crossedfall
/code/modules/tgs @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
/tools @crossedfall
>>>>>>> ca9bc0b87d... Update CODEOWNERS (#5067)

# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
