Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

no nukes
  austation/code/game/materialization.dm
Owners: none

[MIRROR] Prevents ugly chat messages from using "~" at the end of messages (#4474)
  code/modules/mob/living/say.dm
Owners: none

Automatic changelog generation for PR #4474 [ci skip]
  html/changelogs/AutoChangeLog-pr-4474.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4474.yml
Owners: none

a few more viro symptom tweaks (#5574)
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/beard.dm
  code/datums/diseases/advance/symptoms/blobspores.dm
  code/datums/diseases/advance/symptoms/braindamage.dm
  code/datums/diseases/advance/symptoms/clockwork.dm
  code/datums/diseases/advance/symptoms/cockroach.dm
  code/datums/diseases/advance/symptoms/confusion.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/datums/diseases/advance/symptoms/genetics.dm
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/lubefeet.dm
  code/datums/diseases/advance/symptoms/nanites.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
  code/datums/diseases/advance/symptoms/radiation.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/diseases/advance/symptoms/skin.dm
  code/datums/diseases/advance/symptoms/species.dm
  code/datums/diseases/advance/symptoms/spiked.dm
  code/datums/diseases/advance/symptoms/viral.dm
  code/datums/diseases/advance/symptoms/vision.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/diseases/advance/symptoms/vomit.dm
  code/datums/diseases/advance/symptoms/weight.dm
  code/datums/diseases/advance/symptoms/wizarditis.dm
  code/datums/diseases/wizarditis.dm
Owners: none

standardize all the indents in map json files (#5852)
  _maps/boxstation.json
  _maps/corgstation.json
  _maps/deltastation.json
  _maps/kilostation.json
  _maps/metastation.json
  _maps/multiz_debug.json
  _maps/pubbystation.json
  _maps/runtimestation.json
Owners: none

better dispenser UI, capacitor overhaul and code qol
  _maps/map_files/Austation/Austation.dmm
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/modules/coilgun/_coilgun.dm
  austation/code/modules/coilgun/charger.dm
  austation/code/modules/coilgun/modifier.dm
Owners: @TheFakeElon

new and improved super charger sounds
  austation/code/modules/coilgun/charger.dm
  austation/sound/effects/coilgun_super.ogg
Owners: @TheFakeElon

UI works properly now + misc coilgun optimizations
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/game/objects/items/RPD.dm
  austation/code/modules/coilgun/_coilgun.dm
  austation/code/modules/coilgun/charger.dm
  austation/code/modules/coilgun/projectile.dm
  austation/code/modules/coilgun/segments.dm
  austation/code/modules/recycling/disposal/holder.dm
Owners: @TheFakeElon

resolve conflicts
  _maps/boxstation.json
  _maps/corgstation.json
  _maps/deltastation.json
  _maps/kilostation.json
  _maps/metastation.json
  _maps/pubbystation.json
Owners: none

[MIRROR] standardize all the indents in map json files (#4479)
  _maps/boxstation.json
  _maps/corgstation.json
  _maps/deltastation.json
  _maps/kilostation.json
  _maps/metastation.json
  _maps/multiz_debug.json
  _maps/pubbystation.json
  _maps/runtimestation.json
Owners: none

Update austation/code/modules/hydroponics/grown/gympie_gympie.dm
  austation/code/modules/hydroponics/grown/gympie_gympie.dm
Owners: none

Gympie Gympie Additions (#4460)
  austation/code/modules/hydroponics/grown/gympie_gympie.dm
Owners: none

Automatic changelog generation for PR #4460 [ci skip]
  html/changelogs/AutoChangeLog-pr-4460.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4460.yml
Owners: none

corner pipe nerf. Coilguns can no longer be used as particle accelerators
  _maps/templates/au_coilgun_small.dmm
  austation/code/modules/coilgun/segments.dm
  code/game/objects/items/RPD.dm
Owners: @TheFakeElon

Generic->Discovery (#5856)
  code/modules/surgery/advanced/bioware/experimental_dissection.dm
Owners: none

Upgrades yarn to 3.1.1 (#5862)
  dependencies.sh
  tgui/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/releases/yarn-3.1.1.cjs
  tgui/.yarn/sdks/eslint/bin/eslint.js
  tgui/.yarn/sdks/eslint/lib/api.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/integrations.yml
  tgui/.yarn/sdks/typescript/bin/tsc
  tgui/.yarn/sdks/typescript/bin/tsserver
  tgui/.yarn/sdks/typescript/lib/tsc.js
  tgui/.yarn/sdks/typescript/lib/tsserverlibrary.js
  tgui/.yarn/sdks/typescript/lib/typescript.js
  tgui/.yarn/sdks/typescript/package.json
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/yarn.lock
Owners: none

Allows the patreon list to be used as a whitelist (#5865)
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/config.txt
Owners: @MCterra10

Adds engineering imprinter (#5676)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/modules/research/machinery/departmental_circuit_imprinter.dm
Owners: @powerfulbacon

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Flashes get EMPed properly (#5828)
  code/modules/assembly/flash.dm
Owners: none

unfucks crossed
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/stairs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
Owners: none

unfucks crossed (#4487)
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/railings.dm
  code/game/objects/structures/stairs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/ruins/objects_and_mobs/necropolis_gate.dm
Owners: none

Automatic changelog generation for PR #4487 [ci skip]
  html/changelogs/AutoChangeLog-pr-4487.yml
Owners: none

More pod docks (#5827)
  _maps/map_files/generic/CentCom.dmm
Owners: none

Notes and messages will not automatically expire (#5871)
  code/controllers/configuration/entries/general.dm
  code/modules/admin/sql_message_system.dm
  config/config.txt
Owners: @MCterra10

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

resource handling fix
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/game/objects/items/RPD.dm
Owners: none

weird
  austation/code/game/objects/items/RPD.dm
Owners: none

ohhhhh
  austation/code/game/objects/items/RPD.dm
Owners: none

dispenser improvements and capacitor building
  _maps/map_files/Austation/Austation.dmm
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/game/objects/items/RPD.dm
  austation/code/game/objects/items/circuitboards/machine_circuitboards.dm
  austation/code/modules/coilgun/charger.dm
  austation/code/modules/research/designs/machine_designs.dm
Owners: @TheFakeElon

random maint coilgun fabricator & runtime fix
  _maps/RandomRooms/3x3/sk_rdm214_coilgun.dmm
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/modules/mapping/random_rooms.dm
  code/game/objects/items/RPD.dm
Owners: none

path fix
  austation/code/modules/coilgun/charger.dm
Owners: @TheFakeElon

UI should work fine now. Improves user feedback
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/game/objects/items/RPD.dm
  austation/code/modules/recycling/disposal/construction.dm
Owners: none

Syndicate uniform supplies (#5429)
  code/modules/cargo/packs.dm
Owners: none

Lets Atmos Techs use Firedoors (#5872)
  code/game/machinery/doors/firedoor.dm
Owners: none

Ninja allegiance logging (#5873)
  code/modules/ninja/ninja_event.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

fixes runtimes when dropping assemblies (#5877)
  code/modules/assembly/holder.dm
Owners: none
