Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Chaplains arrive with their nullrod + armor beacon + smoke spell book (#6567)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/_globalvars/religion.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/vending/wardrobes.dm
Owners: none

it was that easy (#6616)
  code/modules/mob/living/say.dm
Owners: none

Fixes a null override (#6617)
  code/game/mecha/mecha_wreckage.dm
Owners: none

Removes Soporific Slugs (#6606)
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  code/modules/research/designs/weapon_designs.dm
Owners: none

Adds config ability to disable cross server bans (#6618)
  code/controllers/configuration/entries/general.dm
  code/modules/admin/sql_ban_system.dm
  config/game_options.txt
Owners: @MCterra10

Fix blacklist & Clean some code
  _maps/map_files/Austation/Austation.dmm
  austation/code/__DEFINES/xenoartifact_defines.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_console.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_labeler.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_structure.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_traits.dm
  austation/icons/obj/xenoartifact/xenartifact.dmi
  tgui/packages/tgui/interfaces/XenoartifactConsole.js
  tgui/packages/tgui/interfaces/XenoartifactLabeler.js
Owners: none

I forget why I'm merging this but, I think It may fix some things.
  austation/code/__DEFINES/xenoartifact_defines.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_console.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_labeler.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_structure.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_traits.dm
  tgui/packages/tgui/interfaces/XenoartifactConsole.js
Owners: none

Custom shuttles can be editted after designation and other shuttle designator changes. (#6260)
  code/__HELPERS/type2type.dm
  code/modules/shuttle/bluespace_shuttle_pod/pod_computer.dm
  code/modules/shuttle/bluespace_shuttle_pod/shuttle_capsule.dm
  code/modules/shuttle/custom_shuttle.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_creation/shuttle_creator.dm
  code/modules/shuttle/shuttle_creation/shuttle_creator_actions.dm
  code/modules/shuttle/shuttle_creation/shuttle_creator_console.dm
  code/modules/shuttle/shuttle_creation/shuttle_creator_overlay.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_docking.dm
  icons/mob/actions/actions_shuttle.dmi
  tgui/packages/tgui/interfaces/OrbitalMap.js
  tgui/packages/tgui/interfaces/ShuttleDesignator.js
Owners: @powerfulbacon

Makes overriding signals more clear as to what is being overriden. (#6638)
  code/datums/components/_component.dm
Owners: none

no slip mr freeze (#6634)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/shoes/miscellaneous.dm
Owners: none

Update wormholes.dm (#6637)
  code/modules/events/wormholes.dm
Owners: none

Update monkey_subtrees.dm (#6639)
  code/datums/ai/monkey/monkey_subtrees.dm
Owners: none

Fixes ninja suit terminate() proc not being called on ninja's death. (#6640)
  code/modules/ninja/suit/suit.dm
Owners: none

Update xenobio_camera.dm (#6635)
  code/modules/research/xenobiology/xenobio_camera.dm
Owners: none

Update zclear.dm (#6636)
  code/controllers/subsystem/zclear.dm
Owners: none

Fixes Hellbound (#6564)
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/datums/mind.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/game/objects/items/defib.dm
  code/game/objects/structures/morgue.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/transform_procs.dm
  code/modules/paperwork/contract.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/surgery/advanced/revival.dm
  code/modules/surgery/bodyparts/bodyparts.dm
Owners: none

cancer (#6477)
  beestation.dme
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/events/beer_clog.dm
  code/modules/events/vent_clog.dm
Owners: none

Kilo Quick Fix #5 (#6531)
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: none

fixes extrapolators again (#6620)
  code/game/objects/items/devices/scanners.dm
Owners: none

Stealth Mode announces your stealth CKEY to other admins (#6621)
  code/modules/admin/admin_verbs.dm
Owners: none

Crewmonitor fixes and refactors (#6549)
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/interfaces/CrewConsole.js
Owners: none

[PORT] Rust Improvements (#6530)
  beestation.dme
  code/__DEFINES/tools.dm
  code/__DEFINES/traits.dm
  code/datums/elements/rust.dm
  code/game/objects/items/debug_items.dm
  code/game/objects/items/tools/wirebrush.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/chasm.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/game/turfs/open/floor/plasteel_floor.dm
  code/game/turfs/open/floor/plating.dm
  code/game/turfs/open/lava.dm
  code/game/turfs/open/openspace.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/effects/rust_overlay.dmi
  icons/obj/tools.dmi
Owners: none

fixes a few wing bugs (#6534)
  code/modules/surgery/organs/wings.dm
Owners: none

Small fix (#6516)
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Owners: none

[PORT] Split personality communication (#6536)
  beestation.dme
  code/datums/brain_damage/split_personality.dm
  code/modules/spells/spell_types/personality_commune.dm
Owners: none

PubbyStation Atmosia changes [First PR] (#6400)
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: none

Fixes a lot of create_and_destroy runtimes (#6356)
  code/_onclick/hud/hud.dm
  code/_onclick/hud/plane_master_controller.dm
  code/controllers/subsystem/throwing.dm
  code/datums/action.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/components/_component.dm
  code/datums/components/orbiter.dm
  code/datums/dna.dm
  code/datums/forced_movement.dm
  code/datums/progressbar.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/machinery/launch_pad.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/teleporter.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/effects/proximity.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/forcefieldprojector.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/poll_management.dm
  code/modules/antagonists/clock_cult/ratvarian_cyborg_modules.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/buildmode/buildmode.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/guardian/abilities/minor/teleport.dm
  code/modules/mob/living/carbon/monkey/monkey.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/paperwork/contract.dm
  code/modules/power/apc.dm
  code/modules/power/singularity/containment_field.dm
  code/modules/projectiles/guns/energy/dueling.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/projectile/special/curse.dm
  code/modules/projectiles/projectile/special/gravity.dm
  code/modules/projectiles/projectile/special/hallucination.dm
  code/modules/shuttle/bluespace_shuttle_pod/pod_computer.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/loot/alien_artifact.dm
  code/modules/unit_tests/create_and_destroy.dm
Owners: @powerfulbacon

Cult bolas no longer affect holy-proof individuals. (#6121)
  code/modules/antagonists/cult/cult_items.dm
Owners: none

Random Name refactor (#6335)
  code/__HELPERS/mobs.dm
  code/__HELPERS/names.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/mob/living/carbon/human/species_types/apid.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/oozelings.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/mob_helpers.dm
Owners: none

intelligence potion fixy (#6626)
  code/modules/research/xenobiology/xenobiology.dm
Owners: none

fixes lowmemory mode runtimes (#6624)
  code/controllers/subsystem/mapping.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/space_station.dm
Owners: @powerfulbacon

nya (#6630)
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Owners: none

Update dualsaber.dm (#6644)
  code/game/objects/items/dualsaber.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

I just deleted something, and I dont know what it was.
  austation/code/modules/popes-xenoarchaeology/xenoartifact.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_console.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_labeler.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_structure.dm
  austation/code/modules/popes-xenoarchaeology/xenoartifact_traits.dm
  austation/icons/obj/xenoartifact/xenoartifact.dmi
  austation/icons/obj/xenoartifact/xenoartifact_tech.dmi
  icons/obj/computer.dmi
Owners: none

Welded firelocks can no longer be opened by IDs (#6657)
  code/game/machinery/doors/firedoor.dm
Owners: none

Fixes fireman carry bug (#6610)
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob.dm
Owners: none

Update pyrotechnic_reagents.dm (#6660)
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
Owners: none

Update human.dm (#6654)
  code/modules/mob/living/carbon/human/human.dm
Owners: none
