Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4370.yml
Owners: none

updates carp suit (#5661)
  icons/mob/suit.dmi
Owners: none

Gives RD actual control over exploration (#5683)
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/modules/jobs/access.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

[MIRROR] Fixing a minor typo in preferences_toggles (#4352)
  code/modules/client/preferences_toggles.dm
Owners: none

Automatic changelog generation for PR #4352 [ci skip]
  html/changelogs/AutoChangeLog-pr-4352.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4352.yml
Owners: none

Modularizes Gympie sprites, properly this time, adds gympies back, & tweaks aspects. (#4362)
  austation.dme
  austation/code/modules/hydroponics/grown/gympie_gympie.dm
  austation/code/modules/mob/living/simple_animal/hostile/gympie_gympie.dm
  austation/code/modules/uplink/uplink_items.dm
  austation/icons/obj/hydroponics/popes_selection.dmi
Owners: none

adds asteroid area to deploy area (#5687)
  code/modules/shuttle/bluespace_shuttle_pod/shuttle_capsule.dm
Owners: none

tcomms filtering added
  austation.dme
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
  austation/code/game/machinery/telecomms/machines/server.dm
Owners: none

rollback tcomm
  austation.dme
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
  austation/code/game/machinery/telecomms/machines/server.dm
Owners: none

rollback augmentation
  austation.dme
  austation/code/modules/surgery/limb_augmentation.dm
Owners: none

fixed copy-paste mistake
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
Owners: none

update binary
  auxtools/auxmos.dll
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Update logbrowser.dm with suggested change
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
Owners: none

remove parent calls
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
Owners: none

arts & canvases update (#5431)
  _maps/RandomRooms/10x10/sk_rdm033_deltalibrary.dmm
  _maps/RandomRooms/3x3/sk_rdm069_pubbyartism.dmm
  _maps/RandomRooms/5x3/sk_rdm042_deltaclutter2.dmm
  _maps/RandomRuins/SpaceRuins/originalcontent.dmm
  _maps/holodeck/photobooth.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  beestation.dme
  code/__DEFINES/art.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/vv.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/persistence.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/artstuff.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cargo/packs.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_portrait_picker.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
  icons/mob/ai.dmi
  icons/obj/artstuff.dmi
  icons/obj/decals.dmi
  tgui/packages/tgui/interfaces/Canvas.js
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.js
  tgui/packages/tgui/interfaces/PortraitPicker.js
Owners: @powerfulbacon

Change else if tree into switch
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
Owners: none

Minor fixes
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
  austation/code/game/machinery/telecomms/machines/server.dm
Owners: none

austation changes
  _maps/map_files/Austation/Austation.dmm
Owners: none

conflict
  config/config.txt
Owners: @MCterra10

[MIRROR] arts & canvases update (#4337)
  _maps/RandomRooms/10x10/sk_rdm033_deltalibrary.dmm
  _maps/RandomRooms/3x3/sk_rdm069_pubbyartism.dmm
  _maps/RandomRooms/5x3/sk_rdm042_deltaclutter2.dmm
  _maps/RandomRuins/SpaceRuins/originalcontent.dmm
  _maps/holodeck/photobooth.dmm
  _maps/map_files/Austation/Austation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  beestation.dme
  code/__DEFINES/art.dm
  code/__DEFINES/flags.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/vv.dm
  code/_globalvars/bitfields.dm
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/persistence.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/artstuff.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cargo/packs.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_portrait_picker.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
  icons/mob/ai.dmi
  icons/obj/artstuff.dmi
  icons/obj/decals.dmi
  tgui/packages/tgui/interfaces/Canvas.js
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.js
  tgui/packages/tgui/interfaces/PortraitPicker.js
Owners: @powerfulbacon

Automatic changelog generation for PR #4337 [ci skip]
  html/changelogs/AutoChangeLog-pr-4337.yml
Owners: none

Automatic TGUI Rebuild [ci skip]
  tgui/public/tgui.bundle.js
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4337.yml
Owners: none

[s] Fixes multiple security vulnerabilities (#5695)
  code/__DEFINES/text.dm
  code/__HELPERS/_string_lists.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/regexes.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/structures/artstuff.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/library/lib_machines.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgui/tgui_window.dm
Owners: none

[MIRROR] [s] Fixes multiple security vulnerabilities (#4381)
  code/__DEFINES/text.dm
  code/__HELPERS/_string_lists.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/text.dm
  code/__HELPERS/unsorted.dm
  code/_globalvars/regexes.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/structures/artstuff.dm
  code/modules/asset_cache/asset_list.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/library/lib_machines.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgui/tgui_window.dm
Owners: none

Automatic changelog generation for PR #4381 [ci skip]
  html/changelogs/AutoChangeLog-pr-4381.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4381.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

discovery research removal initial
  austation.dme
  austation/code/modules/research/techweb/_techweb_node.dm
  austation/code/modules/research/techweb/all_nodes.dm
  austation/code/modules/shuttle/super_cruise/orbital_poi_generator/loot/research_disks.dm
Owners: none

Adds 50 titanium glass sheets to the DIY shuttle (#5701)
  _maps/shuttles/emergency_construction.dmm
Owners: none

Adds Dark FairyGrass Floor tile (#5654)
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/hydroponics/grown/grass_carpet.dm
Owners: none

[MIRROR] Minor Config reorganization, Brig Door Timer Config (#4346)
  beestation.dme
  code/controllers/configuration/entries/game_options.dm
  code/controllers/configuration/entries/game_tweaks.dm
  code/game/machinery/doors/brigdoors.dm
  config/config.txt
  config/game_options.txt
  config/gameplay_tweaks.txt
Owners: @MCterra10

Automatic changelog generation for PR #4346 [ci skip]
  html/changelogs/AutoChangeLog-pr-4346.yml
Owners: none

Toxins will no longer bomb the MetaStation Exploration Shuttle at roundstart. (#5476)
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: none

[MIRROR] Better borg mesons (#4353)
  code/_onclick/hud/robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
Owners: none

Automatic changelog generation for PR #4353 [ci skip]
  html/changelogs/AutoChangeLog-pr-4353.yml
Owners: none

[MIRROR] Fixes objectives disappearing on cryo (#4354)
  code/game/machinery/cryopod.dm
  code/modules/antagonists/incursion/incursion.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
