Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)

Automatic changelog generation for PR #1754 [ci skip]
  html/changelogs/AutoChangeLog-pr-1754.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

[MIRROR] Radios in both barbershops are now actual radios instead of implants (#1752)
  _maps/RandomRooms/10x5/sk_rdm011_barbershop.dmm
  _maps/RandomRooms/5x4/sk_rdm090_tinybarbershop.dmm
Owners: @ShizCalev

Automatic changelog generation for PR #1752 [ci skip]
  html/changelogs/AutoChangeLog-pr-1752.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1739.yml
  html/changelogs/AutoChangeLog-pr-1740.yml
  html/changelogs/AutoChangeLog-pr-1741.yml
  html/changelogs/AutoChangeLog-pr-1744.yml
  html/changelogs/AutoChangeLog-pr-1746.yml
  html/changelogs/AutoChangeLog-pr-1747.yml
  html/changelogs/AutoChangeLog-pr-1749.yml
  html/changelogs/AutoChangeLog-pr-1750.yml
  html/changelogs/AutoChangeLog-pr-1751.yml
  html/changelogs/AutoChangeLog-pr-1752.yml
  html/changelogs/AutoChangeLog-pr-1754.yml
  html/changelogs/AutoChangeLog-pr-1756.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Shuttles save like shuttles now (#1867)
  code/modules/shuttle/shuttle.dm
Owners: @powerfulbacon

Space is cool, so should be the suits: spacesuits set resprite (#1859)
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev

abdctorbuff (#1827)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Owners: none

Skinsuits (#1865)
  beestation.dme
  code/__DEFINES/atmospherics.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
Owners: none

Faster-Than-Liver from FTL13 (#1875)
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Owners: @ShizCalev

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Adds sarin (#1735)
  austation/code/game/objects/items/storage/uplink_kits.dm
  austation/code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  austation/code/modules/reagents/chemistry/recipes/toxins.dm
  austation/code/modules/reagents/reagent_containers/bottle.dm
  austation/includes.dm
  code/game/objects/items/storage/uplink_kits.dm
Owners: @MCterra10

Automatic changelog generation for PR #1735 [ci skip]
  html/changelogs/AutoChangeLog-pr-1735.yml
Owners: none

[MIRROR] Ports Crew Transfer Vote from AuStation (#1748)
  austation/code/controllers/configuration/entries/general.dm
  austation/includes.dm
  beestation.dme
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/autotransfer.dm
  code/controllers/subsystem/vote.dm
  config/Sage/config.txt
  config/austation.txt
  config/config.txt
Owners: @MCterra10, @crossedfall

Automatic changelog generation for PR #1748 [ci skip]
  html/changelogs/AutoChangeLog-pr-1748.yml
Owners: none

[MIRROR] Couple tiny fixes (#1753)
  code/controllers/subsystem/title.dm
  code/game/objects/items/devices/compressionkit.dm
  code/modules/paperwork/paper.dm
  code/modules/research/server.dm
Owners: none

Automatic changelog generation for PR #1753 [ci skip]
  html/changelogs/AutoChangeLog-pr-1753.yml
Owners: none

[MIRROR] Shuttles save like shuttles now (#1757)
  code/modules/shuttle/shuttle.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #1757 [ci skip]
  html/changelogs/AutoChangeLog-pr-1757.yml
Owners: none

Automatic changelog generation for PR #1760 [ci skip]
  html/changelogs/AutoChangeLog-pr-1760.yml
Owners: none

[MIRROR] Fixes LOOC on Sage (#1755)
  code/controllers/configuration/entries/game_options.dm
  code/modules/client/verbs/looc.dm
  config/Sage/game_options.txt
  config/game_options.txt
Owners: @crossedfall

Automatic changelog generation for PR #1755 [ci skip]
  html/changelogs/AutoChangeLog-pr-1755.yml
Owners: none

[MIRROR] Space is cool, so should be the suits: spacesuits set resprite (#1758)
  code/modules/clothing/spacesuits/miscellaneous.dm
  icons/mob/head.dmi
  icons/mob/inhands/clothing_lefthand.dmi
  icons/mob/inhands/clothing_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1758 [ci skip]
  html/changelogs/AutoChangeLog-pr-1758.yml
Owners: none

[MIRROR] adds a few chems to the abductor chem dispenser (#1759)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Owners: none

[MIRROR] Skinsuits (#1762)
  beestation.dme
  code/__DEFINES/atmospherics.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
Owners: none

Automatic changelog generation for PR #1762 [ci skip]
  html/changelogs/AutoChangeLog-pr-1762.yml
Owners: none

[MIRROR] Faster-Than-Liver from FTL13 (#1763)
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  icons/obj/drinks.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1763 [ci skip]
  html/changelogs/AutoChangeLog-pr-1763.yml
Owners: none

conflicts
  code/modules/admin/admin_verbs.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
Owners: none

fixes skitsuit sprites
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Owners: @ShizCalev

delta fixes, comments out a room causing runtimes (#1879)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/modules/mapping/random_rooms.dm
Owners: @ShizCalev

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1735.yml
  html/changelogs/AutoChangeLog-pr-1748.yml
  html/changelogs/AutoChangeLog-pr-1753.yml
  html/changelogs/AutoChangeLog-pr-1755.yml
  html/changelogs/AutoChangeLog-pr-1757.yml
  html/changelogs/AutoChangeLog-pr-1758.yml
  html/changelogs/AutoChangeLog-pr-1760.yml
  html/changelogs/AutoChangeLog-pr-1762.yml
  html/changelogs/AutoChangeLog-pr-1763.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Adds multi-z support for pinpointers [NSV13 port] (#1874)
  code/game/objects/items/pinpointer.dm
  icons/obj/device.dmi
Owners: @ShizCalev

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none
