Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

Preperation to Preparation (#5879)
  code/game/area/Space_Station_13_areas.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Owners: none

Fixes runtime in CI (#5881)
  _maps/RandomRooms/3x5/sk_rdm116_oreboxes.dmm
Owners: none

lotsa fixes and balance improvements
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/game/objects/items/RPD.dm
  austation/code/modules/coilgun/_coilgun.dm
  austation/code/modules/coilgun/barrel/barrel.dm
  austation/code/modules/coilgun/charger.dm
  austation/code/modules/coilgun/projectile.dm
Owners: @TheFakeElon

new and improved capacitor/super charger sounds
  austation/code/modules/coilgun/_coilgun.dm
  austation/code/modules/coilgun/charger.dm
  austation/code/modules/coilgun/projectile.dm
  austation/sound/effects/coilgun_super.ogg
  austation/sound/machines/AC_hum.ogg
  austation/sound/machines/coilgun_super.ogg
  config/coilgun/bouncy.json
Owners: @TheFakeElon, @MCterra10

Fixes equiping cult or heretics failing (#5790)
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
Owners: none

improved special type handling
  austation.dme
  austation/code/__DEFINES/coilgun.dm
  austation/code/_globalvars/coilgun.dm
  austation/code/modules/coilgun/_coilgun.dm
  austation/code/modules/coilgun/projectile.dm
  austation/strings/coilgun/bluespace.txt
  austation/strings/coilgun/bouncy.txt
  austation/strings/coilgun/sticky.txt
  austation/strings/coilgun/void.txt
  config/coilgun.json
Owners: @TheFakeElon, @MCterra10

removes piping from viro and ai sat
  _maps/map_files/Austation/Austation.dmm
Owners: none

Signals, barrel sound improvements and fixes
  austation/code/game/machinery/pipe/pipe_dispenser.dm
  austation/code/game/objects/items/RPD.dm
  austation/code/modules/coilgun/barrel/barrel.dm
  austation/code/modules/coilgun/projectile.dm
  austation/sound/effects/resonant_clang.ogg
  code/game/objects/items/RPD.dm
Owners: @TheFakeElon

Mutations now use a signal for on_move instead of being placed directly in human/Move() (#5884)
  code/datums/mutations.dm
  code/modules/mob/living/carbon/human/human_movement.dm
Owners: none

mech fab can produce ATVs
  austation/code/modules/research/designs/mecha_designs.dm
  austation/code/modules/research/techweb/all_nodes.dm
Owners: none

removes bad slash
  austation/code/modules/research/designs/mecha_designs.dm
Owners: none

updates requirements for ATV technode
  austation/code/modules/research/techweb/all_nodes.dm
Owners: none

key spawns with the ATV? Maybe? pls no compile break
  austation/code/modules/research/designs/mecha_designs.dm
Owners: none

map path
  _maps/templates/au_coilgun_small.dmm
Owners: none

Adds message_admins to AI Vox (#5887)
  code/modules/mob/living/silicon/ai/say.dm
Owners: none

Restores the pride of the Wizard Federation (#5888)
  code/modules/admin/verbs/one_click_antag.dm
Owners: none

Bumps byond support to 1571 (#5891)
  Dockerfile
  code/_compile_options.dm
  code/modules/client/client_procs.dm
  dependencies.sh
Owners: none

e (#5895)
  icons/obj/tiles.dmi
Owners: none

THING
  austation/code/modules/coilgun/charger.dm
Owners: @TheFakeElon

casting_clothing is now a var editable at runtime instead of defined in the proc (#5898)
  code/modules/spells/spell.dm
Owners: none

Makes manuals work (#5880)
  code/game/objects/items/manuals.dm
Owners: none

speen
  austation/code/modules/hydroponics/fertilizer_bag.dm
  code/modules/hydroponics/hydroponics.dm
Owners: none

Fryer Slamming is now logged. (#5896)
  code/modules/food_and_drinks/kitchen_machinery/deep_fryer.dm
Owners: none

Disable `var/` in proc args lint (#5890)
  SpacemanDMM.toml
Owners: none

Quirk processing refactor & optimizations (#5875)
  code/controllers/subsystem/processing/quirks.dm
  code/datums/traits/_quirk.dm
  code/datums/traits/good.dm
  code/datums/traits/negative.dm
  code/datums/traits/neutral.dm
Owners: none

Adds a positive moodlet to seeing a dog playing (#5766)
  code/datums/ai/dog/dog_controller.dm
  code/datums/mood_events/generic_positive_events.dm
Owners: none

Prison wing now gives a negative moodlet (#5630)
  code/game/area/Space_Station_13_areas.dm
Owners: none

[MIRROR] Adds bamboo walls, stools, benches, recolours and resprites existing bamboo items (#4469)
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/beds_chairs/sofa.dm
  code/game/objects/structures/false_walls.dm
  code/game/objects/structures/headpike.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/hydroponics/grown/towercap.dm
  icons/mob/back.dmi
  icons/mob/inhands/misc/chairs_lefthand.dmi
  icons/mob/inhands/misc/chairs_righthand.dmi
  icons/mob/inhands/misc/sheets_lefthand.dmi
  icons/mob/inhands/misc/sheets_righthand.dmi
  icons/mob/inhands/weapons/polearms_lefthand.dmi
  icons/mob/inhands/weapons/polearms_righthand.dmi
  icons/obj/chairs.dmi
  icons/obj/guns/projectile.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/items_and_weapons.dmi
  icons/obj/smooth_structures/template_smooth_tiles_and_structures.dmi
  icons/obj/sofa.dmi
  icons/obj/stack_objects.dmi
  icons/obj/structures.dmi
  icons/turf/floors/bamboo_mat.dmi
  icons/turf/walls/bamboo_wall.dmi
Owners: none

Automatic changelog generation for PR #4469 [ci skip]
  html/changelogs/AutoChangeLog-pr-4469.yml
Owners: none

Removes an exploit capable of crashing the server. (#5907)
  code/modules/research/nanites/nanite_programmer.dm
Owners: none

[MIRROR] Bunny ears now adapt to the hair color of the wearer (#4470)
  beestation.dme
  code/datums/components/haircolor_clothes.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
Owners: none

Automatic changelog generation for PR #4470 [ci skip]
  html/changelogs/AutoChangeLog-pr-4470.yml
Owners: none

[MIRROR] [READY] Pubby Pipe Net Multi Layer Project (#4473)
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4469.yml
  html/changelogs/AutoChangeLog-pr-4470.yml
Owners: none

[MIRROR] a few more viro symptom tweaks (#4477)
  code/datums/diseases/advance/advance.dm
  code/datums/diseases/advance/symptoms/beard.dm
  code/datums/diseases/advance/symptoms/blobspores.dm
  code/datums/diseases/advance/symptoms/braindamage.dm
  code/datums/diseases/advance/symptoms/clockwork.dm
  code/datums/diseases/advance/symptoms/cockroach.dm
  code/datums/diseases/advance/symptoms/confusion.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/fire.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/datums/diseases/advance/symptoms/genetics.dm
  code/datums/diseases/advance/symptoms/hallucigen.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/lubefeet.dm
  code/datums/diseases/advance/symptoms/nanites.dm
  code/datums/diseases/advance/symptoms/narcolepsy.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
  code/datums/diseases/advance/symptoms/radiation.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/diseases/advance/symptoms/skin.dm
  code/datums/diseases/advance/symptoms/species.dm
  code/datums/diseases/advance/symptoms/spiked.dm
  code/datums/diseases/advance/symptoms/viral.dm
  code/datums/diseases/advance/symptoms/vision.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/diseases/advance/symptoms/vomit.dm
  code/datums/diseases/advance/symptoms/weight.dm
  code/datums/diseases/advance/symptoms/wizarditis.dm
  code/datums/diseases/wizarditis.dm
Owners: none

Automatic changelog generation for PR #4477 [ci skip]
  html/changelogs/AutoChangeLog-pr-4477.yml
Owners: none

[MIRROR] Changes the experimental dissection point type from regular research to discovery (#4481)
  code/modules/surgery/advanced/bioware/experimental_dissection.dm
Owners: none

Automatic changelog generation for PR #4481 [ci skip]
  html/changelogs/AutoChangeLog-pr-4481.yml
Owners: none

[MIRROR] Upgrades yarn to 3.1.1 (#4482)
  dependencies.sh
  tgui/.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  tgui/.yarn/releases/yarn-2.4.1.cjs
  tgui/.yarn/releases/yarn-3.1.1.cjs
  tgui/.yarn/sdks/eslint/bin/eslint.js
  tgui/.yarn/sdks/eslint/lib/api.js
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/integrations.yml
  tgui/.yarn/sdks/typescript/bin/tsc
  tgui/.yarn/sdks/typescript/bin/tsserver
  tgui/.yarn/sdks/typescript/lib/tsc.js
  tgui/.yarn/sdks/typescript/lib/tsserverlibrary.js
  tgui/.yarn/sdks/typescript/lib/typescript.js
  tgui/.yarn/sdks/typescript/package.json
  tgui/.yarnrc.yml
  tgui/package.json
  tgui/yarn.lock
Owners: none

Automatic changelog generation for PR #4482 [ci skip]
  html/changelogs/AutoChangeLog-pr-4482.yml
Owners: none
