Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

le fishe update (carp gags and Cayenne can carry nuke disk) (#6580)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  code/__DEFINES/achievements.dm
  code/__DEFINES/traits.dm
  code/datums/achievements/_achievement_data.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/action.dm
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/carp.json
  code/datums/greyscale/json_configs/carp_disk_mouth.json
  code/game/objects/items/dehy_carp.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/events/wizard/magicarp.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/eyeballs.dm
  icons/UI_Icons/Achievements/cayenne_disk.png
  icons/mob/animal.dmi
  icons/mob/carp.dmi
Owners: none

Revert "Make alpha plane invisible while blind" (#6581)
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/status_procs.dm
Owners: none

[MIRROR] Broadcasts explosions to ghosts (#4879)
  code/controllers/subsystem/explosion.dm
Owners: none

Automatic changelog generation for PR #4879 [ci skip]
  html/changelogs/AutoChangeLog-pr-4879.yml
Owners: none

autosurgeon fix (#6583)
  code/modules/surgery/organs/autosurgeon.dm
Owners: none

I forgot to add it to austation (#4904)
  _maps/map_files/Austation/Austation.dmm
Owners: none

fix (#6586)
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
Owners: @powerfulbacon

[MIRROR] autosurgeon fix (#4902)
  code/modules/surgery/organs/autosurgeon.dm
Owners: none

Automatic changelog generation for PR #4902 [ci skip]
  html/changelogs/AutoChangeLog-pr-4902.yml
Owners: none

review
  austation/code/game/materialization.dm
Owners: none

[MIRROR] Revert "Make alpha plane invisible while blind" (#4900)
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/status_procs.dm
Owners: none

Automatic changelog generation for PR #4900 [ci skip]
  html/changelogs/AutoChangeLog-pr-4900.yml
Owners: none

[MIRROR] le fishe update (carp gags and Cayenne can carry nuke disk) (#4899)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  code/__DEFINES/achievements.dm
  code/__DEFINES/traits.dm
  code/datums/achievements/_achievement_data.dm
  code/datums/achievements/misc_achievements.dm
  code/datums/action.dm
  code/datums/greyscale/greyscale_configs.dm
  code/datums/greyscale/json_configs/carp.json
  code/datums/greyscale/json_configs/carp_disk_mouth.json
  code/game/objects/items/dehy_carp.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/events/wizard/magicarp.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/eyeballs.dm
  icons/UI_Icons/Achievements/cayenne_disk.png
  icons/mob/animal.dmi
  icons/mob/carp.dmi
Owners: none

Automatic changelog generation for PR #4899 [ci skip]
  html/changelogs/AutoChangeLog-pr-4899.yml
Owners: none

[MIRROR] Fixes Lia having bad icon state on fland (and corg) (#4901)
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/FlandStation/FlandStation.dmm
Owners: @powerfulbacon

Automatic changelog generation for PR #4901 [ci skip]
  html/changelogs/AutoChangeLog-pr-4901.yml
Owners: none

[READY] Materialization Shiritori (#4449)
  austation.dme
  austation/code/__HELPERS/type_processing.dm
  austation/code/game/materialization.dm
  austation/icons/obj/items.dmi
  austation/icons/obj/structures/magic_table.dmi
Owners: none

Automatic changelog generation for PR #4449 [ci skip]
  html/changelogs/AutoChangeLog-pr-4449.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4449.yml
Owners: none

fixes radio (#6590)
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/implants/implant_misc.dm
Owners: none

add ps1 mirror bot script
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

late night coding moment
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

should be working now
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

error codes
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

this is causing too many permissions issues
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

work damn you
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

adds new script version
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

damn it
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

newline
  austation/tools/merge-upstream-pull-request.ps1
Owners: @MCterra10

small blob spore fix (#6463)
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/blob/powers.dm
Owners: none

Adds medical medal (#6542)
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/under/accessories.dm
  icons/mob/accessories.dmi
  icons/obj/clothing/accessories.dmi
Owners: none

Improved Immovable Rod Targeting (#6568)
  code/game/gamemodes/meteor/meteors.dm
  code/modules/events/immovable_rod.dm
Owners: none

Adds a plushy crate (#6593)
  code/modules/cargo/packs.dm
Owners: none

Fixes decal painter can paint walls (#6605)
  code/game/objects/items/airlock_painter.dm
Owners: none

ebola fix (#6541)
  code/game/objects/items/handcuffs.dm
Owners: none

Fixes antag pick failures (#6608)
  code/controllers/subsystem/ticker.dm
  code/game/gamemodes/game_mode.dm
Owners: none

Battle Royale fixes (#6602)
  code/modules/admin/battle_royale.dm
  code/modules/mob/living/brain/posibrain.dm
Owners: none

Makes deaf people unable to be sound-stunned (#6520)
  code/modules/mob/living/carbon/carbon_defense.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Update medicine_reagents.dm (#6613)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Owners: none
