Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

New contribution guidelines (#1869)
  .github/CONTRIBUTING.md
Owners: @crossedfall

Fixes the second worst shuttle (#1878)
  code/modules/shuttle/shuttle.dm
Owners: @powerfulbacon

Xenolings are obtainable again and no longer broken OP (#1886)
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Owners: none

[MIRROR] Headspiders IV: Actually balanced edition (#1768)
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Owners: none

Automatic changelog generation for PR #1768 [ci skip]
  html/changelogs/AutoChangeLog-pr-1768.yml
Owners: none

[MIRROR] Fixes the second worst shuttle (#1767)
  code/modules/shuttle/shuttle.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #1767 [ci skip]
  html/changelogs/AutoChangeLog-pr-1767.yml
Owners: none

[MIRROR] New contribution guidelines (#1766)
  .github/CONTRIBUTING.md
Owners: @crossedfall

Automatic changelog generation for PR #1766 [ci skip]
  html/changelogs/AutoChangeLog-pr-1766.yml
Owners: none

[MIRROR] delta fixes, comments out a room causing runtimes (#1764)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/modules/mapping/random_rooms.dm
Owners: @ShizCalev

Automatic changelog generation for PR #1764 [ci skip]
  html/changelogs/AutoChangeLog-pr-1764.yml
Owners: none

[MIRROR] Adds multi-z support for pinpointers [NSV13 port] (#1765)
  code/game/objects/items/pinpointer.dm
  icons/obj/device.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1765 [ci skip]
  html/changelogs/AutoChangeLog-pr-1765.yml
Owners: none

boom (#1885)
  code/modules/shuttle/computer.dm
Owners: @powerfulbacon

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1764.yml
  html/changelogs/AutoChangeLog-pr-1765.yml
  html/changelogs/AutoChangeLog-pr-1766.yml
  html/changelogs/AutoChangeLog-pr-1767.yml
  html/changelogs/AutoChangeLog-pr-1768.yml
Owners: none

Sanitation Update (#1877)
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomZLevels/Academy.dmm
  code/datums/components/crafting/recipes.dm
  code/datums/traits/negative.dm
  code/game/objects/items/mop.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/opo/mop.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/janitor.dmi
Owners: @ShizCalev, @Cyberboss, @ninjanomnom

lol
  code/modules/shuttle/computer.dm
Owners: @powerfulbacon

[MIRROR] Ashwalkers can no longer use shuttle consoles (#1769)
  code/modules/shuttle/computer.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #1769 [ci skip]
  html/changelogs/AutoChangeLog-pr-1769.yml
Owners: none

[MIRROR] Sanitation Update (#1770)
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomZLevels/Academy.dmm
  code/datums/components/crafting/recipes.dm
  code/datums/traits/negative.dm
  code/game/objects/items/mop.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/twohanded.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/opo/mop.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/wardrobes.dm
  icons/mob/inhands/equipment/custodial_lefthand.dmi
  icons/mob/inhands/equipment/custodial_righthand.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/janitor.dmi
Owners: @ShizCalev, @Cyberboss, @ninjanomnom

Automatic changelog generation for PR #1770 [ci skip]
  html/changelogs/AutoChangeLog-pr-1770.yml
Owners: none

fixes custom roundend sounds
  austation/README.md
  code/controllers/subsystem/ticker.dm
  sound/roundend/3fuckingpixels.ogg
  sound/roundend/ohthatsit.ogg
Owners: @MCterra10, @ShizCalev

adds tgs reboot command
  austation/code/modules/admin/chat_commands.dm
  austation/includes.dm
Owners: @MCterra10

Nitryl gas reaction now uses pluoxium as a catalyst (#1870)
  code/modules/atmospherics/gasmixtures/reactions.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1769.yml
  html/changelogs/AutoChangeLog-pr-1770.yml
Owners: none

[MIRROR] Nitryl gas reaction now uses pluoxium as a catalyst (#1771)
  code/modules/atmospherics/gasmixtures/reactions.dm
Owners: none

Automatic changelog generation for PR #1771 [ci skip]
  html/changelogs/AutoChangeLog-pr-1771.yml
Owners: none

removes the noobtrap legion core nerf
  austation/code/datums/status_effects/buffs.dm
  austation/includes.dm
  code/modules/mining/equipment/regenerative_core.dm
Owners: @MCterra10

Uh?
  sound/nothing_to_see_here/1. Ready For Battle (Choose Squad).ogg
  sound/nothing_to_see_here/Initial_D_Enigma.ogg
  sound/nothing_to_see_here/Regular_Show_Gary_vs_David.ogg
  sound/nothing_to_see_here/The Man Who Sold The World.ogg
Owners: @ShizCalev

comments
  code/modules/mining/equipment/regenerative_core.dm
Owners: none

Copper Golems, Golem Code Fixes (#1738)
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/ruins/lavaland_ruin_code.dm
  config/Sage/game_options.txt
  config/game_options.txt
Owners: @crossedfall

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1771.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Replaces Qwert with Ike in the admins.txt files (#1894)
  config/Sage/admins.txt
  config/admins.txt
Owners: @crossedfall

[MIRROR] Replaces Qwert with Ike in the admins.txt files (#1774)
  config/Sage/admins.txt
  config/admins.txt
Owners: @crossedfall

Update compile_changelogs.yml (#1895)
  .github/workflows/compile_changelogs.yml
  .github/workflows/make_changelogs.yml
Owners: @crossedfall

Don't generate Cls for commits with the skip tag (#1896)
  .github/workflows/make_changelogs.yml
Owners: @crossedfall

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)
