Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

conflicts + downstream shiz
  SQL/database_changelog.txt
  code/__DEFINES/subsystems.dm
Owners: none

[MIRROR] Update Database Schema for Book Title Length PR (#4237)
  SQL/beestation_schema.sql
  SQL/database_changelog.txt
  code/__DEFINES/subsystems.dm
Owners: none

[MIRROR] Lets book titles be longer (#4230)
  code/modules/library/lib_items.dm
Owners: none

Automatic changelog generation for PR #4230 [ci skip]
  html/changelogs/AutoChangeLog-pr-4230.yml
Owners: none

[MIRROR] Remove unused variable definition (#4234)
  code/modules/power/supermatter/supermatter.dm
Owners: none

Adds the inital plant dm and adds the path to hydroponics
  code/modules/hydroponics/grown/gympie_gympie.dm
  code/modules/hydroponics/hydroponics.dm
Owners: none

Adds the gympie mob
  code/modules/mob/living/simple_animal/hostile/gympie_gympie.dm
Owners: none

[MIRROR] Bumps everything to 514.1568 (#4236)
  Dockerfile
  code/_compile_options.dm
  code/modules/client/client_procs.dm
  config/config.txt
  dependencies.sh
Owners: @MCterra10

Automatic changelog generation for PR #4236 [ci skip]
  html/changelogs/AutoChangeLog-pr-4236.yml
Owners: none

adds gympie seeds to hacked seed vendors
  code/modules/vending/megaseed.dm
Owners: none

adds icons for gympie content
  icons/mob/animal.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/seeds.dmi
Owners: none

[MIRROR] Fix a maintenance airlock on metastation (#4232)
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: none

Automatic changelog generation for PR #4232 [ci skip]
  html/changelogs/AutoChangeLog-pr-4232.yml
Owners: none

adds gympie to transform procs
  code/modules/mob/transform_procs.dm
Owners: none

extravagant suit (#4225)
  austation/code/modules/clothing/suits/armor.dm
  austation/code/modules/mining/lavaland/necropolis_chests.dm
Owners: none

Automatic changelog generation for PR #4225 [ci skip]
  html/changelogs/AutoChangeLog-pr-4225.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4185.yml
  html/changelogs/AutoChangeLog-pr-4186.yml
  html/changelogs/AutoChangeLog-pr-4190.yml
  html/changelogs/AutoChangeLog-pr-4200.yml
  html/changelogs/AutoChangeLog-pr-4204.yml
  html/changelogs/AutoChangeLog-pr-4205.yml
  html/changelogs/AutoChangeLog-pr-4206.yml
  html/changelogs/AutoChangeLog-pr-4207.yml
  html/changelogs/AutoChangeLog-pr-4208.yml
  html/changelogs/AutoChangeLog-pr-4209.yml
  html/changelogs/AutoChangeLog-pr-4211.yml
  html/changelogs/AutoChangeLog-pr-4212.yml
  html/changelogs/AutoChangeLog-pr-4214.yml
  html/changelogs/AutoChangeLog-pr-4218.yml
  html/changelogs/AutoChangeLog-pr-4220.yml
  html/changelogs/AutoChangeLog-pr-4225.yml
  html/changelogs/AutoChangeLog-pr-4227.yml
  html/changelogs/AutoChangeLog-pr-4228.yml
  html/changelogs/AutoChangeLog-pr-4230.yml
  html/changelogs/AutoChangeLog-pr-4232.yml
  html/changelogs/AutoChangeLog-pr-4236.yml
Owners: none

Shifts the new icon_state to a new modular dmi
  austation/code/game/objects/items/plushes.dm
  austation/icons/obj/plushes.dmi
  icons/obj/plushes.dmi
Owners: none

aaa
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
Owners: none

24 pack MRE for 50 cents
  austation/code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

yeah (#5441)
  code/modules/research/techweb/all_nodes.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

tweaks
  austation/code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/game/objects/items/crayons.dm
Owners: none

slower heal
  austation/code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

modularisation
  austation.dme
  austation/code/game/objects/items/crayons.dm
  code/game/objects/items/crayons.dm
Owners: none

Update tips.txt to remove out of date, rule-breaking, and wrong information. (#5469)
  strings/tips.txt
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

shiez
  austation/code/game/machinery/doors/firedoor.dm
  auxtools/auxmos.dll
  code/controllers/subsystem/adjacent_air.dm
  code/controllers/subsystem/air.dm
Owners: none

a
  auxtools/auxmos.dll
Owners: none

sleep you nerd
  austation/code/game/machinery/doors/firedoor.dm
  code/controllers/subsystem/adjacent_air.dm
  code/controllers/subsystem/air.dm
Owners: none

Update alien_artifact.dm (#5473)
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/alien_artifact.dm
Owners: @powerfulbacon

debug uplinks now actually work (#5472)
  code/modules/uplink/uplink_devices.dm
Owners: none

Space hotel fixes (#5456)
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  code/game/area/areas/ruins/space.dm
Owners: none

cheese (#5408)
  code/modules/antagonists/blob/blob_mobs.dm
Owners: none

delta-holodeck-updaate (#5446)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Owners: none

Updates Alkali Perspiration's Severity to match its thresholds. (#5466)
  code/datums/diseases/advance/symptoms/fire.dm
Owners: none

Checks if `sorted_verbs` is actually populated before copying (#5475)
  code/modules/mob/mob_stat.dm
Owners: none

Mobs no longer create blood trails while being thrown (#5164)
  code/__DEFINES/flags.dm
  code/controllers/subsystem/throwing.dm
  code/game/atoms_movable.dm
  code/modules/mob/living/living.dm
Owners: none

Spellcheck & store history in memory for VIP extraction POI (#5474)
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/vip_extraction.dm
Owners: @powerfulbacon

report round id as int in ?status (#5480)
  code/datums/world_topic.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
