Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

Automatic changelog generation for PR #1655 [ci skip]
  html/changelogs/AutoChangeLog-pr-1655.yml
Owners: none

Adds the Billy club, a new sec tool (#1783)
  _maps/map_files/generic/CentCom.dmm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  icons/obj/items_and_weapons.dmi
Owners: @ShizCalev, @Cyberboss, @ninjanomnom

tgui: Biogenerator #51022 (#1792)
  code/modules/hydroponics/biogenerator.dm
  tgui/packages/tgui/interfaces/Biogenerator.js
  tgui/packages/tgui/public/tgui.bundle.js
Owners: @stylemistake

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1655.yml
  html/changelogs/AutoChangeLog-pr-1681.yml
  html/changelogs/AutoChangeLog-pr-1683.yml
  html/changelogs/AutoChangeLog-pr-1685.yml
Owners: none

Fixes felinid virus speech (#1794)
  code/datums/diseases/transformation.dm
Owners: @zeskorion

adds parrying (#1777)
  code/__DEFINES/traits.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/game/objects/items.dm
  code/game/objects/items/shields.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_movement.dm
  sound/weapons/deflect.ogg
Owners: @ShizCalev

conflict
  code/modules/admin/sql_ban_system.dm
Owners: none

[MIRROR] Removes references to role_special (#1674)
  code/__DEFINES/role_preferences.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/roundstart_special/special_antagonist.dm
  code/modules/events/special_antag_event.dm
Owners: none

Automatic changelog generation for PR #1674 [ci skip]
  html/changelogs/AutoChangeLog-pr-1674.yml
Owners: none

[MIRROR] Researchable Smartmines + Exploding Rubber Duck traitor item (#1678)
  code/game/objects/effects/mines.dm
  code/modules/cargo/packs.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Automatic changelog generation for PR #1678 [ci skip]
  html/changelogs/AutoChangeLog-pr-1678.yml
Owners: none

[MIRROR] Revert "Cult stun protected against by mindshields instead, and it only offers partial immunity" (#1679)
  code/modules/antagonists/cult/blood_magic.dm
Owners: none

Automatic changelog generation for PR #1679 [ci skip]
  html/changelogs/AutoChangeLog-pr-1679.yml
Owners: none

[MIRROR] adds upgrade wand, magicman balance changes (#1680)
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/miscellaneous.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Automatic changelog generation for PR #1680 [ci skip]
  html/changelogs/AutoChangeLog-pr-1680.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1674.yml
  html/changelogs/AutoChangeLog-pr-1678.yml
  html/changelogs/AutoChangeLog-pr-1679.yml
  html/changelogs/AutoChangeLog-pr-1680.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1674.yml
  html/changelogs/AutoChangeLog-pr-1678.yml
  html/changelogs/AutoChangeLog-pr-1679.yml
  html/changelogs/AutoChangeLog-pr-1680.yml
Owners: none

buffs relic water bottle (#1737)
  code/modules/mining/lavaland/necropolis_chests.dm
Owners: none

actual bugfix
  beestation.dme
  interactions/interaction_interface.dm
Owners: none

delete lewd shit
  interactions/lewd/_lewd.dm
Owners: none

Delete lewd_datums.dm
  interactions/lewd/lewd_datums.dm
Owners: none

Delete lewd_interactions.dm
  interactions/lewd/lewd_interactions.dm
Owners: none

Delete lewd_species.dm
  interactions/lewd/lewd_species.dm
Owners: none

Delete objects.dm
  interactions/lewd/objects.dm
Owners: none

Delete cum.dmi
  honk/sound/icons/effects/cum.dmi
Owners: none

Delete clawcum1.ogg
  honk/sound/interactions/clawcum1.ogg
Owners: none

Decreased downtime and bugs (#1699)
  code/__DEFINES/mobs.dm
  code/game/machinery/rechargestation.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mob/living/carbon/human/species_types/abductors.dm
Owners: @Qustinnus

Traitor uplink items rework (#1703)
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/shoes/taeclowndo.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/uplink/uplink_items.dm
Owners: none

adds a bee gun (#1740)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/projectiles/ammunition/special/syringe.dm
  code/modules/projectiles/guns/misc/chem_gun.dm
  code/modules/projectiles/projectile/bullets/dart_syringe.dm
  icons/obj/guns/projectile.dmi
Owners: @ShizCalev

Upgrading DMAPI to TGS4 (#1773)
  code/__DEFINES/tgs.config.dm
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/undef.dm
Owners: @crossedfall

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

northstar changes (#1709)
  code/modules/clothing/gloves/miscellaneous.dm
Owners: none

Citations (#44853) (#1790)
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Donutstation/Donutstation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  beestation.dme
  code/datums/datacore.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/computer/warrant.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/devices/PDA/PDA.dm
Owners: @ShizCalev

Fixes some guardian bugs (#1798)
  code/modules/guardian/guardian.dm
Owners: none

three bond logo, gucci louis
  austation/code/modules/mob/living/human/emote.dm
  austation/sound/misc/yesYES.ogg
  beestation.dme
Owners: @MCterra10

goddamn gucci louis three box logos
  beestation.dme
Owners: none

the office isn't even that funny
  austation/code/modules/mob/living/human/emote.dm
  austation/includes.dm
  austation/sound/misc/nono.ogg
Owners: @MCterra10

you gain brouzouf. my legs are OK. you can't spam noise anymore
  austation/code/modules/mob/emote.dm
  austation/code/modules/mob/living/human/emote.dm
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/mob_defines.dm
Owners: @MCterra10

ok everything *should* be fine now
  austation/code/modules/mob/emote.dm
Owners: @MCterra10

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)
