Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Supercruise - Optimised + Improved collision detection (#5313)
  code/__DEFINES/orbit_defines.dm
  code/__HELPERS/names.dm
  code/controllers/subsystem/processing/orbits.dm
  code/game/turfs/open/space/transit.dm
  code/modules/events/meteor_wave.dm
  code/modules/shuttle/custom_shuttle.dm
  code/modules/shuttle/super_cruise/interface/orbital_map_interface.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_map.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_object.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/beacon.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/lavaland.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/meteor.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/phobos.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/shuttle.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/space_station.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/star.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/z_linked.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_vector.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_console.dm
  code/modules/shuttle/super_cruise/shuttle_supercruise.dm
Owners: @powerfulbacon

[MIRROR] Exploration nuke no longer plays alarm.ogg (#4156)
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Owners: none

Automatic changelog generation for PR #4156 [ci skip]
  html/changelogs/AutoChangeLog-pr-4156.yml
Owners: none

[MIRROR] Fixes ambience and adds "constellations" space ambience song (#4159)
  code/_globalvars/lists/ambience.dm
  code/controllers/subsystem/ambience.dm
  code/game/area/Space_Station_13_areas.dm
  code/game/area/areas.dm
  sound/ambience/qwerty/constellations.ogg
Owners: none

Automatic changelog generation for PR #4159 [ci skip]
  html/changelogs/AutoChangeLog-pr-4159.yml
Owners: none

[MIRROR] Ruins no longer spam the It's Loose notification (#4161)
  code/modules/antagonists/clock_cult/clockwork_massive.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/power/singularity/boh_tear.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/singularity.dm
Owners: none

Automatic changelog generation for PR #4161 [ci skip]
  html/changelogs/AutoChangeLog-pr-4161.yml
Owners: none

[MIRROR] Syndicate Comms Agent List Fix (#4163)
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
Owners: none

Automatic changelog generation for PR #4163 [ci skip]
  html/changelogs/AutoChangeLog-pr-4163.yml
Owners: none

Restore previous AI interaction behavior for intercoms (#5344)
  code/game/objects/items/devices/radio/intercom.dm
Owners: none

[MIRROR] Fixes tgui ButtonInput crashing (#4168)
  tgui/packages/tgui/components/Button.js
Owners: none

Automatic changelog generation for PR #4168 [ci skip]
  html/changelogs/AutoChangeLog-pr-4168.yml
Owners: none

Value package PR (#4169)
  austation/code/modules/coilgun/projectile.dm
  austation/code/modules/food_and_drinks/food/snacks_bread.dm
  austation/code/modules/food_and_drinks/food/tablecraft/recipes_bread.dm
  austation/code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  austation/code/modules/reagents/chemistry/reagents/other_reagents.dm
  austation/code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  austation/code/modules/recycling/disposal/loafer.dm
  austation/code/modules/recycling/disposal/pipe.dm
  code/__HELPERS/unsorted.dm
Owners: @TheFakeElon

Automatic changelog generation for PR #4169 [ci skip]
  html/changelogs/AutoChangeLog-pr-4169.yml
Owners: none

[MIRROR] Supercruise - Optimised + Improved collision detection (#4155)
  code/__DEFINES/orbit_defines.dm
  code/__HELPERS/names.dm
  code/controllers/subsystem/processing/orbits.dm
  code/game/turfs/open/space/transit.dm
  code/modules/events/meteor_wave.dm
  code/modules/shuttle/custom_shuttle.dm
  code/modules/shuttle/super_cruise/interface/orbital_map_interface.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_map.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_object.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/beacon.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/lavaland.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/meteor.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/phobos.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/shuttle.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/space_station.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/star.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/z_linked.dm
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_vector.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_console.dm
  code/modules/shuttle/super_cruise/shuttle_supercruise.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4155 [ci skip]
  html/changelogs/AutoChangeLog-pr-4155.yml
Owners: none

oops (#5356)
  _maps/RuinGeneration/13x13_ai-lab.dmm
Owners: none

[MIRROR] Fix silicons being unable to interact with intercoms (#4164)
  code/game/objects/items/devices/radio/intercom.dm
Owners: none

Automatic changelog generation for PR #4164 [ci skip]
  html/changelogs/AutoChangeLog-pr-4164.yml
Owners: none

[MIRROR] Corporate Sofas (#4171)
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/beds_chairs/sofa.dm
  icons/obj/sofa.dmi
Owners: none

Automatic changelog generation for PR #4171 [ci skip]
  html/changelogs/AutoChangeLog-pr-4171.yml
Owners: none

[MIRROR] fixes a typo (#4172)
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/nuke_ruin.dm
Owners: @powerfulbacon

[MIRROR] Re-adds custom emotes (#4173)
  code/datums/brain_damage/creepy_trauma.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/simple_animal/eldritch_demons.dm
Owners: none

Automatic changelog generation for PR #4173 [ci skip]
  html/changelogs/AutoChangeLog-pr-4173.yml
Owners: none

[MIRROR] Admins can now force people to stub their toes. (#4175)
  code/__DEFINES/admin.dm
  code/__DEFINES/traits.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

Automatic changelog generation for PR #4175 [ci skip]
  html/changelogs/AutoChangeLog-pr-4175.yml
Owners: none

[MIRROR] Adds more logging (#4174)
  code/game/gamemodes/dynamic/dynamic.dm
  code/modules/client/client_defines.dm
  code/modules/client/verbs/who.dm
  code/modules/keybindings/bindings_client.dm
Owners: none

Automatic changelog generation for PR #4174 [ci skip]
  html/changelogs/AutoChangeLog-pr-4174.yml
Owners: none

[MIRROR] hotfix for AI lab room. (#4170)
  _maps/RuinGeneration/13x13_ai-lab.dmm
Owners: none

1984: Suppressed Bans (#5251)
  code/__DEFINES/admin.dm
  code/__HELPERS/type2type.dm
  code/_globalvars/bitfields.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/sql_message_system.dm
  config/admin_ranks.txt
  html/admin/banpanel.js
Owners: @MCterra10

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4117.yml
  html/changelogs/AutoChangeLog-pr-4128.yml
  html/changelogs/AutoChangeLog-pr-4130.yml
  html/changelogs/AutoChangeLog-pr-4131.yml
  html/changelogs/AutoChangeLog-pr-4132.yml
  html/changelogs/AutoChangeLog-pr-4133.yml
  html/changelogs/AutoChangeLog-pr-4135.yml
  html/changelogs/AutoChangeLog-pr-4136.yml
  html/changelogs/AutoChangeLog-pr-4140.yml
  html/changelogs/AutoChangeLog-pr-4141.yml
  html/changelogs/AutoChangeLog-pr-4143.yml
  html/changelogs/AutoChangeLog-pr-4148.yml
  html/changelogs/AutoChangeLog-pr-4150.yml
  html/changelogs/AutoChangeLog-pr-4151.yml
  html/changelogs/AutoChangeLog-pr-4152.yml
  html/changelogs/AutoChangeLog-pr-4153.yml
  html/changelogs/AutoChangeLog-pr-4154.yml
  html/changelogs/AutoChangeLog-pr-4155.yml
  html/changelogs/AutoChangeLog-pr-4156.yml
  html/changelogs/AutoChangeLog-pr-4159.yml
  html/changelogs/AutoChangeLog-pr-4161.yml
  html/changelogs/AutoChangeLog-pr-4163.yml
  html/changelogs/AutoChangeLog-pr-4164.yml
  html/changelogs/AutoChangeLog-pr-4168.yml
  html/changelogs/AutoChangeLog-pr-4169.yml
  html/changelogs/AutoChangeLog-pr-4171.yml
  html/changelogs/AutoChangeLog-pr-4173.yml
  html/changelogs/AutoChangeLog-pr-4174.yml
  html/changelogs/AutoChangeLog-pr-4175.yml
  html/changelogs/AutoChangeLog-pr-4189.yml
Owners: none

the shit
  Dockerfile
  dependencies.sh
  tools/tgs4_scripts/PreCompile.sh
Owners: none

update binary
  auxtools/auxmos.dll
Owners: none

few stuff
  austation/code/game/machinery/doors/firedoor.dm
Owners: none

Removes use of typecache in get area (#5137)
  code/__HELPERS/unsorted.dm
  code/modules/mining/equipment/mineral_scanner.dm
Owners: none

Update meteor.dm (#5382)
  code/modules/shuttle/super_cruise/orbital_map_components/orbital_objects/meteor.dm
Owners: @powerfulbacon

Fix mecha recalibration not working (#5309)
  code/game/mecha/mecha_topic.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Cleaning the station and growing plants - cyberpunk style (#5145)
  code/game/objects/items/storage/bags.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/organs/augments_arms.dm
  icons/obj/hydroponics/equipment.dmi
Owners: none

the shit
  auxtools/auxmos.dll
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
