Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

Automatic changelog generation for PR #4385 [ci skip]
  html/changelogs/AutoChangeLog-pr-4385.yml
Owners: none

[MIRROR] Fixes oozelings going below 0% blood volume from fire extinguishers. (#4386)
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

Automatic changelog generation for PR #4386 [ci skip]
  html/changelogs/AutoChangeLog-pr-4386.yml
Owners: none

[MIRROR] Remove dependency on R&D consoles from protolathes and circuit imprinters (#4380)
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/machinery/protolathe.dm
Owners: none

Automatic changelog generation for PR #4380 [ci skip]
  html/changelogs/AutoChangeLog-pr-4380.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4365.yml
  html/changelogs/AutoChangeLog-pr-4372.yml
  html/changelogs/AutoChangeLog-pr-4373.yml
  html/changelogs/AutoChangeLog-pr-4374.yml
  html/changelogs/AutoChangeLog-pr-4375.yml
  html/changelogs/AutoChangeLog-pr-4376.yml
  html/changelogs/AutoChangeLog-pr-4377.yml
  html/changelogs/AutoChangeLog-pr-4378.yml
  html/changelogs/AutoChangeLog-pr-4380.yml
  html/changelogs/AutoChangeLog-pr-4383.yml
  html/changelogs/AutoChangeLog-pr-4384.yml
  html/changelogs/AutoChangeLog-pr-4385.yml
  html/changelogs/AutoChangeLog-pr-4386.yml
Owners: none

[MIRROR] [PORT] Lesser Summon Bees (#4387)
  beestation.dme
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/spells/spell_types/wizard.dm
  icons/mob/actions/actions_spells.dmi
Owners: none

Automatic changelog generation for PR #4387 [ci skip]
  html/changelogs/AutoChangeLog-pr-4387.yml
Owners: none

remove dupes
  _maps/map_files/Austation/Austation.dmm
Owners: none

mapmerge
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] Fixes alien eggs being deleted before hugger is spawned (#4389)
  code/game/objects/structures/aliens.dm
Owners: none

Automatic changelog generation for PR #4389 [ci skip]
  html/changelogs/AutoChangeLog-pr-4389.yml
Owners: none

[MIRROR] Fix changeling's organic space suit overdosing the user on salbutamol (#4390)
  code/modules/antagonists/changeling/powers/mutations.dm
Owners: none

Automatic changelog generation for PR #4390 [ci skip]
  html/changelogs/AutoChangeLog-pr-4390.yml
Owners: none

[MIRROR] Fixes a TGUI runtime with null clients (#4391)
  code/modules/tgui/tgui.dm
Owners: none

Automatic changelog generation for PR #4391 [ci skip]
  html/changelogs/AutoChangeLog-pr-4391.yml
Owners: none

[MIRROR] Adds a small playtime/age requirement to explorers (#4395)
  code/modules/jobs/job_types/exploration_team.dm
Owners: none

Automatic changelog generation for PR #4395 [ci skip]
  html/changelogs/AutoChangeLog-pr-4395.yml
Owners: none

[MIRROR] Remove duplicate cables from maps (#4388)
  _maps/map_files/Austation/Austation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
Owners: @powerfulbacon

Automatic changelog generation for PR #4388 [ci skip]
  html/changelogs/AutoChangeLog-pr-4388.yml
Owners: none

[MIRROR] Petty badge update (#4396)
  config/badges.json
  icons/badges.dmi
Owners: @MCterra10

[MIRROR] Fixes maps again (#4397)
  beestation.dme
  code/__DEFINES/config_defines.dm
  code/__DEFINES/text.dm
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
Owners: none

Automatic changelog generation for PR #4397 [ci skip]
  html/changelogs/AutoChangeLog-pr-4397.yml
Owners: none

[MIRROR] Janitorial Rebalance (#4399)
  code/game/objects/items/holosign_creator.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/research/designs/autolathe_designs.dm
  code/modules/vending/wardrobes.dm
Owners: none

Automatic changelog generation for PR #4399 [ci skip]
  html/changelogs/AutoChangeLog-pr-4399.yml
Owners: none

[MIRROR] Fixes lowmemorymode not forcing map (#4400)
  code/_compile_options.dm
  code/controllers/subsystem/mapping.dm
Owners: none

Automatic changelog generation for PR #4400 [ci skip]
  html/changelogs/AutoChangeLog-pr-4400.yml
Owners: none

[MIRROR] Fixes another runtime with TGUI and null clients (#4401)
  code/modules/tgui/tgui.dm
Owners: none

Automatic changelog generation for PR #4401 [ci skip]
  html/changelogs/AutoChangeLog-pr-4401.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4387.yml
  html/changelogs/AutoChangeLog-pr-4388.yml
  html/changelogs/AutoChangeLog-pr-4389.yml
  html/changelogs/AutoChangeLog-pr-4390.yml
  html/changelogs/AutoChangeLog-pr-4391.yml
  html/changelogs/AutoChangeLog-pr-4395.yml
  html/changelogs/AutoChangeLog-pr-4397.yml
  html/changelogs/AutoChangeLog-pr-4399.yml
  html/changelogs/AutoChangeLog-pr-4400.yml
  html/changelogs/AutoChangeLog-pr-4401.yml
Owners: none

Fixes Xeno Eggs not updating sprite after bursting (#5768)
  code/game/objects/structures/aliens.dm
Owners: none

Delete placeholder
  sound/ai/ancestor/placeholder
Owners: none

Delete placeholder
  sound/ai/ancestor/welcome/placeholder
Owners: none

Update ancestor_announcer.dm
  code/datums/announcers/ancestor_announcer.dm
Owners: none

Update beestation.dme
  beestation.dme
Owners: none

demodularise overrides
  austation.dme
  austation/code/game/machinery/telecomms/computers/logbrowser.dm
  austation/code/game/machinery/telecomms/machines/server.dm
  code/game/machinery/telecomms/computers/logbrowser.dm
  code/game/machinery/telecomms/machines/server.dm
Owners: none

[MIRROR] Fixes people being stuck in limbo if they fall out a transit with no jetpack (#4402)
  code/controllers/subsystem/mapping.dm
Owners: none

Automatic changelog generation for PR #4402 [ci skip]
  html/changelogs/AutoChangeLog-pr-4402.yml
Owners: none

conflict
  code/modules/mob/living/carbon/alien/humanoid/queen.dm
Owners: none

remove it lol
  code/controllers/subsystem/shuttle.dm
Owners: none
