Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

syndicate-commslist-explorerupdate (#5342)
  code/modules/ruins/lavalandruin_code/syndicate_base.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4134.yml
Owners: none

update ver
  dependencies.sh
Owners: none

Setting Max Font size too 24 rather than 32 (#5336)
  tgui/packages/tgui-panel/settings/SettingsPanel.js
Owners: none

Fixes ButtonInput not allowing UIs to be opened (#59329) (#5351)
  tgui/packages/tgui/components/Button.js
Owners: none

STUFF
  austation.dme
  code/game/objects/structures/tables_racks.dm
Owners: none

files
  austation/code/__HELPERS/type_processing.dm
  austation/code/game/materialization.dm
Owners: none

mechanical hands
  austation/code/modules/coilgun/projectile.dm
  austation/code/modules/food_and_drinks/food/snacks_bread.dm
  austation/code/modules/food_and_drinks/food/tablecraft/recipes_bread.dm
  austation/code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  austation/code/modules/reagents/chemistry/reagents/other_reagents.dm
  austation/code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  austation/code/modules/recycling/disposal/loafer.dm
  austation/code/modules/recycling/disposal/pipe.dm
  code/__HELPERS/unsorted.dm
Owners: @TheFakeElon

nope
  austation/code/modules/food_and_drinks/food/snacks_bread.dm
Owners: none

How tf did SM bread have spacial indentation
  austation/code/modules/food_and_drinks/food/tablecraft/recipes_bread.dm
Owners: none

compile pls <3
  austation/code/modules/coilgun/projectile.dm
  austation/code/modules/food_and_drinks/food/snacks_bread.dm
  austation/code/modules/food_and_drinks/food/tablecraft/recipes_bread.dm
Owners: @TheFakeElon

ok byond
  austation/code/modules/food_and_drinks/food/snacks_bread.dm
Owners: none

austation changes
  _maps/map_files/Austation/Austation.dmm
  code/datums/components/README.md
Owners: none

remove circuit floors
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] Updates exploration allinonbox. (#4109)
  code/game/machinery/telecomms/machines/allinone.dm
Owners: none

Automatic changelog generation for PR #4109 [ci skip]
  html/changelogs/AutoChangeLog-pr-4109.yml
Owners: none

update austation
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] Deadchat controlled Birdboat (and Singularity) (#4113)
  beestation.dme
  code/__DEFINES/dcs/signals.dm
  code/datums/components/deadchat_control.dm
  code/datums/components/orbiter.dm
  code/modules/mob/living/simple_animal/hostile/goose.dm
  code/modules/mob/say.dm
  code/modules/power/singularity/singularity.dm
Owners: none

Automatic changelog generation for PR #4113 [ci skip]
  html/changelogs/AutoChangeLog-pr-4113.yml
Owners: none

[MIRROR] IPC hands clipping fix (#4119)
  icons/mob/human_parts.dmi
  icons/mob/human_parts_greyscale.dmi
Owners: none

Automatic changelog generation for PR #4119 [ci skip]
  html/changelogs/AutoChangeLog-pr-4119.yml
Owners: none

[MIRROR] Adds pets to a variety of places! (#4110)
  _maps/map_files/Austation/Austation.dmm
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/capsule_traitor.dmm
  _maps/shuttles/exploration_corg.dmm
  _maps/shuttles/exploration_delta.dmm
  _maps/shuttles/exploration_shuttle.dmm
Owners: @powerfulbacon

Automatic changelog generation for PR #4110 [ci skip]
  html/changelogs/AutoChangeLog-pr-4110.yml
Owners: none

conflicts
  code/datums/components/README.md
  code/modules/admin/admin_verbs.dm
Owners: none

[MIRROR] Gives meta and pubby proper exploration comms setup. (#4106)
  _maps/map_files/Austation/Austation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/datums/components/README.md
Owners: none

Automatic changelog generation for PR #4106 [ci skip]
  html/changelogs/AutoChangeLog-pr-4106.yml
Owners: none

Automatic changelog generation for PR #4115 [ci skip]
  html/changelogs/AutoChangeLog-pr-4115.yml
Owners: none

Automatic TGUI Rebuild [ci skip]
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Owners: none

[MIRROR] Ports the Requests Manager (#4114)
  beestation.dme
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/requests.dm
  code/modules/client/client_procs.dm
  code/modules/requests/request.dm
  code/modules/requests/request_manager.dm
  tgui/packages/tgui/interfaces/RequestManager.js
  tgui/packages/tgui/styles/interfaces/RequestManager.scss
  tgui/packages/tgui/styles/main.scss
Owners: none

Automatic changelog generation for PR #4114 [ci skip]
  html/changelogs/AutoChangeLog-pr-4114.yml
Owners: none

update proccall
  code/datums/components/README.md
  code/modules/admin/chat_commands.dm
Owners: none

[MIRROR] Minor radio/intercom fixes and improvements (#4118)
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
Owners: none

Automatic changelog generation for PR #4118 [ci skip]
  html/changelogs/AutoChangeLog-pr-4118.yml
Owners: none

[MIRROR] Refactor to syndie boxes/kits (#4120)
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/admin/battle_royale.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/uplink/uplink_items.dm
Owners: none

Automatic changelog generation for PR #4120 [ci skip]
  html/changelogs/AutoChangeLog-pr-4120.yml
Owners: none

Automatic TGUI Rebuild [ci skip]
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Owners: none

disable music
  code/datums/components/README.md
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Owners: none

[MIRROR] Port fixes and refactors for adminhelp and TGS/IRC/Discord communication (#4116)
  code/__HELPERS/roundend.dm
  code/_onclick/ai.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/mobs.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/chat_commands.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/who.dm
  code/modules/mob/living/carbon/update_icons.dm
  code/modules/shuttle/emergency.dm
Owners: none

Automatic changelog generation for PR #4116 [ci skip]
  html/changelogs/AutoChangeLog-pr-4116.yml
Owners: none

[MIRROR] X-ray flash protection changes (#4122)
  code/game/objects/items/grenades/flashbang.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/organs/eyes.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
