Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)

properly modularises the list of languages
  austation/code/modules/surgery/organs/tongue.dm
  code/modules/surgery/organs/tongue.dm
Owners: @MCterra10

flesh.mp4
  code/modules/mob/living/silicon/robot/emote.dm
Owners: none

newline fixes
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/mob_defines.dm
Owners: none

changes resolved, hopefully. pls travis dont fuck my commit build
  austation/code/modules/mob/living/human/species_type/apid.dm
  austation/code/modules/mob/living/human/species_type/ethereal.dm
  austation/code/modules/mob/living/human/species_type/flypeople.dm
  austation/code/modules/mob/living/human/species_type/golems.dm
  austation/code/modules/mob/living/human/species_type/mothmen.dm
  austation/code/modules/mob/living/human/species_type/plasmamen.dm
  austation/code/modules/mob/living/human/species_type/skeletons.dm
  austation/code/modules/surgery/organs/tongue.dm
  code/modules/surgery/organs/tongue.dm
Owners: @MCterra10

i missed shadowpeople oop
  austation/code/modules/mob/living/human/species_type/shadowpeople.dm
Owners: @MCterra10

forgot podpeople too :/
  austation/code/modules/mob/living/human/species_type/podpeople.dm
Owners: @MCterra10

The Emote Addition PR (#1705)
  austation/code/datums/emotes.dm
  austation/code/modules/mob/living/carbon/emote.dm
  austation/code/modules/mob/living/carbon/human/emote.dm
  austation/code/modules/mob/living/carbon/human/species_type/felinid.dm
  austation/code/modules/mob/living/emote.dm
  austation/code/modules/mob/living/human/emote.dm
  austation/code/modules/mob/living/silicon/robot/emote.dm
  austation/code/modules/mob/mob_defines.dm
  austation/includes.dm
  austation/sound/misc/goughdemn.ogg
  austation/sound/misc/nono.ogg
  austation/sound/misc/yesYES.ogg
  code/modules/mob/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/mob_defines.dm
Owners: @MCterra10

Automatic changelog generation for PR #1705 [ci skip]
  html/changelogs/AutoChangeLog-pr-1705.yml
Owners: none

moved everything under /carbon should work fine
  austation/code/modules/mob/living/carbon/human/emote.dm
  austation/code/modules/mob/living/carbon/human/species.dm
  austation/code/modules/mob/living/carbon/human/species_type/apid.dm
  austation/code/modules/mob/living/carbon/human/species_type/ethereal.dm
  austation/code/modules/mob/living/carbon/human/species_type/felinid.dm
  austation/code/modules/mob/living/carbon/human/species_type/flypeople.dm
  austation/code/modules/mob/living/carbon/human/species_type/golems.dm
  austation/code/modules/mob/living/carbon/human/species_type/mothmen.dm
  austation/code/modules/mob/living/carbon/human/species_type/plasmamen.dm
  austation/code/modules/mob/living/carbon/human/species_type/podpeople.dm
  austation/code/modules/mob/living/carbon/human/species_type/shadowpeople.dm
  austation/code/modules/mob/living/carbon/human/species_type/skeletons.dm
  austation/code/modules/mob/living/human/emote.dm
  austation/includes.dm
Owners: @MCterra10

Burn and brute patch balance (#1801)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Owners: none

[Ready] Resprites MedSci uniforms & backpacks, sorts icon files internally (#1663)
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/jobs/job_types/research_director.dm
  icons/mob/back.dmi
  icons/mob/feet.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/storage.dmi
Owners: @ShizCalev

adding buzzwords to tongue
  austation/code/modules/surgery/organs/tongue.dm
Owners: @MCterra10

adding new langs to ai understand
  austation/code/modules/language/language_holder.dm
Owners: @MCterra10

dead mobs no longer poll ghosts for traumas
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
Owners: none

[MIRROR] Burn and brute patch balance (#1715)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Owners: none

Automatic changelog generation for PR #1715 [ci skip]
  html/changelogs/AutoChangeLog-pr-1715.yml
Owners: none

fixes my dumb mistake
  austation/code/modules/mob/living/carbon/human/emote.dm
Owners: @MCterra10

dead mobs no longer poll ghosts for traumas (#1717)
  code/datums/brain_damage/imaginary_friend.dm
  code/datums/brain_damage/split_personality.dm
Owners: none

Automatic changelog generation for PR #1717 [ci skip]
  html/changelogs/AutoChangeLog-pr-1717.yml
Owners: none

Emote Fix (#1718)
  austation/code/modules/mob/living/carbon/human/emote.dm
Owners: @MCterra10

Automatic changelog generation for PR #1718 [ci skip]
  html/changelogs/AutoChangeLog-pr-1718.yml
Owners: none

[MIRROR] [Ready] Resprites MedSci uniforms & backpacks, sorts icon files internally (#1716)
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/jobs/job_types/research_director.dm
  icons/mob/back.dmi
  icons/mob/feet.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/storage.dmi
Owners: @ShizCalev

Automatic changelog generation for PR #1716 [ci skip]
  html/changelogs/AutoChangeLog-pr-1716.yml
Owners: none

update includes
  austation/includes.dm
Owners: @MCterra10

Update language_holder.dm
  austation/code/modules/language/language_holder.dm
Owners: @MCterra10

Update language_holder.dm
  code/modules/language/language_holder.dm
Owners: none

comments some code
  code/modules/surgery/organs/tongue.dm
Owners: none

Saving places (#1522)
  beestation.dme
  code/__DEFINES/mapexporting.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/buildmode/submodes/save_area.dm
  code/modules/mapexporting/mapexporter.dm
  code/modules/mining/machine_silo.dm
Owners: none

Tgui ticket system (#1816)
  beestation.dme
  code/__DEFINES/admin.dm
  code/datums/datumvars.dm
  code/modules/admin/admin_follow.dm
  code/modules/admin/admin_more_info.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminpm.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/TicketBrowser.js
  tgui/packages/tgui/interfaces/TicketMessenger.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/themes/admin.scss
Owners: @stylemistake

Removes one-time use on holoparasite resetting (#1796)
  code/modules/guardian/guardian.dm
Owners: none

More Holoparasite fixes and tweaks (#1805)
  beestation.dme
  code/__DEFINES/components.dm
  code/__DEFINES/maps.dm
  code/__HELPERS/level_traits.dm
  code/modules/guardian/abilities/special/pocket.dm
  code/modules/guardian/guardian.dm
  code/modules/guardian/guardianbuilder.dm
  code/modules/guardian/standarrow.dm
  code/modules/mob/living/living.dm
  icons/mob/screen_alert.dmi
Owners: @Cyberboss, @ninjanomnom, @ShizCalev

restores legacy sends to SSChat (#1807)
  code/controllers/subsystem/chat.dm
Owners: none

Nerfs healing holoparasites (#1820)
  code/modules/guardian/abilities/major/healing.dm
Owners: none

More valid keys (#1821)
  code/modules/keybindings/bindings_client.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1705.yml
  html/changelogs/AutoChangeLog-pr-1714.yml
  html/changelogs/AutoChangeLog-pr-1715.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1705.yml
  html/changelogs/AutoChangeLog-pr-1714.yml
  html/changelogs/AutoChangeLog-pr-1715.yml
  html/changelogs/AutoChangeLog-pr-1716.yml
  html/changelogs/AutoChangeLog-pr-1717.yml
  html/changelogs/AutoChangeLog-pr-1718.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

[MIRROR] More valid keys (#1725)
  code/modules/keybindings/bindings_client.dm
Owners: none

Automatic changelog generation for PR #1725 [ci skip]
  html/changelogs/AutoChangeLog-pr-1725.yml
Owners: none

[MIRROR] Tgui ticket system (#1720)
  beestation.dme
  code/__DEFINES/admin.dm
  code/datums/datumvars.dm
  code/modules/admin/admin_follow.dm
  code/modules/admin/admin_more_info.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/holder2.dm
  code/modules/admin/sql_message_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/adminpm.dm
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/TicketBrowser.js
  tgui/packages/tgui/interfaces/TicketMessenger.js
  tgui/packages/tgui/public/tgui.bundle.css
  tgui/packages/tgui/public/tgui.bundle.js
  tgui/packages/tgui/styles/themes/admin.scss
Owners: @stylemistake
