Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

Automatic changelog generation for PR #4999 [ci skip]
  html/changelogs/AutoChangeLog-pr-4999.yml
Owners: none

[MIRROR] [PORT] Locker sounds from TG (#5000)
  sound/machines/closet_close.ogg
  sound/machines/closet_open.ogg
Owners: none

Automatic changelog generation for PR #5000 [ci skip]
  html/changelogs/AutoChangeLog-pr-5000.yml
Owners: none

[MIRROR] Converts ai tracking towards using signals (#5001)
  code/_onclick/ai.dm
  code/game/machinery/camera/tracking.dm
  code/game/objects/items/devices/multitool.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/ai/freelook/eye.dm
Owners: none

Automatic changelog generation for PR #5001 [ci skip]
  html/changelogs/AutoChangeLog-pr-5001.yml
Owners: none

[MIRROR] Fixes stickyban runtime (#5002)
  code/controllers/subsystem/stickyban.dm
Owners: none

Automatic changelog generation for PR #5002 [ci skip]
  html/changelogs/AutoChangeLog-pr-5002.yml
Owners: none

[MIRROR] Bumps minimum client version to 1583 (#5003)
  code/_compile_options.dm
  config/config.txt
Owners: @MCterra10

Automatic changelog generation for PR #5003 [ci skip]
  html/changelogs/AutoChangeLog-pr-5003.yml
Owners: none

[MIRROR] Fixes attachment overlays on guns (#5004)
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
Owners: none

Automatic changelog generation for PR #5004 [ci skip]
  html/changelogs/AutoChangeLog-pr-5004.yml
Owners: none

[MIRROR] Fixes crewmonitor's width (#4993)
  tgui/packages/tgui/interfaces/CrewConsole.js
Owners: none

Automatic changelog generation for PR #4993 [ci skip]
  html/changelogs/AutoChangeLog-pr-4993.yml
Owners: none

update austation pipe layers
  _maps/map_files/Austation/Austation.dmm
Owners: none

[MIRROR] fix pun pun saving (#5005)
  code/modules/mob/living/carbon/monkey/punpun.dm
Owners: none

Automatic changelog generation for PR #5005 [ci skip]
  html/changelogs/AutoChangeLog-pr-5005.yml
Owners: none

[MIRROR] CTF species whitelist (#5006)
  code/modules/awaymissions/capture_the_flag.dm
Owners: none

Automatic changelog generation for PR #5006 [ci skip]
  html/changelogs/AutoChangeLog-pr-5006.yml
Owners: none

[MIRROR] Vend-a-tray shards fix + new breaking sound. (#5007)
  code/game/objects/structures/displaycase.dm
Owners: none

Automatic changelog generation for PR #5007 [ci skip]
  html/changelogs/AutoChangeLog-pr-5007.yml
Owners: none

[MIRROR] Fixes flamethrowers lighting runtime (#5008)
  code/game/objects/items/flamethrower.dm
Owners: none

Automatic changelog generation for PR #5008 [ci skip]
  html/changelogs/AutoChangeLog-pr-5008.yml
Owners: none

[MIRROR] Fixes double qdel in wielded (#5009)
  code/datums/components/twohanded.dm
Owners: none

Automatic changelog generation for PR #5009 [ci skip]
  html/changelogs/AutoChangeLog-pr-5009.yml
Owners: none

Automatic changelog generation for PR #4998 [ci skip]
  html/changelogs/AutoChangeLog-pr-4998.yml
Owners: none

[MIRROR] Removes try catch from exploration generators (#5010)
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/asteroid_generator.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/exoplanets/exoplanet_generator.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/ruin_generator/ruin_generator.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #5010 [ci skip]
  html/changelogs/AutoChangeLog-pr-5010.yml
Owners: none

[MIRROR] Acid fix (#5011)
  code/game/objects/effects/alien_acid.dm
  code/game/objects/obj_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/monkey/monkey_defense.dm
Owners: none

Automatic changelog generation for PR #5011 [ci skip]
  html/changelogs/AutoChangeLog-pr-5011.yml
Owners: none

[MIRROR] Fixes being able to eat through gas masks if you're on harm intent (#5012)
  code/modules/reagents/reagent_containers.dm
Owners: none

Automatic changelog generation for PR #5012 [ci skip]
  html/changelogs/AutoChangeLog-pr-5012.yml
Owners: none

[MIRROR] Sentinel's Compromise tweaks (#5014)
  code/modules/antagonists/clock_cult/scriptures/sentinels_compromise.dm
Owners: none

Automatic changelog generation for PR #5014 [ci skip]
  html/changelogs/AutoChangeLog-pr-5014.yml
Owners: none

[MIRROR] Fixes null runtime in teleporter (#5015)
  code/game/machinery/teleporter.dm
Owners: none

Automatic changelog generation for PR #5015 [ci skip]
  html/changelogs/AutoChangeLog-pr-5015.yml
Owners: none

fix (#6736)
  code/datums/components/embedded.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

[MIRROR] Removes support for invalid timers (#5016)
  code/controllers/subsystem/timer.dm
Owners: none

Automatic changelog generation for PR #5016 [ci skip]
  html/changelogs/AutoChangeLog-pr-5016.yml
Owners: none

[MIRROR] Fixes adding component to qdeleting object runtime (#5017)
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items.dm
  code/game/objects/items/dehy_carp.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/items/stacks/cash.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/light.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures.dm
  code/game/objects/structures/fireaxe.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/objects/structures/window.dm
  code/modules/assembly/holder.dm
  code/modules/mining/ores_coins.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/lighting.dm
  code/modules/recycling/conveyor2.dm
Owners: none

Automatic changelog generation for PR #5017 [ci skip]
  html/changelogs/AutoChangeLog-pr-5017.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)
