Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @crossedfall, @ike709, @powerfulbacon, @qwertyquerty, @ShizCalev, @stylemistake, @Qustinnus, @Cyberboss, @ninjanomnom, @duncathan, @MrStonedOne, @MCterra10, @zeskorion

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# crossedfall

.dockerignore @crossedfall
.github @crossedfall
.travis.yml @crossedfall
appveyor.yml @crossedfall
/code/modules/tgs @crossedfall
/config @crossedfall
dependencies.sh @crossedfall
Dockerfile @crossedfall
/SQL @crossedfall
TGS3.json @crossedfall
/tools @crossedfall


# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle @powerfulbacon


# qwertyquerty

/code/datums/keybinding @qwertyquerty
/code/modules/lighting @qwertyquerty
/code/modules/metacoin @qwertyquerty
/code/modules/NTNet @qwertyquerty
/code/modules/qwerty @qwertyquerty

# zeskorion

<<<<<<< HEAD
# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# stylemistake

/tgui @stylemistake
/tgui-next @stylemistake

# Qustinnus
/code/datums/components/mood.dm @Qustinnus
/code/datums/mood_events/ @Qustinnus
/code/__DEFINES/mobs.dm @Qustinnus

# Multiple Owners

/code/__DEFINES/components.dm @Cyberboss @ninjanomnom
/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
/code/datums/components/ @Cyberboss @ninjanomnom

# Austation
# Mostly to make sure I notice changes to reagents or vendors after cobbychem revert
/austation/ @MCterra10
=======
/code/__DEFINES/diseases.dm @zeskorion
/code/controllers/subsystem/disease.dm @zeskorion
/code/datums/diseases @zeskorion
/code/modules/antagonists/disease @zeskorion
>>>>>>> ae25e007fa... Update CODEOWNERS (#1714)

Automatic changelog generation for PR #1720 [ci skip]
  html/changelogs/AutoChangeLog-pr-1720.yml
Owners: none

updates tgui autobuilder
  .github/workflows/autobuild_tgui.yml
Owners: @crossedfall

[MIRROR] Nerfs healing holoparasites (#1724)
  code/modules/guardian/abilities/major/healing.dm
Owners: none

Automatic changelog generation for PR #1724 [ci skip]
  html/changelogs/AutoChangeLog-pr-1724.yml
Owners: none

[MIRROR] restores legacy sends to SSChat (#1723)
  code/controllers/subsystem/chat.dm
Owners: none

Automatic changelog generation for PR #1690 [ci skip]
  html/changelogs/AutoChangeLog-pr-1690.yml
Owners: none

2nd ammendment (#1799)
  beestation.dme
  code/_onclick/drag_drop.dm
  code/modules/projectiles/autofire.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
Owners: none

conflict
  code/game/gamemodes/extended/extended.dm
Owners: none

[MIRROR] Removes one-time use on holoparasite resetting (#1721)
  code/modules/guardian/guardian.dm
Owners: none

Automatic changelog generation for PR #1721 [ci skip]
  html/changelogs/AutoChangeLog-pr-1721.yml
Owners: none

[MIRROR] Saving places (#1719)
  beestation.dme
  code/__DEFINES/mapexporting.dm
  code/game/objects/items/storage/storage.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/buildmode/submodes/save_area.dm
  code/modules/mapexporting/mapexporter.dm
  code/modules/mining/machine_silo.dm
Owners: none

Automatic changelog generation for PR #1719 [ci skip]
  html/changelogs/AutoChangeLog-pr-1719.yml
Owners: none

[MIRROR] More Holoparasite fixes and tweaks (#1722)
  beestation.dme
  code/__DEFINES/components.dm
  code/__DEFINES/maps.dm
  code/__HELPERS/level_traits.dm
  code/modules/guardian/abilities/special/pocket.dm
  code/modules/guardian/guardian.dm
  code/modules/guardian/guardianbuilder.dm
  code/modules/guardian/standarrow.dm
  code/modules/mob/living/living.dm
  icons/mob/screen_alert.dmi
Owners: @Cyberboss, @ninjanomnom, @ShizCalev

Automatic changelog generation for PR #1722 [ci skip]
  html/changelogs/AutoChangeLog-pr-1722.yml
Owners: none

github actions now use the identity of the bot
  .github/workflows/autobuild_tgui.yml
  .github/workflows/compile_changelogs.yml
Owners: @crossedfall

conflict
  code/modules/projectiles/autofire.dm
Owners: none

[MIRROR] Full-auto firemode (#1702)
  beestation.dme
  code/_onclick/drag_drop.dm
  code/modules/projectiles/autofire.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
Owners: none

Automatic changelog generation for PR #1702 [ci skip]
  html/changelogs/AutoChangeLog-pr-1702.yml
Owners: none

changes to the webhook
  tools/WebhookProcessor/github_webhook_processor.php
Owners: @crossedfall

[MIRROR] Makes secret extended actually exist. (#1713)
  code/game/gamemodes/extended/extended.dm
Owners: none

Automatic changelog generation for PR #1713 [ci skip]
  html/changelogs/AutoChangeLog-pr-1713.yml
Owners: none

Makes Mimes better (#1809)
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/client/asset_cache.dm
  code/modules/emoji/emoji_parse.dm
  code/modules/spells/spell_types/mime.dm
  icons/pda_icons/pda_emoji.png
Owners: @ShizCalev

Tgui ticket hotfix (#1826)
  code/modules/admin/verbs/adminhelp.dm
Owners: none

[MIRROR] Tgui ticket hotfix (#1728)
  code/modules/admin/verbs/adminhelp.dm
Owners: none

Automatic changelog generation for PR #1728 [ci skip]
  html/changelogs/AutoChangeLog-pr-1728.yml
Owners: none

boingo (#1830)
  code/modules/admin/verbs/debug.dm
Owners: none

Should fix the revolution issue (#1832)
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-1690.yml
  html/changelogs/AutoChangeLog-pr-1702.yml
  html/changelogs/AutoChangeLog-pr-1713.yml
  html/changelogs/AutoChangeLog-pr-1719.yml
  html/changelogs/AutoChangeLog-pr-1720.yml
  html/changelogs/AutoChangeLog-pr-1721.yml
  html/changelogs/AutoChangeLog-pr-1722.yml
  html/changelogs/AutoChangeLog-pr-1724.yml
  html/changelogs/AutoChangeLog-pr-1725.yml
  html/changelogs/AutoChangeLog-pr-1728.yml
Owners: none

[MIRROR] Makes Mimes better (#1727)
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/PDA/cart.dm
  code/modules/client/asset_cache.dm
  code/modules/emoji/emoji_parse.dm
  code/modules/spells/spell_types/mime.dm
  icons/pda_icons/pda_emoji.png
Owners: @ShizCalev

Automatic changelog generation for PR #1727 [ci skip]
  html/changelogs/AutoChangeLog-pr-1727.yml
Owners: none

[MIRROR] Should fix the revolution issue (#1730)
  code/game/gamemodes/game_mode.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
Owners: none

Automatic changelog generation for PR #1730 [ci skip]
  html/changelogs/AutoChangeLog-pr-1730.yml
Owners: none

review your goddamn code (#1834)
  code/game/objects/items/storage/backpack.dm
Owners: none

[MIRROR] Bags of Holding can now bomb again and can't be used for infinite storage (#1731)
  code/game/objects/items/storage/backpack.dm
Owners: none

Automatic changelog generation for PR #1731 [ci skip]
  html/changelogs/AutoChangeLog-pr-1731.yml
Owners: none

removes verb
  code/modules/admin/admin_verbs.dm
Owners: none

[MIRROR] Oopsie Woopsie (#1729)
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
Owners: none

Automatic changelog generation for PR #1729 [ci skip]
  html/changelogs/AutoChangeLog-pr-1729.yml
Owners: none

properly modularises the icons
  austation/code/modules/language/buzzwords.dm
  austation/code/modules/language/calcic.dm
  austation/code/modules/language/shadowtongue.dm
  austation/code/modules/language/sylvan.dm
  austation/code/modules/language/terrum.dm
  austation/code/modules/language/voltaic.dm
  austation/icons/misc/austation_language.dmi
  beestation.dme
  icons/misc/austation_language.dmi
  icons/misc/language.dmi
Owners: @MCterra10, @ShizCalev

PROPERLY modularises the icons
  austation/icons/misc/austation_language.dmi
  icons/misc/austation_language.dmi
Owners: @MCterra10, @ShizCalev
