Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

[MIRROR] Fixes Explorer Gun Damage Increase On Simple Mobs (#4656)
  code/modules/exploration_crew/exploration_laser_gun.dm
Owners: none

Automatic changelog generation for PR #4656 [ci skip]
  html/changelogs/AutoChangeLog-pr-4656.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4656.yml
  html/changelogs/AutoChangeLog-pr-4659.yml
Owners: none

Cargo can now once again accept requests with their own budget. (#54748) (#6162)
  code/modules/cargo/orderconsole.dm
Owners: none

[MIRROR] Cargo can now once again accept requests with their own budget. (#54748) (#4668)
  code/modules/cargo/orderconsole.dm
Owners: none

Automatic changelog generation for PR #4668 [ci skip]
  html/changelogs/AutoChangeLog-pr-4668.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4668.yml
Owners: none

Adds intercom in Pubby toxins launch, moves Delta's intercom. (#6164)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: none

[MIRROR] Roomba Cleanbots (#4655)
  code/datums/components/crafting/recipes.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/mob/aibots.dmi
  icons/obj/janitor.dmi
Owners: none

Automatic changelog generation for PR #4655 [ci skip]
  html/changelogs/AutoChangeLog-pr-4655.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangeLog-pr-4655.yml
Owners: none

fix game_options typo (#6166)
  config/game_options.txt
Owners: @MCterra10

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Flandstation - Service Pack 3 (#6161)
  _maps/map_files/FlandStation/FlandStation.dmm
Owners: none

Xenomorphs Stop Gasping due to atmospheric conditions (#5932)
  code/modules/mob/living/carbon/alien/life.dm
Owners: none

Adds in the assassination objective and fixes alien artifact mission. (#6127)
  beestation.dme
  code/controllers/subsystem/processing/orbits.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/loot/artifact_defenses.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/alien_artifact.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/assassination.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/vip_extraction.dm
Owners: @powerfulbacon

EMP destroys energy based snares (#6122)
  code/game/objects/items/handcuffs.dm
  code/modules/projectiles/projectile/energy/net_snare.dm
Owners: none

Shuttle hacking + Fixes ports breaking when shuttle console is deconstructed (#6114)
  _maps/map_files/CorgStation/CorgStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/exploration_corg.dmm
  _maps/shuttles/exploration_delta.dmm
  _maps/shuttles/exploration_fland.dmm
  _maps/shuttles/exploration_shuttle.dmm
  _maps/shuttles/science_outpost.dmm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/exploration_crew/exploration_shuttle.dm
  code/modules/mining/laborcamp/laborshuttle.dm
  code/modules/mining/mine_items.dm
  code/modules/ruins/spaceruin_code/caravanambush.dm
  code/modules/ruins/spaceruin_code/whiteshipruin_box.dm
  code/modules/shuttle/monastery.dm
  code/modules/shuttle/super_cruise/shuttle_components/shuttle_console.dm
  code/modules/shuttle/white_ship.dm
Owners: @powerfulbacon

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Revert "Revert "Tcomm filtering (#4379)" (#4616)"
  austation.dme
  austation/code/game/machinery/telecomms/machines/server.dm
  code/game/machinery/telecomms/computers/logbrowser.dm
  code/game/machinery/telecomms/machines/server.dm
Owners: none

Persian cat 2.0 (#6175)
  icons/mob/pets.dmi
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

Automatic changelog compile [ci skip]
  html/changelog.html
Owners: none

disable chem gases for now
  austation/code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  austation/code/modules/reagents/chemistry/reagents/other_reagents.dm
  austation/code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

Stops Nightmares from bricking Borgs (#6201)
  code/modules/photography/camera/silicon_camera.dm
Owners: none

add inactive mode
  austation.dme
  austation/code/_globalvars/misc.dm
  austation/code/controllers/configuration/entries/general.dm
  austation/code/modules/admin/admin.dm
  code/controllers/subsystem/server_maint.dm
  code/controllers/subsystem/ticker.dm
  code/modules/client/client_procs.dm
  config/austation.txt
  config/scheduled_deny.html
Owners: @MCterra10

oops missed this
  code/modules/admin/admin_verbs.dm
Owners: none

mogus
  code/modules/client/client_procs.dm
Owners: none

jesus christ lmao
  code/modules/client/client_procs.dm
Owners: none

holy shit gonna kms
  code/modules/client/client_procs.dm
Owners: none

reposition the disconnect
  code/modules/client/client_procs.dm
Owners: none

update default html a bit
  config/scheduled_deny.html
Owners: @MCterra10

further up
  code/modules/client/client_procs.dm
Owners: none

lolol too early
  code/modules/client/client_procs.dm
Owners: none

move to pre-init to avoid connection race
  austation/code/modules/admin/admin.dm
  code/controllers/subsystem/server_maint.dm
Owners: none

hopefully fix the race
  austation/code/_globalvars/misc.dm
  austation/code/modules/admin/admin.dm
  code/controllers/subsystem/server_maint.dm
  code/controllers/subsystem/ticker.dm
  code/modules/client/client_procs.dm
Owners: none

fix config not being ready
  austation/code/_globalvars/misc.dm
  austation/code/controllers/configuration/entries/general.dm
  austation/code/modules/admin/admin.dm
  code/controllers/subsystem/server_maint.dm
  config/austation.txt
Owners: @MCterra10

BRUH
  code/controllers/subsystem/ticker.dm
Owners: none

add inactive mode (#4681)
  austation.dme
  austation/code/_globalvars/misc.dm
  austation/code/modules/admin/admin.dm
  code/controllers/subsystem/server_maint.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  config/scheduled_deny.html
Owners: @MCterra10

Automatic changelog generation for PR #4681 [ci skip]
  html/changelogs/AutoChangeLog-pr-4681.yml
Owners: none
