Repository austation/austation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MCterra10, @TheFakeElon, @ike709, @powerfulbacon

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners


# mcterra10
/austation/modules/techweb/ @MCterra10
/austation/tools/ @MCterra10
/config/ @MCterra10

<<<<<<< HEAD
# thefakeelon
/austation/code/modules/coilgun @TheFakeElon
=======

# ike709

/code/modules/client/loadout @ike709


# powerfulbacon

/code/game/machinery/shuttle @powerfulbacon
/code/modules/shuttle/super_cruise @powerfulbacon
/code/modules/shuttle/shuttle_creation @powerfulbacon
/_maps/map_files/CorgStation @powerfulbacon
>>>>>>> b549c0bafa... Update CODEOWNERS (#5334)

Automatic changelog generation for PR #4862 [ci skip]
  html/changelogs/AutoChangeLog-pr-4862.yml
Owners: none

[MIRROR] Adds mentor chat to the TGUI chat filter and improves MSAY window. (#4863)
  code/__DEFINES/chat.dm
  code/modules/mentor/mentorsay.dm
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Owners: none

Automatic changelog generation for PR #4863 [ci skip]
  html/changelogs/AutoChangeLog-pr-4863.yml
Owners: none

[MIRROR] Stops current sounds when you go deaf (#4864)
  code/datums/mutations/body.dm
  code/modules/surgery/organs/ears.dm
Owners: none

Automatic changelog generation for PR #4864 [ci skip]
  html/changelogs/AutoChangeLog-pr-4864.yml
Owners: none

Fixes some small issues with get_hearers_in_view regarding invisible mobs (#6587)
  code/__HELPERS/game.dm
  code/modules/instruments/songs/_song.dm
  code/modules/mob/mob.dm
Owners: none

[MIRROR] Fixes the atmosbot control panel (#4865)
  code/modules/mob/living/simple_animal/bot/atmosbot.dm
Owners: none

Automatic changelog generation for PR #4865 [ci skip]
  html/changelogs/AutoChangeLog-pr-4865.yml
Owners: none

[MIRROR] Makes automatic conveyors actually start (#4866)
  code/modules/recycling/conveyor2.dm
Owners: none

Automatic changelog generation for PR #4866 [ci skip]
  html/changelogs/AutoChangeLog-pr-4866.yml
Owners: none

[MIRROR] Stops magic SMES from dividing infinity by infinity (#4867)
  code/modules/power/smes.dm
Owners: none

Automatic changelog generation for PR #4867 [ci skip]
  html/changelogs/AutoChangeLog-pr-4867.yml
Owners: none

[MIRROR] Fixes defibrillator overlay not appearing on the pre-loaded wallmount (#4868)
  code/game/machinery/defibrillator_mount.dm
Owners: none

Automatic changelog generation for PR #4868 [ci skip]
  html/changelogs/AutoChangeLog-pr-4868.yml
Owners: none

[MIRROR] Fixes issue with pixel perfect 1.5x not saving properly (#4869)
  code/__HELPERS/sanitize_values.dm
  code/modules/client/preferences_savefile.dm
Owners: none

Automatic changelog generation for PR #4869 [ci skip]
  html/changelogs/AutoChangeLog-pr-4869.yml
Owners: none

[MIRROR] Properly sanitizes gene codes (#4857)
  code/game/machinery/computer/dna_console.dm
Owners: none

Automatic changelog generation for PR #4857 [ci skip]
  html/changelogs/AutoChangeLog-pr-4857.yml
Owners: none

Another slimeperson murder fix (#6488)
  code/modules/mob/living/simple_animal/guardian/types/support.dm
Owners: none

[MIRROR] Space vines fix (#4871)
  code/modules/events/spacevine.dm
Owners: none

Automatic changelog generation for PR #4871 [ci skip]
  html/changelogs/AutoChangeLog-pr-4871.yml
Owners: none

[MIRROR] New Medical Implant, Surgery minor fix (#4860)
  austation/code/modules/research/techweb/all_nodes.dm
  code/__DEFINES/DNA.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/loot/research_disks.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/surgery.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4860 [ci skip]
  html/changelogs/AutoChangeLog-pr-4860.yml
Owners: none

[MIRROR] Repipes Kilo to be less cancer. (#4872)
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: none

Automatic changelog generation for PR #4872 [ci skip]
  html/changelogs/AutoChangeLog-pr-4872.yml
Owners: none

oops (#6497)
  code/datums/mutations/actions.dm
  code/datums/mutations/body.dm
Owners: none

[MIRROR] No More Crewsimov (#4873)
  code/datums/ai_laws.dm
  config/game_options.txt
Owners: @MCterra10

Automatic changelog generation for PR #4873 [ci skip]
  html/changelogs/AutoChangeLog-pr-4873.yml
Owners: none

[MIRROR] New ID sprites (#4874)
  code/game/machinery/PDApainter.dm
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_types/brigphys.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/deputy.dm
  code/modules/jobs/job_types/emt.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/virologist.dm
  icons/obj/card.dmi
Owners: none

Automatic changelog generation for PR #4874 [ci skip]
  html/changelogs/AutoChangeLog-pr-4874.yml
Owners: none

[MIRROR] Fixes global bitflag list (#4875)
  code/__DEFINES/flags.dm
Owners: none

Automatic changelog generation for PR #4875 [ci skip]
  html/changelogs/AutoChangeLog-pr-4875.yml
Owners: none

[MIRROR] Fix typo in corazone description (#4876)
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
Owners: none

Automatic changelog generation for PR #4876 [ci skip]
  html/changelogs/AutoChangeLog-pr-4876.yml
Owners: none

[MIRROR] Removes Sentient Disease (#4880)
  beestation.dme
  code/datums/diseases/advance/advance.dm
  code/modules/antagonists/disease/disease_datum.dm
  code/modules/antagonists/disease/disease_disease.dm
  code/modules/antagonists/disease/disease_event.dm
  code/modules/antagonists/disease/disease_mob.dm
Owners: none

Automatic changelog generation for PR #4880 [ci skip]
  html/changelogs/AutoChangeLog-pr-4880.yml
Owners: none

[MIRROR] Artifact Enemy Rebalance (#4882)
  code/modules/shuttle/super_cruise/orbital_poi_generator/loot/artifact_defenses.dm
  code/modules/shuttle/super_cruise/orbital_poi_generator/objective_types/alien_artifact.dm
Owners: @powerfulbacon

Automatic changelog generation for PR #4882 [ci skip]
  html/changelogs/AutoChangeLog-pr-4882.yml
Owners: none

Fixes Cat Claws, lowers Acid Ooze power. (#6539)
  code/datums/mutations/actions.dm
  code/datums/mutations/body.dm
Owners: none

[MIRROR] Another slimeperson murder fix (#4870)
  code/modules/mob/living/simple_animal/guardian/types/support.dm
Owners: none
