Repository austation/austation, pull requests merged in 2021-04, with the labels that each got.

#3325 Adds Missing stamina armour flags
  austation/code/modules/clothing/head/helmet.dm
  austation/code/modules/clothing/masks/miscellaneous.dm
  austation/code/modules/clothing/under/miscellaneous.dm
Labels: Tweak

#3333 Adds bushranger gear and room
  _maps/RandomRooms/5x3/sk_rdm213_bushrangergear.dmm
  austation.dme
  austation/code/modules/awaymissions/corpse.dm
  austation/code/modules/clothing/head/helmet.dm
  austation/code/modules/clothing/suits/armor.dm
  austation/code/modules/mapping/random_rooms.dm
  austation/icons/mob/clothing/suit.dmi
  austation/icons/mob/head.dmi
  austation/icons/obj/clothing/hats.dmi
  austation/icons/obj/clothing/suit.dmi
Labels: Map Edit

#3374 Controversial Mining Rework Modularization
  .editorconfig
  austation.dme
  austation/code/__DEFINES/lavaland.dm
  austation/code/modules/mining/lavaland/necropolis_chests.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/legion.dm
Labels: Modularized

#3375 Austation map - Re-positions plumbing and viro, adds missing stuff
  _maps/map_files/Austation/Austation.dmm
Labels: Map Edit, Tweak

#3395 Add Some Random Missed changes from Meta
  _maps/map_files/Austation/Austation.dmm
Labels: Map Edit
