Repository austation/austation, pull requests merged in 2023-10, with the labels that each got.

#6079 update github actions for changelogs
  .github/workflows/compile_changelogs.yml
  .github/workflows/make_changelogs.yml
Labels: GitHub

#6081 Modular Code System and QoL
  .github/workflows/continuous_integration.yml
  .github/workflows/update_tgs_dmapi.yml
  README.md
  SpacemanDMM.toml
  austation.dme
  austation/README.md
  austation/code/modules/research/techweb/_techweb_node.dm
  code/controllers/subsystem/vote.dm
Labels: GitHub

#6083 Gets OOC and ahelps working again with TGS
  austation.dme
  austation/code/modules/relay/relay.dm
  config/config.txt
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools, Server

#6084 Bruisepacks and Ointment no longer prevent self-care
  code/game/objects/items/stacks/medical.dm
Labels: Balance/Rebalance
